// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .filter {
        &.block {
            margin-bottom: 0;
        }

        &-title {
            strong {
                @_shadow: inset 0 1px 0 0 @color-white, inset 0 -1px 0 0 fade(@border-color__base, 30);

                background: #000000;
                color: #ffffff;
                display: block;
                font-size: 14px;
                font-weight: 400;
                line-height: 44px;
                margin-bottom: 0;
                padding: 0 10px;
                text-transform: uppercase;

                &[data-count]:after {
                    .lib-css(color, @color-white);
                    background: @color-orange-red1;
                    border-radius: 2px;
                    content: attr(data-count);
                    display: inline-block;
                    font-size: .8em;
                    line-height: 1;
                    margin: 0 @indent__xs;
                    min-width: 1em;
                    padding: 2px;
                }

                &.disabled {
                    opacity: .5;
                }
            }
        }

        .block-subtitle {
            border-bottom: @border-width__base solid @border-color__base;
            font-size: @font-size__base;
            font-weight: @font-weight__semibold;
            line-height: 1em;
            padding: @indent__s 0 @indent__base;
            display: none;
        }

        &-subtitle {
            display: none;
        }

        &-current {
            margin: 0;

            .items {
                padding: @indent__xs 0;
            }

            .item {
                padding-left: 17px;
                position: relative;
                z-index: 1;
            }

            .filter &-subtitle {
                border: none;
                display: block;
                padding-bottom: @indent__s;
            }

            .action.remove {
                &:extend(.abs-remove-button-for-blocks all);
                left: -2px;
                position: absolute;
                top: -1px;
            }
        }

        &-actions {
            font-size: 12px;
            margin-bottom: @indent__m;
            padding: 0;
        }

        &-label {
            font-weight: @font-weight__bold;

            &:after {
                content: ': ';
            }
        }

        &-value {
            .lib-css(color, @filter-quantity);
        }

        &-options {
            display: none;
            margin: 0;

            &-item {
                margin-bottom: 35px;
            }

            &-title {
                border-bottom: 1px solid @grey-border;
                cursor: pointer;
				font-family: @futura-bt-font;
                font-size: 14px;
                font-weight: 900;
                margin: 0;
                overflow: hidden;
                padding: 0 0 10px;
                position: relative;
                text-transform: uppercase;
                word-break: break-all;
                z-index: 1;

                .lib-icon-font(
                @_icon-font-content: @icon-down,
                @_icon-font-size: 13px,
                @_icon-font-position: after,
                @_icon-font-display: block
                );

                &:after {
                    display: none;
                    position: absolute;
                    right: 13px;
                    top: 12px;
                }

                &:hover {
                    .lib-css(color, @filter-link-hover);
                }

                .active > & {
                    .lib-icon-font-symbol(
                        @_icon-font-content: @icon-up,
                        @_icon-font-position: after
                    );
                }
            }

            &-content {
                display: block !important;
                margin: 0;
                padding: 5px 0 0;

                .item {
                    font-size: 13px;
                    margin: @indent__s 0;
                    a{
                        position: relative;
                    }
                    input[type="radio"]{
                        position: absolute;
                        opacity: 0;
                        & ~ .label{
                            &:before{
                                background: url('../images/radioIcon.png') no-repeat left;
                                background-size: 15px;
                                content: '';
                                display: inline-block;
                                height: 16px;
                                margin-right: 10px;
                                position: relative;
                                top: 3px;
                                width: 16px;
                            }
                        }
                        &:checked ~ .label{
                            &:before{
                                background: url('../images/radioCheckedIcon.png') no-repeat left;
                                background-size: 15px;
                            }
                        }
                    }
                }

                a {
                    color: #000000;

                    &:hover {
                        color: #000000;
                        & + .count {
                            background-color: @color-gray91;
                        }
                    }
                }

                .count {
                    .lib-css(color, @filter-quantity);
                    font-weight: @font-weight__light;
                    padding-left: 5px;
                    padding-right: 5px;
                    display: none;

                    &:before {
                        content: '(';
                    }

                    &:after {
                        content: ')';
                    }
                }

                .filter-count-label {
                    &:extend(.abs-visually-hidden all);
                }

            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    body {
        &.filter-active {
            .page-header {
                display: none;
            }

            .page-wrapper {
                height: 0;
                margin-top: -999999em;
                visibility: hidden;
            }

            .columns {
                z-index: 999;
            }
        }
    }

    .filter {
        &.block{
            float: left;
            width: 50%;
        }
        &.active {
            position: relative;
            visibility: visible;
            z-index: 99;

            .filter-options-item:last-child {
                margin-bottom: @indent__xl;
            }

            .filter-title {
                height: 50px;
                left: 0;
                position: fixed;
                right: 0;
                top: 0;
                z-index: 2;

                strong {
                    .lib-css(box-shadow, none);
                    background: none;
                    border-bottom: 1px solid #b7b7b7;
                    color: #000000;
                    left: auto;
                    right: 3px;
                    top: 0;
                    .lib-icon-font(
                    @icon-remove,
                    @_icon-font-color: @text__color__muted,
                    @_icon-font-size: 12px,
                    @_icon-font-position: after
                    );
                    font-size: 16px;
                    width: 100%;
                    margin: 0;
                    height: 50px;
                    line-height: 48px;
                    &:after{
                        color: #000000;
                        float: right;
                    }
                }
            }

            .filter-subtitle {
                .lib-css(background, @toolbar-background);
                border-bottom: 1px solid #b7b7b7;
                display: block;
                display: none;
                height: 50px;
                left: 0;
                line-height: 50px;
                padding: 0 10px;
                position: fixed;
                right: 0;
                top: 0;
                z-index: 1;
            }

            .filter-content{
                bottom: 0;
                left: 0;
                right: 0;
                overflow: scroll;
                position: fixed;
                top: 65px;
                z-index: 10;
            }

            .filter-options {
                .lib-css(background, @color-white);
                display: block;
            }

            .filter-actions{
                display: block;
            }
            .filter-current{
                display: block;
            }
        }
    }

    .filter {
        & &-subtitle {
            font-size: 16px;
            font-weight: 500;
        }

        &-actions {
            display: none;
            margin: 0 0 25px;
            padding: 0 10px;
        }

        &-options-content {
            padding: @indent__xs @indent__s;
        }
        &-options-item {
            margin-bottom: 15px;
        }
        &-options-title{
            font-size: 14px;
            font-weight: 400;
            padding: 0 10px 10px;
        }
    }

    .filter .filter-current {
        display: none;
        padding: 0 10px;
        &-subtitle {
            font-size: 13px;
            position: relative;
            z-index: 1;

            .lib-icon-font(
                @_icon-font-content: @icon-down,
                @_icon-font-size: 13px,
                @_icon-font-position: before,
                @_icon-font-display: block
            );

            &:before {
                display: none;
                position: absolute;
                right: 10px;
                top: 10px;
            }

            &:after {
                .lib-css(color, @text__color__muted);
                content: ' (' attr(data-count) ')';
                font-size: .9em;
            }
        }

        &.active {
            .block-subtitle {
                .lib-icon-font-symbol(
                    @_icon-font-content: @icon-up,
                    @_icon-font-position: before
                );
                &:before{
                    display: none;
                }
            }

            .items {
                display: block;
            }

            & + .block-actions {
                display: block;
            }
        }
    }

    .filter-no-options {
        .filter-title {
            &:before {
                background: rgba(255,255,255,.5);
                content: '';
                display: none;
                height: 40px;
                left: -15px;
                margin-top: -60px;
                position: relative;
                width: 100px;
                z-index: 99;
            }
        }

        .filter-content {
            margin-bottom: @indent__base;
        }
    }

    .page-with-filter {
        .columns {
            .sidebar-main {
                .lib-vendor-prefix-order(0);
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

    .filter {
        &.block {
            margin-bottom: @indent__xl;
            margin-top: 12px;
        }

        &-title {
            display: none;
        }

        &-content {
            .item {
                margin: 15px 0;
            }
        }

        &-actions {
            margin-bottom: @indent__l;
        }

        &.active &-options,
        &-options {
            background: transparent;
            clear: both;
            display: block;
            overflow: initial;
            position: static;
        }

        &-subtitle {
            display: block;
            position: static;
        }
    }
	.page-layout-1column {
		.toolbar-products {
			position: static !important;
		}
	}
    .page-layout-1column {
        .toolbar-products {
            margin-top: -24px;
            position: absolute;
            top: 0;
            width: 100%;
        }

        .products ~ .toolbar-products {
            position: static;
        }

        .filter {
            &.block{
                margin: 0;
            }
            &-subtitle {
                display: none;
            }

            &-options {
                &-item {
                    border: 0;
                    display: inline-block;
                    margin-bottom: 0;
                    margin-right: 30px;
                    position: relative;

                    &.active {
                        z-index: 2;

                        .filter-options-content {
                            padding: 10px;
                            visibility: visible;
                        }

                        &:hover {
                            z-index: 3;
                        }

                        &:after,
                        &:before {
                            .lib-arrow(up, 8px, @color-black);
                            border-bottom-color: #9e9e9e;
                            bottom: -11px;
                            content: '';
                            display: block;
                            left: @indent__xs;
                            position: absolute;
                            z-index: 3;
                        }

                        &:after {
                            .lib-css(border-bottom-color, @color-white);
                            margin-top: 2px;
                            z-index: 4;
                        }
                    }
                }

                &-title {
                    border-bottom: none;
                    font-size: 13px;
                    font-weight: 400;
                    padding: 0 25px 0 0;
                    text-transform: inherit;

                    &:after {
                        display: block;
                        font-size: 10px;
                        right: 0;
                        top: 3px;
                        z-index: 3;
                    }
                }

                &-content {
                    @_shadow: 0 3px 5px 0 rgba(50, 50, 50, .2);

                    .lib-css(background, @color-white);
                    .lib-css(box-shadow, @_shadow, 1);
                    border: 1px solid @border-color__base;
                    border: 1px solid @grey-border;
                    padding: @indent__xs 0;
                    margin-top: 10px;
                    position: absolute;
                    top: 100%;
                    visibility: hidden;
                    width: 180px;
                    z-index: 2;

                    .item {
                        margin: 0;
                        
                        a {
                            margin-left: 0;
							display: block;
							padding: 10px;
                            &:hover{
                                text-decoration: none;
                            }
                        }

                        &:hover {
                            background-color: @color-gray91;
                        }
                    }
                }
            }

            &-current {
                display: inline;
                line-height: 35px;

                &-subtitle {
                    .lib-css(color, @text__color__muted);
                    display: inline;
                    font-size: @font-size__base;
                    font-weight: normal;
                    padding: 0;

                    &:after {
                        content: ':';
                    }
                }

                .item,
                .items {
                    display: inline;
                }

                .item {
                    margin-right: @indent__m;
                    white-space: nowrap;
                }

                .action.remove {
                    line-height: normal;
                }
            }

            &-actions {
                display: inline;
                white-space: nowrap;

                & ~ .filter-options {
                    margin-top: @indent__m;
                }
            }
        }
    }
}
