<?php 
$_helper = $this->helper('MageArray\CustomOptions\Helper\Data');
$hasExtraElements = $_helper->enableExtraElements(); 
$hasDependantModule = $_helper->isDependantModuleEnable();
?>
<?php /** @var $block \Magento\Catalog\Block\Adminhtml\Product\Edit\Tab\Options\Type\Select */ ?>
<script id="custom-option-select-type-template" type="text/x-magento-template">
    <div id="product_option_<%- data.option_id %>_type_<%- data.group %>" class="fieldset">
        <table class="data-table">
            <thead>
                <tr>
                    <th class="col-draggable">&nbsp;</th>
					<?php if($hasDependantModule): ?>
						<th><?php /* @escapeNotVerified */ echo __('ID') ?></th>
					<?php endif; ?>
                    <th class="col-name required"><?php /* @escapeNotVerified */ echo __('Title') ?><span class="required">*</span></th>
                    <?php if ($block->getCanReadPrice() !== false) : ?>
                    <th class="col-price"><?php /* @escapeNotVerified */ echo __('Price') ?></th>
                    <th class="col-price-type"><?php /* @escapeNotVerified */ echo __('Price Type') ?></th>
                    <?php endif; ?>
                    <th class="col-sku"><?php /* @escapeNotVerified */ echo __('SKU') ?></th>
					<?php if($hasExtraElements): ?>
						<th class="col-ma-display-image"><?php echo __('Image') ?></th>
						<th class="col-ma-select-image"><?php echo __('Select Image') ?></th>
						<th class="col-ma-description"><?php echo __('Description') ?></th>
					<?php endif; ?>
					<?php if($hasDependantModule): ?>
						<th class="col-dependant"><?php echo __('Dependant') ?></th>
					<?php endif; ?>
                    <th class="col-actions">&nbsp;</th>
                </tr>
            </thead>
            <tbody id="select_option_type_row_<%- data.option_id %>"></tbody>
            <tfoot>
                <tr>
                    <td colspan="6"><?php echo $block->getAddButtonHtml() ?>
                        <input name="validation_<%- data.option_id %>_result" class="required-option-select-type-rows" type="hidden" value="">
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</script>
<script id="custom-option-select-type-row-template" type="text/x-magento-template">
    <tr id="product_option_<%- data.id %>_select_<%- data.select_id %>">
		<td class="col-draggable">
            <div data-role="draggable-handle" class="draggable-handle"
                 title="<?php /* @escapeNotVerified */ echo __('Sort Custom Option'); ?>"></div>
            <input name="product[options][<%- data.id %>][values][<%- data.select_id %>][sort_order]" type="hidden" value="<%- data.sort_order %>">
        </td>
		<?php if($hasDependantModule): ?>
			<td class="col-row_id row_id_input">
				<input name="product[options][<%- data.id %>][values][<%- data.select_id %>][row_id]" id="product_option_<%- data.id %>_select_<%- data.select_id %>_row_id" class="input-text type-row_id" value="<%- data.row_id %>" type="text" readonly>
			</td>
		<?php endif; ?>
        <td class="col-name select-opt-title">
            <input name="product[options][<%- data.id %>][values][<%- data.select_id %>][option_type_id]" type="hidden" value="<%- data.option_type_id %>">
            <input id="product_option_<%- data.id %>_select_<%- data.select_id %>_is_delete" name="product[options][<%- data.id %>][values][<%- data.select_id %>][is_delete]" type="hidden" value="">
            <input id="product_option_<%- data.id %>_select_<%- data.select_id %>_title" <% if (typeof data.scopeTitleDisabled != 'undefined' && data.scopeTitleDisabled != null) { %> disabled="disabled" <% } %> name="product[options][<%- data.id %>][values][<%- data.select_id %>][title]" class="required-entry input-text select-type-title <% if (typeof data.scopeTitleDisabled != 'undefined' && data.scopeTitleDisabled != null) { %> disabled <% } %>" type="text" value="<%- data.title %>" data-store-label="<%- data.title %>"><%- data.checkboxScopeTitle %>
        </td>
        <?php if ($block->getCanReadPrice() !== false) : ?>
        <td class="col-price select-opt-price">
            <input id="product_option_<%- data.id %>_select_<%- data.select_id %>_price"
                   <% if (typeof data.scopePriceDisabled != 'undefined' && data.scopePriceDisabled != null) { %> disabled="disabled" <% } %>
                   name="product[options][<%- data.id %>][values][<%- data.select_id %>][price]"
                   class="input-text validate-number product-option-price"
                   type="text" value="<%- data.price %>" data-store-label="<%- data.price %>"
                <?php if ($block->getCanEditPrice() === false) : ?>
                   disabled="disabled"
                <?php endif; ?>>
        </td>
        <td class="col-price-type select-opt-price-type">
            <?php /* @escapeNotVerified */ echo $block->getPriceTypeSelectHtml('data-attr="price-type" <% if (typeof data.scopePriceDisabled != "undefined" && data.scopePriceDisabled != null) { %> disabled="disabled" <% } %>') ?><%- data.checkboxScopePrice %>
        </td>
        <?php else : ?>
        <input id="product_option_<%- data.id %>_select_<%- data.select_id %>_price" name="product[options][<%- data.id %>][values][<%- data.select_id %>][price]" type="hidden">
        <input id="product_option_<%- data.id %>_select_<%- data.select_id %>_price_type" name="product[options][<%- data.id %>][values][<%- data.select_id %>][price_type]" type="hidden">
        <?php endif; ?>
        <td class="col-sku">
            <input name="product[options][<%- data.id %>][values][<%- data.select_id %>][sku]" class="input-text" type="text" value="<%- data.sku %>">
        </td>
		<?php if($hasExtraElements): ?>
		<td class="col-ma-display-image">
			<div class="no-display" id="display_image_div_<%- data.id %>-<%- data.select_id %>">
				<img src="<%- data.image_url %>" width="35px" height="35px" id="display_image_<%- data.id %>-<%- data.select_id %>"/>
				<span class="action-delete" onclick="deleteimage('<%- data.id %>-<%- data.select_id %>')">&nbsp;</span>
				<input name="product[options][<%- data.id %>][values][<%- data.select_id %>][remove_image]" type="hidden" id="remove_image_<%- data.id %>-<%- data.select_id %>">
			</div>
        </td>
		<td class="col-ma-select-image">
            <input name="product[options][<%- data.id %>][values][<%- data.select_id %>][image]" class="input-file browse-image no-display" type="file" id="browse_image_<%- data.id %>-<%- data.select_id %>" onChange="browseImage(this)" accept="image/*">
			<label class="file-uploader-button action-secondary" onClick="this.previousElementSibling.click()"><?php echo __('...') ?></label>
			<input name="product[options][<%- data.id %>][values][<%- data.select_id %>][store_image]" type="hidden" value="<%- data.store_image %>" id="store_image_<%- data.id %>-<%- data.select_id %>">
        </td>
		<td class="col-ma-description">
            <textarea name="product[options][<%- data.id %>][values][<%- data.select_id %>][description]" class="textarea input-text"><%- data.description %></textarea>
        </td>
		<?php endif; ?>
		<?php if($hasDependantModule): ?>
		<td class="col-dependent_options dependentdiv">
			<input name="product[options][<%- data.id %>][values][<%- data.select_id %>][dependent_options]" class="input-text dependent_values" id="dependent_<%- data.id %>_<%- data.select_id %>" type="text" value="<%- data.dependent_options %>" readonly>
			
			<div class="listbox"> 
				<div class="optionsbox" style="display:none;">
					<span class="okselect button" title="<?php echo __('OK') ?>"><?php echo __('OK') ?></span>
					<span class="cancelselect button" title="<?php echo __('Cancel') ?>"><?php echo __('Cancel') ?></span>
					<hr />
					<ul class="optionselect"></ul>
				</div>
			</div>
		</td>
		<?php endif ?>
        <td class="col-actions col-delete"> <?php echo $block->getDeleteButtonHtml() ?></td>
    </tr>
</script>
