.optionsbox {
	position: absolute;
    background: #D3D3D9;
    padding: 11px;
    z-index: 9999999999;
    height: auto;
    margin-left: -24%;
    margin-top: -34px;
    box-shadow: 0 0px 10px black;
    border-radius: 2px;
}
.optionsbox .hideselect {
	position: absolute;
    top: -4px;
    right: 4px;
	cursor: pointer;
}
.optionsbox .button {
    background: #514943;
    color: white;
    margin: 0 3px;
	cursor: pointer;
    padding: 0 4px;
}
.optionsbox select.optionselect {
    min-width: 250px;
    font-size: 17px;
    margin: 5px;
    display: block;
    min-height: 200px;
}
.optionsbox select.optionselect:after {
    position: absolute;
    content: ">";
    right: -9px;
    top: 5px;
}
.optionselect optgroup option {
    font-size: 15px;
}
.optionselect > option {
    font-weight: bold;
    font-size: 15px;
}
ul.optionselect {
    margin: 0 15px;
    height: 500px;
    overflow-y: scroll;
    padding: 0 20px;
}
.optionselect li {
    margin: 8px 0px;
}
.optionselect li label, 
.optionselect input[type='checkbox'] {
    cursor: pointer;
}
.dependentdiv:before {
    position: absolute;
    content: "...";
    transform: rotate(90deg);
    margin-top: 10px;
    font-size: 18px;
    margin-left: 53px;
    background-color: #eb5202;
    color: white;
    width: 26px;
    height: 13px;
    opacity: 0.7;
    line-height: 3px;
    text-align: center;
	display:none;
}
.dependentdiv input {
    cursor: pointer;
}
.dependentoptionfield._fit{
	position:relative;
}
.magearrayoptions .admin__control-table-wrapper{
	overflow:visible;
}
.dependentoptionfield .listbox{
	position: relative;
}
.dependentoptionfield .optionsbox{
	margin-left: 0;
	right: 80px;
	min-width: 400px;
	max-width: 700px;
}
.dependentoptionfield .optionsbox .button{
	background-color: #514943;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	font-size: 1.6rem;
    letter-spacing: .025em;
	border: 1px solid #514943;
    border-radius: 0;
    display: inline-block;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;
    line-height: 1.36;
    padding: .6rem 1em .6rem;
    text-align: center;
    vertical-align: baseline;
}
.dependentoptionfield .optionsbox .button:hover{
	background-color: #35302c;
    border-color: #35302c;
    box-shadow: 0 0 0 1px #007bdb;
    color: #fff;
    text-decoration: none;
}
.dependentoptionfield .optionsbox .optionselect li{
	position:relative;
}
.dependentoptionfield .optionsbox .optionselect li ul li input{
	left: 0;
    top: 3px;
	position: absolute;
}
.dependentoptionfield .optionsbox .optionselect li ul li hr + input{
	top: 13px;
}
.dependentoptionfield .optionsbox .optionselect li label{
	padding-left: 17px;
}
.dependentoptionfield .optionsbox .optionselect li .viewbtn{
	font-weight: bold;
	padding-left: 17px;
	cursor:pointer;
}
.dependentdiv input {
    cursor: pointer;
    background: url(../images/dependent-select.png);
    background-repeat: no-repeat;
    background-position: 96% 50%;
}