// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //  Newsletter subscription
    .block.newsletter {
        margin: 0 auto;
        max-width: 400px;
        padding: 18px 0 10px;
        width: 100%;
        h3{
            font-family: @futura-bt-font;
            font-size: 20px;
            font-weight: 400;
            margin: 0 0 6px;
            text-align: center;
        }
        p{
            font-size: 13px;
            margin: 0 0 15px;
            text-align: center;
        }
        .form.subscribe {
            position: relative;
        }

        .fieldset {
            display: table-cell;
            margin: 0;
            padding: 0;
            vertical-align: top;
        }

        .field {
            margin: 0;

            .control {
                .lib-icon-font(
                @icon-envelope,
                @_icon-font-size: 16px,
                @_icon-font-line-height: 32px,
                @_icon-font-color: @form-element-input-placeholder__color,
                @_icon-font-margin: 0 0 0 8px
                );

                &:before {
                    display: none;
                    position: absolute;
                }

                display: block;
            }
        }

        input {
            padding-right: 62px;
        }

        .title {
            display: none;
        }

        .label {
            display: none;
        }

        .action.subscribe {
            background: url('../images/newslIcon.png') no-repeat center;
            background-size: 24px;
            border: none;
            width: 62px;
            height: 42px;
            padding: 0;
            position: absolute;
            right: 1px;
            top: 1px;
            span{
                display: none;
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .block.newsletter {
        padding: 23px 0 18px;
        h3{
            font-size: 24px;
        }
    }
}
