// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

@mobile-cart-padding: 15px;
@cart-price-color: @color-gray40;
@cart-item-cell-padding-top: 20px;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //
    //  Shopping cart
    //  ---------------------------------------------

    //  Cart container
    .cart-container {
        .form-cart {
            &:extend(.abs-shopping-cart-items all);
        }
    }

    //  Summary block
    .cart-summary {
        &:extend(.abs-add-box-sizing all);
        background: #ffffff;
        border: 1px solid @grey-border;
        margin-bottom: 0;
        padding: 0;

        > .title {
            display: block;
            font-size: 15px;
            font-weight: 600;
            margin: 15px 0 10px;
            padding: 0 10px;
        }

        .block {
            padding: 0 10px;
            form:not(:last-of-type) {
                .fieldset {
                    margin: 0 0 5px;
                }
            }

            .price {
                font-weight: 400;
            }

            .field {
                margin: 0 0 15px;

                &.note {
                    display: none;
                }
            }

            .actions-toolbar {
                > .primary {
                    text-align: left;
                }
            }

            .fieldset.estimate {
                > .legend,
                > .legend + br {
                    &:extend(.abs-no-display all);
                }
            }

            &:extend(.abs-cart-block all);
            .title {
                strong {
                    .lib-font-size(14);
                    font-weight: @font-weight__semibold;
                }
            }

            & > .title{
                background: #fafafa;
                border: 1px solid #e1e1e1;
                padding: 13px 20px 13px 10px;
                strong{
                    font-size: 13px;
                    font-weight: 400;
                }
                &:after{
                    color: #000000;
                    font-size: 9px;
                    font-weight: 400;
                    right: 10px;
                    margin-top: 5px;
                }
            }

            .content{
                padding: 15px 0 0;
            }

            .items.methods{
                dt{
                    font-size: 14px;
                    font-weight: 500;
                    margin-bottom: 10px;
                }
            }

            .item-options {
                margin: 0 0 10px;

                .field {
                    margin: 0 0 10px;
                    .radio {
                        float: left;
                    }

                    .radio {
                        + .label {
                            display: block;
                            margin: 0;
                            overflow: hidden;
                        }
                    }
                }
            }
        }

        .page-main & {
            .block {
                margin-bottom: 0;
            }
        }

        .checkout-methods-items {
            &:extend(.abs-reset-list all);
            background: #fcfcfc;
            margin: 15px 0 0;
            padding: 15px 10px;
            text-align: center;

            .action.primary.checkout {
                font-size: 13px;
                font-weight: 600;
                letter-spacing: 0.5px;
                padding: 0 5px;
                width: 100%;
            }

            .item {
                margin-bottom: 16px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .message {
            padding-left: @indent__base;

            > *:first-child:before {
                display: none;
            }
        }

        &:extend(.abs-adjustment-incl-excl-tax all);

        .action {
            &.multicheckout {
                color: @black-color;
                font-size: 12px;
                font-weight: 500;
            }
        }
    }

    //  Totals block
    .cart-totals {
        &:extend(.abs-sidebar-totals all);
        border-top: none;
        margin-bottom: 12px;
        margin-top: 10px;
        padding: 0 10px;
        .table-wrapper{
            border-top: 1px solid @grey-border;
        }
        tbody,
        tfoot {
            .mark {
                border-bottom: 1px solid @grey-border;
                font-size: 13px;
                padding: 13px 0;
                text-align: left;
            }
            .amount{
                border-bottom: 1px solid @grey-border;
                font-size: 13px;
                padding: 13px 0 13px 10px;
            }
        }

        .grand{
            .mark{
                border-bottom: none;
                border-top: none;
                font-size: 13px;
                padding: 13px 0;
            }
            .amount{
                border-bottom: none;
                border-top: none;
                font-size: 14px;
                padding: 13px 0 13px 10px;
                strong{
                    font-weight: 600;
                }
            }
            strong{
                font-weight: 400;
                padding: 0;
            }
        }

        .discount.coupon {
            display: none;
        }
    }

    .block.discount{
        .fieldset > .field{
            .label{
                font-weight: 500;
            }
        }
    }

    //  Products table
    .cart {
        &.table-wrapper {
            .cart {
                thead {
                    tr th.col {
                        border-bottom: 3px solid @grey-border;
                        font-size: 15px;
                        font-weight: 600;
                        padding-bottom: 15px;
                        padding-top: 15px;
                    }
                }

                tbody {
                    td {
                        border: 0;
                    }
                }

                > .item {
                    border-bottom: 1px solid @grey-border;
                    position: relative;
                }
            }

            .col {
                padding-top: 15px;

                &.price,
                &.subtotal,
                &.msrp {
                    padding: @cart-item-cell-padding-top 11px @indent__s;
                    text-align: center;
                    &:extend(.abs-incl-excl-tax all);
                }

                &.subtotal, &.price{
                    .price-excluding-tax{
                        color: #000000;
                        font-size: 16px;
                        font-style: italic;
                        .price{
                            font-weight: 300;
                        }
                    }
                }

                &.qty {
                    padding: @indent__base 11px @indent__s;
                    text-align: center;

                    .label {
                        &:extend(.abs-visually-hidden all);
                    }

                    .input-text {
                        height: 36px;
                        margin-top: -7px;
                        text-align: center;
                        width: 45px;
                    }
                }

                > .price {
                    .lib-css(color, @primary__color__lighter);
                    .lib-font-size(18);
                    font-weight: @font-weight__bold;
                }
            }

            .item-actions {
                td {
                    padding: 0;
                    white-space: normal;
                }
            }

            .item {
                .col.item {
                    display: block;
                    min-height: 95px;
                    padding: 15px 0 @indent__s 72px;
                    position: relative;
                }
            }

            .actions-toolbar {
                &:extend(.abs-add-clearfix all);
                position: relative;
                top: -37px;

                > .action-edit,
                > .action-delete {
                    position: absolute;
                    right: 0;
                    top: 0;
                    .lib-icon-font(
                    @icon-edit,
                    @_icon-font-size: 13px,
                    @_icon-font-line-height: 20px,
                    @_icon-font-text-hide: true,
                    @_icon-font-color: @minicart-icons-color,
                    @_icon-font-color-hover: @primary__color,
                    @_icon-font-color-active: @minicart-icons-color
                    );
                    &:before{
                        color: #000000;
                        font-family: 'Font Awesome 5 Free';
                        font-weight: 900;
                    }
                }

                > .action-edit{
                    &:before{
                        content: "\f044";
                    }
                }

                > .action-delete {
                    &:extend(.abs-action-button-as-link all);
                    right: 0;
                    &:before{
                        content: "\f00d";
                    }
                }
            }

            .action {
                margin-right: 20px;

                &:last-child {
                    margin-right: 0;
                }

                &.help.map {
                    &:extend(.abs-action-button-as-link all);
                    font-weight: @font-weight__regular;
                }
            }

            .product {
                &-item-photo {
                    display: block;
                    left: 0;
                    max-width: 60px;
                    padding: 0;
                    position: absolute;
                    top: 15px;
                    width: 100%;
                }

                &-item-name {
                    font-size: 15px;
                    display: block;
                    margin: -3px 0 @indent__xs;
                    text-align: left;
                }
            }

            .gift-registry-name-label {
                &:after {
                    content: ':';
                }
            }

            //  Product options
            .item-options {
                font-size: 11px;
                margin-bottom: 0;
                &:extend(.abs-product-options-list all);
                &:extend(.abs-add-clearfix all);
                dt{
                    font-weight: 500;
                }
            }

            .product-item-name + .item-options {
                margin-top: 12px;
            }

            .cart-tax-total {
                &:extend(.abs-tax-total all);
                &-expanded {
                    &:extend(.abs-tax-total-expanded all);
                }
            }

            .product-image-wrapper {
                &:extend(.abs-reset-image-wrapper all);
            }

            .action.configure {
                display: inline-block;
                margin: @indent__s 0 0;
            }

            .item .message {
                margin-top: @indent__base;
            }
        }
    }

    .cart.main.actions{
        .action{
            background: #a1a1a1;
            border: none;
            color: #ffffff;
            display: inline-block !important;
            font-family: @site-font;
            font-size: 12px;
            font-weight: 500;
            height: 44px;
            line-height: 44px;
            padding: 0 20px;
            &:hover{
                background: #666666;
                border: none;
                color: #ffffff;
                text-decoration: none;
            }
            &.clear{
                float: left;
            }
        }
    }

    //  Products pager
    .cart-products-toolbar {
        .toolbar-amount {
            left: inherit;
            margin: @indent__m 0 15px;
            padding: 0;
            position: relative;
            text-align: center;
            top: inherit;
        }
    }

    .cart-products-toolbar-top {
        border-bottom: @border-width__base solid @border-color__base;
    }

    //  Discount
    .cart-discount {
        border-bottom: @border-width__base solid @border-color__base;
        clear: left;
        &:extend(.abs-discount-block all);
    }

    //  Empty cart
    .cart-empty {
        padding-left: @layout__width-xs-indent;
        padding-right: @layout__width-xs-indent;
    }

    .cart-tax-info,
    .cart .cart-tax-info {
        + .cart-tax-total {
            display: block;
        }
    }

    .cart.table-wrapper,
    .order-items.table-wrapper {
        .col.price,
        .col.qty,
        .col.subtotal,
        .col.msrp {
            text-align: right;
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .cart {
        .table.items {
            .col.item,
            .item-actions td {
                &:extend(.abs-col-no-prefix all);
            }

            .col.qty {
                text-align: center;
            }

            tbody > tr > td:last-child {
                &:extend(.abs-no-border-bottom-top all);
            }
        }
    }
    .cart-totals {
        .totals {
            &:extend(.abs-sidebar-totals-mobile all);
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    //  Cart container
    .cart-container {
        .form-cart {
            margin-bottom: 0;
            .actions.main {
                text-align: center;
            }
        }
    }

    .cart-discount {
        border-bottom: @border-width__base solid @border-color__base;
    }

    .cart {
        &.table-wrapper {
            border-top: none;
            margin-bottom: 10px;
            thead {
                .col {
                    &.item,
                    &.qty,
                    &.price,
                    &.subtotal,
                    &.msrp {
                        display: none;
                    }
                }
            }

            .product-item-name{
                font-size: 13px;
                margin: -1px 0 5px;
            }

            .col {
                &.qty,
                &.price,
                &.subtotal,
                &.msrp {
                    display: block;
                    float: left;
                    font-size: 13px;
                    font-weight: 500;
                    white-space: nowrap;
                    padding: 15px 10px 20px;
                    text-align: center;
                    width: 33%;

                    &:before {
                        content: attr(data-th);
                        display: block;
                        font-weight: @font-weight__semibold;
                        padding-bottom: 10px;
                    }
                }

                &.msrp {
                    white-space: normal;
                }
            }

            .actions-toolbar{
                top: -25px;
                & > .action-edit:before, & > .action-delete:before{
                    font-size: 11px;
                }
            }

            .item .col.item {
                padding-bottom: 0;
            }

            tbody > tr > td:last-child {
                border: 0;
            }
        }
    }
    .cart.main.actions .action{
        font-size: 12px;
        margin-bottom: 4px;
        width: 100%;
    }
}

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    //  Cross sell
    .block {
        &.crosssell {
            .lib-css(padding, 0 @mobile-cart-padding);
            margin-top: 70px;

            .product-item-info {
                width: 200px;
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    //  Cart container
    .cart-container {
        &:extend(.abs-add-clearfix-desktop all);
        .form-cart {
            &:extend(.abs-shopping-cart-items-desktop all);
            padding-right: 35px;
            width: 73%;
            .actions.main {
                text-align: right;
            }
        }

        .widget {
            float: left;
        }
    }

    //  Summary block
    .cart-summary {
        .lib-layout-column(2, 2, @layout-column-checkout__width-left);
        padding: 0;
        position: relative;
        width: 27%;

        > .title {
            font-size: 16px;
            letter-spacing: 0.5px;
            margin: 20px 0 10px;
        }

        .fieldset {
            .actions-toolbar {
                margin-left: 0;

                > .secondary {
                    float: none;
                }
            }
        }

        .block {
            .content {
                &:extend(.abs-revert-side-paddings all);
            }

            .fieldset {
                .field {
                    .lib-form-field-type-revert(@_type: block);
                    margin: 0 0 15px;
                    & > .label{
                        margin: 0 0 6px;
                    }
                }
            }
        }
        .checkout-methods-items{
            .action.primary.checkout{
                letter-spacing: 0.5px;
                font-size: 14px;
            }
        }
    }

    //  Products table
    .cart {
        &.table-wrapper {
            .items { // Google Chrome version 44.0.2403.107 m fix
                min-width: 100%;
                width: auto;
            }

            tbody td {
                padding-top: @cart-item-cell-padding-top;
            }

            .item {
                .col.item {
                    padding: @cart-item-cell-padding-top 8px @indent__base 0;
                }
            }

            .item-actions td {
                padding: 0;
            }

            .product {
                &-item-photo {
                    display: table-cell;
                    max-width: 100%;
                    padding-right: @indent__base;
                    position: static;
                    vertical-align: top;
                    width: 1%;
                }

                &-item-details {
                    padding-bottom: 35px;
                }

                &-item-details {
                    display: table-cell;
                    vertical-align: top;
                    white-space: normal;
                    width: 99%;
                }
            }
        }
    }

    //  Products pager
    .cart-products-toolbar {
        margin: 2px 0 0;

        .toolbar-amount {
            line-height: 30px;
            margin: 0;
        }

        .pages {
            float: right;

            .item {
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    .cart.table-wrapper {
        .cart-products-toolbar {
            + .cart {
                thead {
                    tr {
                        th.col {
                            padding-bottom: @indent__s;
                            padding-top: @indent__s;
                        }
                    }
                }
            }
        }

        .cart {
            + .cart-products-toolbar {
                margin-top: @indent__m;
            }
        }
    }

    //  Discount
    .cart-discount {
        &:extend(.abs-discount-block-desktop all);
        .lib-layout-column(2, 1, @layout-column-checkout__width-main);
        border: 0;
        box-sizing: border-box;
        padding-right: 4%;

        .block {
            .title {
                &:after {
                    display: inline;
                    margin-left: @indent__s;
                    position: static;
                }
            }
        }
    }

    //  Empty cart
    .cart-empty {
        &:extend(.abs-revert-side-paddings all);
    }

    //  Cross sell
    .block {
        &.crosssell {
            .lib-layout-column(2, 1, @layout-column-checkout__width-main);
            &:extend(.abs-add-box-sizing-desktop all);
            padding: 0 4% 0 0;

            .products-grid .product-item {
                width: 100%/4;
            }
        }
    }
    .cart-totals{
        margin-bottom: 20px;
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen-1025) {
    .cart-summary{
        & > .title{
            font-size: 18px;
            margin: 25px 0 10px;
            padding: 0 20px;
        }
        .block{
            padding: 0 20px;
            & > .title{
                padding: 13px 20px 13px 15px;
            }
        }
        .checkout-methods-items{
            margin: 20px 0 0;
            padding: 20px 20px 30px;
            .action.primary.checkout{
                font-size: 15px;
            }
        }
    }
    .cart-totals{
        margin-bottom: 30px;
        padding: 0 20px;
    }
}