// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@minicart__border-color: @color-gray80;
@minicart__padding-horizontal: @indent__base;

@minicart-qty__height: 24px;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //
    //  Minicart
    //  ---------------------------------------------

    .block-minicart {
        .items-total {
            font-size: 13px;
            float: left;
            .count {
                font-weight: 500;
            }
        }

        .subtotal {
            font-size: 13px;
            margin: 0 0 @indent__s;
            text-align: right;

            .label {
                &:extend(.abs-colon all);
            }
        }

        .amount {
            .price-wrapper {
                &:first-child {
                    .price {
                        font-size: 14px;
                        font-weight: 600;
                    }
                }
            }
        }

        .subtitle {
            display: none;

            &.empty {
                display: block;
                font-size: 14px;
                font-weight: 400;
                padding: 18px 0;
                text-align: center;
            }
        }

        .text {
            &.empty {
                text-align: center;
            }
        }

        .block-content {
            > .actions {
                margin-top: 15px;

                > .secondary {
                    text-align: center;
                    a.action{
                        color: @black-color;
                        font-size: 12px;
                    }
                }

                > .primary {
                    margin: 0 0 15px;

                    .action {
                        &.primary {
                            display: block;
                            padding: 0 10px;
                            width: 100%;
                        }
                    }
                }

                .paypal-logo {
                    margin-top: 15px;
                    text-align: center;
                }
            }
        }

        .block-category-link,
        .block-product-link,
        .block-cms-link,
        .block-banners {
            margin: 15px 0 0;
            text-align: center;
        }
    }

    .minicart-wrapper {
        .lib-dropdown(
        @_toggle-selector: ~'.action.showcart',
        @_options-selector: ~'.block-minicart',
        @_dropdown-list-width: 320px,
        @_dropdown-list-position-right: 0px,
        @_dropdown-list-pointer-position: right,
        @_dropdown-list-pointer-position-left-right: 26px,
        @_dropdown-list-z-index: 101,               
        @_dropdown-toggle-icon-content: @icon-cart,
        @_dropdown-toggle-active-icon-content: @icon-cart,
        @_dropdown-list-item-padding: false,
        @_dropdown-list-item-hover: false,
        @_icon-font-position: before,
        @_icon-font-size: 22px,
        @_icon-font-line-height: 28px,
        @_icon-font-color: @minicart-icons-color,
        @_icon-font-color-hover: @minicart-icons-color-hover,
        @_icon-font-color-active: @minicart-icons-color
        );
        position: static;
        float: right;

        .block-minicart {
            border: 1px solid @grey-border;
            margin-top: 0;
            padding: 25px 15px;

            .block-title {
                display: none;
            }
            &:before{
                right: 17px;
            }
            &:after{
                right: 16px;
            }
        }

        .product {
            .actions {
                float: right;
                margin: -15px 0 0;

                > .primary,
                > .secondary {
                    display: inline;

                    &:not(:last-child) {
                        margin-right: 10px;
                    }
                }
            }
        }

        .action {
            &.close {
                height: 25px;
                position: absolute;
                right: 0;
                top: 0;
                width: 30px;
                .lib-button-reset();
                .lib-button-icon(
                    @icon-remove,
                    @_icon-font-color: @minicart-icons-color,
                    @_icon-font-size: 12px,
                    @_icon-font-line-height: 16px,
                    @_icon-font-text-hide: true
                );
                &:before{
                    color: #000000;
                    content: "\f00d";
                    font-family: 'Font Awesome 5 Free';
                    font-weight: 900;
                }
            }

            &.showcart {
                white-space: nowrap;

                .text {
                    &:extend(.abs-visually-hidden all);
                }

                &:before{
                    display: none !important;
                }

                .icon{
                    background: url('../images/newCartIcon.png') no-repeat;
                    background-size: 19px 22px;
                    display: block;
                    height: 22px;
                    width: 19px;
                }

                .counter.qty {
                    background: url('../images/cartCounter.png') no-repeat;
                    background-size: 14px;
                    border-radius: 50%;
                    color: #000000;
                    display: inline-block;
                    height: 14px;
                    font-size: 10px;
                    font-weight: 600;
                    line-height: 14px;
                    width: 14px;
                    position: absolute;
                    right: -7px;
                    top: 3px;
                    overflow: hidden;
                    text-align: center;
                    white-space: normal;

                    &.empty {
                        display: none;
                    }

                    .loader {
                        > img {
                            .lib-css(max-width, @minicart-qty__height);
                        }
                    }
                }

                .counter-label {
                    &:extend(.abs-visually-hidden all);
                }
            }
        }
    }

    .minicart-items-wrapper {
        border: 1px solid @grey-border;
        margin: 0 -15px;
        border-left: 0;
        border-right: 0;
        overflow-x: auto;
        padding: 15px 15px 0;
    }

    .minicart-items {
        .lib-list-reset-styles();
        .product-item {
            padding: 15px 0;

            &:not(:first-child) {
                border-top: 1px solid @grey-border;
            }

            &:first-child {
                padding-top: 0;
            }

            > .product {
                &:extend(.abs-add-clearfix all);
            }
        }

        .product-image-wrapper {
            &:extend(.abs-reset-image-wrapper all);
        }

        .product-item-pricing {
            .label {
                display: inline-block;
                font-size: 12px;
                margin-right: 5px;
            }
        }

        .price-minicart {
            margin-bottom: @indent__xs;
        }

        .product-item-name {
            font-size: 13px;
            margin: 0 0 8px;
            text-align: left;
            a {
                font-weight: 400 !important;
            }
        }

        .product-item-details {
            padding-left: 85px;

            .price {
                font-size: 14px;
                font-weight: 600;
            }

            .weee[data-label] {
                .lib-font-size(11);
                .label {
                    &:extend(.abs-no-display all);
                }
            }

            .details-qty {
                font-size: 12px;
                margin-top: @indent__s;
            }
        }

        .product {
            > .product-item-photo,
            > .product-image-container {
                float: left;
            }

            .toggle {
                &:extend(.abs-toggling-title all);
                &:after {
                    .lib-css(color, @color-gray56);
                    margin: 0 0 0 @indent__xs;
                    position: static;
                }
                border: 0;
                padding: 0 @indent__xl @indent__xs 0;
            }

            .active {
                > .toggle {
                    .lib-icon-font-symbol(
                        @_icon-font-content: @icon-up,
                        @_icon-font-position: after
                    );
                }
            }

            &.pricing {
                margin-top: 3px;
            }

            &.options {
                .toggle {
                    &.tooltip {
                        .lib-icon-font(
                        @icon-down,
                        @_icon-font-size: 12px,
                        @_icon-font-line-height: 12px,
                        @_icon-font-text-hide: true,
                        @_icon-font-margin: -3px 0 0 7px,
                        @_icon-font-position: after
                        );
                    }
                    > span {
                        &:extend(.abs-visually-hidden-reset all);
                    }
                }

                .details {
                    display: none;
                }
            }
        }

        .details-qty,
        .price-minicart {
            .label {
                &:extend(.abs-colon all);
            }
        }

        .item-qty {
            font-size: 12px;
            height: 36px;
            padding: 0 3px;
            text-align: center;
            width: 40px;
        }

        .update-cart-item {
            .lib-font-size(11);
            vertical-align: top;
        }

        .subtitle {
            display: none;
        }

        .action {
            &.edit,
            &.delete {
                .lib-icon-font(
                @icon-edit,
                @_icon-font-size: 13px,
                @_icon-font-line-height: 20px,
                @_icon-font-text-hide: true,
                @_icon-font-color: @minicart-icons-color,
                @_icon-font-color-hover: @primary__color,
                @_icon-font-color-active: @minicart-icons-color
                );
                &:before{
                    color: #000000;
                    font-family: 'Font Awesome 5 Free';
                    font-weight: 900;
                }
            }

            &.edit{
                &:before{
                    content: "\f044";
                }
            }

            &.delete {
                .lib-icon-font-symbol(
                @_icon-font-content: @icon-trash
                );
                &:before{
                    content: "\f00d";
                }
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen-1024) {
    .minicart-wrapper{
        .action.showcart{
            position: absolute;
            right: 15px;
            top: 26px;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .minicart-wrapper{
        .action.showcart{
            right: 10px;
            top: 21px;
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen-1025) {
    .minicart-wrapper{
        position: relative;
        .block-minicart {
            margin-top: 12px;
            right: -10px;
            width: 320px;
            &:before{
                right: 13px;
            }
            &:after{
                right: 12px;
            }
        }
        .action.showcart .icon{
            background-size: 20px 24px;
            height: 24px;
            width: 20px;
        }
    }
}
