.product-info-main .product-add-form {
    padding-top: 0  !important;
}
.option-image {
    clear: both;
	float: left;
    width: 100%;
} 
.above_option .option-image select{
	margin-top:10px;
}
/* .product-add-form .product-options-wrapper .field:not(.date) > .control {
    width: 100% !important;
} */
a.details img {
    width: 20px;
    position: relative;
    top: 0;
    margin-right: 10px;
}
.custom-image-box a.details img{
	    width: 17px;
	    top: 0;
	    margin-right: 5px;
}
.before-option .left {
    float: left;
    width: 20%;
	margin-bottom: 0;
}
.before_option .right {
    float: right;
    max-width: 70%;
}
.before_option .image-tplt{
	max-width: 30%;
}
.below-option .image-tplt {
    margin-top: 20px;
}
.option-image .truncated, .custom-image-box {
    display: inline-block;
}
.option-image .truncated{
	float:left;
}

.field.option-image .truncated{
	position: relative;
    top: 5px;
    left: 0;
	float: none;
}
.field.option-image label .truncated{
	display: none;
}

.custom-image-box.active {
    background: #dddddd;
}
.custom-image-box, .option-image.grid .field {
    display: inline-block;
    padding: 15px 13px;
    background-color: #fafafa;
    border: 1px solid #ddd;
    margin-right: 10px;
    position: relative;
    margin-bottom: 20px;
}
.option-image.list .field {
    display: inline-block;
 	border: 1px solid #ddd;
 	background-color: #fafafa;
    margin: 5px;
	padding: 10px 15px;
	width: 100%;
	box-sizing: border-box;
}
.option-image.list .field label{
	cursor:pointer;
}
.zoom-image {
	background: #4d4d4d;
	color: #ffffff !important;
    cursor: pointer;
    clear: both;
    display: block;
    margin-top: 0;
    position: absolute;
    bottom: 38px;
    left: 0;
    border-radius: 4px;
	padding: 5px;
}
.zoom-image:before{
	content: "\f002";
	font-family: 'Font Awesome 5 Free';
	font-size: 13px;
	font-weight: 900;
}
.zoom-image img {
	display: none;
    width: 15px;
}
.zoom-image:hover{
	text-decoration: none;
}
.field.option-image.list .zoom-image, .field.option-image.grid .zoom-image{
	bottom: 0;
    left: 0;
}
.field.option-image.list.charmslist .zoom-image, .field.option-image.list.charmslistsecond .zoom-image,
.field.option-image.list.charmslistthird .zoom-image{
	bottom: 38px;
	left: 0;
}
.field.option-image.list.charmchain .zoom-image{
	bottom: 38px;
	left: 0;
}
/* .modal-footer {
	display: none !important;
} */
.custom-image-box.show-imgbox label,
.custom-image-box.show-imgbox .zoom-image,
.custom-image-box.show-imgbox .custom-description {
	display: block !important;
}
.product-add-form .product-options-wrapper .field:not(.date) > .control {
    width: 100%;
}
.custom-image-box.hide-imgbox {
    display: none;
}
.custom-image-box.show-imgbox, .before_option .image-tplt {
    display: inline-block;
} 
body .ui-tooltip {
    background: #fff;
    border: 0;
    padding: 10px;
    max-width: 200px;
    padding: 7px 20px 9px;
    color: #fff;
    text-align: center;
    background-color: #000;
    border-radius: 4px;
    /* margin-top: 9px; */
}
input[type="radio"]:focus, input[type="checkbox"]:focus{
	box-shadow:none;
}
.fieldset > .before_option > .label{
	display:block ;
	margin-bottom: 15px;
}
.product-add-form .product-options-wrapper .below_option .custom-image-box {
    margin-top: 10px;
}

.product-add-form .product-options-wrapper .below_option.chains-size .custom-image-box{
	display: none;
}

.product-add-form .product-options-wrapper .below_option.charms-category select[multiple="multiple"]{
	padding: 10px;
}

.option-image.grid .custom-image-box, .option-image.list .custom-image-box {
    padding: 0;
    border: 0;
    margin: 0;
}
.option-image.list .image-tplt {
    float: left;
    margin-right: 40px;
}
._show div#opModel {
    text-align: center;
}
.custom-image-box .truncated {
    float: none;
}
.hidepicker.picker_main select, 
.hidepicker.color_picker select {
	display: none;
}
.color_picker .custom-image-box img {
    cursor: pointer;
}


/* add css 09-01-2017 */
.product-add-form .product-options-wrapper{
	overflow:hidden;
}
.product-add-form #product_addtocart_form{
	overflow: hidden;
}
.product-add-form #product_addtocart_form .product-options-wrapper .field{
	margin: 0 0 5px;
}
.product-add-form #product_addtocart_form .product-options-wrapper .field.charms-pendants{
	display: none;
}
.product-add-form .product-options-wrapper .fieldset > .field > .label{
	background: #dedede;
	color: #000000;
	font-size: 13px;
	font-weight: 500;
	padding: 15px 10px;
    display: block;
    width: auto;
	cursor: pointer;
	margin-bottom: 0px;
}
.product-add-form .product-options-wrapper .fieldset > .field.charmslist.rosecharm > .label{
	background: #dedede;
}
.product-add-form .product-options-wrapper .fieldset > .field.charmslist > .label{
	background: #f3f3f3;
}
.product-add-form #product_addtocart_form .product-options-wrapper .field:not(.date) > .control{
	border: none;
	padding: 12px 0 5px;
	width:auto;
	overflow: hidden;
}
.product-add-form .product-options-wrapper .fieldset > .field > .label:before{
	content: '\f078';
	display: inline-block;
	font-family: 'Font Awesome 5 Free';
	font-size: 13px;
	font-weight: 900;
	margin-right: 5px;
	vertical-align: middle;
}
.product-add-form input[type="radio"]{
	margin: 5px 5px 0 0;
}
.product-add-form .custom-chains .control{
	padding-bottom: 5px !important;
	position: relative;
}
.product-add-form .custom-chains .image-tplt{
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
}
.product-add-form .custom-chains .control:after{
	background: url('../images/swipeIcon.png') no-repeat center;
	background-size: 26px;
	content: '';
	display: block;
	height: 26px;
	width: 26px;
	position: absolute;
	right: 5px;
	top: 10px;
}
.product-options-wrapper .field.charmchain .control,
.product-options-wrapper .field.charmslist .control,
.product-options-wrapper .field.charmslistsecond .control,
.product-options-wrapper .field.charmslistthird .control{
	position: relative;
}
.product-add-form .product-options-wrapper .field.charmchain .control:before,
.product-add-form .product-options-wrapper .field.charmslist .control:before,
.product-add-form .product-options-wrapper .field.charmslistsecond .control:before,
.product-add-form .product-options-wrapper .field.charmslistthird .control:before{
	background: url('../images/swipeIcon.png') no-repeat center;
	background-size: 26px;
	content: '';
	display: block;
	height: 26px;
	width: 26px;
	position: absolute;
	right: 5px;
	top: 10px;
	z-index: 9;
}
.product-add-form .dependent-field.custom-chains .custom-image-box{
	cursor: pointer;
	margin: 0 15px 0 0;
	width: 170px;
}
.product-add-form .dependent-field.charms-pendants .options-list{
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
}
.product-add-form .dependent-field.charms-pendants .admin__field-option{
	cursor: pointer !important;
	display: inline-block;
	float: none;
	margin: 0 15px 0 0 !important;
	width: 150px !important;
	background: none;
	border: none;
	padding: 0;
}
.product-add-form .dependent-field.charms-pendants .admin__field-option .custom-image-box{
	width: 100% !important;
}
.product-add-form .dependent-field.charms-pendants .field img{
	height: 90px;
	margin: 0 auto;
}
.option-image.list.charms-pendants .image-tplt{
	margin-right: 0;
	width: 100%;
}

.charms-pendants .options-list .admin__field-option > input[type="checkbox"]{
	display: none;
}
.charms-pendants .options-list .admin__field-option > .label{
	display: none;
}

.product-add-form .dependent-field.custom-chains .custom-image-box label{
	white-space: normal;
}
.product-add-form .dependent-field.custom-chains .custom-image-box:last-child{
	margin: 0;
}
.product-add-form .charms-pendants .image-tplt{
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
}
.product-add-form .dependent-field.charms-pendants .custom-image-box label{
	white-space: normal;
}
.product-add-form .dependent-field.charms-pendants .custom-image-box{
	cursor: pointer;
	margin: 0 15px 0 0;
	vertical-align: top;
	width: 170px;
}
.product-add-form .charms-pendants .control{
	position: relative;
}
.product-add-form .charms-pendants .control:after{
	background: url('../images/swipeIcon.png') no-repeat center;
	background-size: 26px;
	content: '';
	display: block;
	height: 26px;
	width: 26px;
	position: absolute;
	right: 5px;
	top: 10px;
}
.product-add-form .dependent-field .custom-image-box{
	background: none;
    border: 1px solid transparent;
	margin: 0 0 20px;
	padding: 0;
	text-align: center;
	width: 100%;
}
.product-add-form .dependent-field .custom-image-box:last-child{
	margin: 0;
}
.product-add-form .dependent-field .custom-image-box.active .custom-image:before{
	background: #f38994;
	border-radius: 4px;
	color: #ffffff;
	content: "\f00c";
	font-family: 'Font Awesome 5 Free';
	font-size: 13px;
	font-weight: 900;
	position: absolute;
	left: 0;
	bottom: 70px;
	padding: 5px;
}
.product-add-form .dependent-field.charms-pendants .custom-image-box.active:first-child .custom-image:before{
	bottom: 43px;
	left: 10px;
}
.product-add-form .option-image.list.charmslist .field.active .custom-image:before,
.product-add-form .option-image.list.charmslistsecond .field.active .custom-image:before,
.product-add-form .option-image.list.charmslistthird .field.active .custom-image:before {
	background: #f38994;
	border-radius: 4px;
	color: #ffffff;
	content: "\f00c";
	font-family: 'Font Awesome 5 Free';
	font-size: 13px;
	font-weight: 900;
	position: absolute;
	left: 0;
	bottom: 70px;
	padding: 5px;
}
.product-add-form .option-image.list.charmchain .field.active .custom-image:before{
	background: #f38994;
	border-radius: 4px;
	color: #ffffff;
	content: "\f00c";
	font-family: 'Font Awesome 5 Free';
	font-size: 13px;
	font-weight: 900;
	position: absolute;
	left: 0;
	bottom: 70px;
	padding: 5px;
}
.picker_main .custom-image img{
	margin: 0 auto;
	max-height: 140px;
}
.product-add-form .dependent-field .custom-image-box label{
	font-size: 13px;
	height: 32px;
	overflow: hidden;
	margin: 20px 0 0;
}
.product-add-form .dependent-field .custom-image-box.show-imgbox{
	border: none;
}
.product-add-form .dependent-field.charms-pendants .custom-image-box.show-imgbox:first-child{
	padding: 5px 0 15px;
}
.product-add-form .dependent-field.charms-pendants .custom-image-box.show-imgbox:first-child label{
	height: auto;
}
.product-add-form .dependent-field.charms-pendants .custom-image-box.show-imgbox:first-child .zoom-image{
	display: none !important;
}
.product-add-form .dependent-field .options-list{
	clear: both;
	padding: 0px 0px 0px 0px;
	overflow:hidden;
}
.product-add-form .dependent-field .options-list:after{
	clear: both;
	content: '';
	display: table;
}
.product-add-form .dependent-field.above_option .custom-image-box{
	margin-top:0px;
	margin-bottom:10px;
}
.product-add-form .dependent-field.before_option .custom-image-box{
	/* min-width: 81px; */
    margin-top: 0;
	margin-bottom:0px;
}
.product-add-form .product-options-wrapper .below_option .custom-image-box{
	margin-top:10px;
	margin-bottom:0px;
}
.product-add-form .option-image.grid .field{
	background: #fafafa;
    /* width: 18%;
    margin-right: 1.3%; */
    margin-bottom: 0px;
    float: left;
    border: 1px solid transparent;
	position:relative;
	margin-top:10px;
	cursor:pointer;
	width: 94%;
}
.product-add-form .option-image.grid .field.active{
	border:1px solid #575757;
}
.product-add-form .option-image.grid .field:nth-child(4n){
	margin-right:0px;
}
.product-add-form .option-image.grid .field:nth-child(n+5){
	margin-top:10px;
}
.product-add-form .option-image.grid .field .custom-image-box{
	background: transparent;
    width: auto;
    margin-right: 0;
    margin-bottom: 0px;
    float: left;
	border: none;
    margin-left: 0;
}
.product-add-form .option-image.grid input[type="radio"], .product-add-form .option-image.grid input[type="checkbox"]{
	margin-top:20px;
}
.product-add-form .option-image.grid .admin__field-label{
	position:absolute;
    bottom: 12px;
    left: 30px;
}
.product-add-form .option-image.list .field{
	margin-top:10px;
	width: auto;
    display: block;
    overflow: hidden;
	position: relative;
	cursor:pointer;
}
.product-add-form .option-image.list.charms-category .field{
	background: none;
	border: none;
	margin: 0 0 18px !important;
	padding: 0;
}
.product-add-form .option-image.list.charms-category .field:last-child{
	margin: 0 0 10px !important;
}
.product-add-form .option-image.list.charms-category .options-list > p{
	font-size: 13px;
	margin: 0 0 20px;
}
.charms-category .options-list .admin__field-option .label{
	border: none;
	color: #000000;
	height: auto;
	line-height: inherit;
	text-align: left;
	width: auto;
}
.product-add-form .option-image.list .field.active{
	border:1px solid #575757;
}
.product-add-form .option-image.list.charms-pendants .field.active{
	border: none;
}
.product-add-form .option-image.list.charms-pendants .field.active:before{
	background: #f38994;
	border-radius: 4px;
	color: #ffffff;
	content: "\f00c";
	font-family: 'Font Awesome 5 Free';
	font-size: 13px;
	font-weight: 900;
	position: absolute;
	left: 0;
	bottom: 65px;
	padding: 5px;
}
.product-add-form .option-image.list .field .custom-image-box{
	background: transparent;
    width: auto;
    margin-right: 0;
    margin-bottom: 0px;
    float: left;
	border: none;
    margin-left: 0;
}
.product-add-form .option-image.list input[type="radio"], .product-add-form .option-image.list input[type="checkbox"]{
	display: none;
	float:left;
	margin: 0 10px 0 0;
}
.product-add-form .option-image.list .field label.admin__field-label{
	float:left;
}
.product-add-form .before_option .image-tplt{
	max-width: 30%;
	float:left;
}
.product-add-form .before_option .right{
	float: right;
    max-width: 60%;
    display: block;
    width: 100%;
	clear:none;
}
/* .product-add-form .option-image.list .image-tplt{
	min-width: 50%;
} */
.product-add-form .fieldset > .field .field.choice:last-child{
	margin-bottom:10px;
}
.product-add-form .textarea textarea{
	margin-bottom:10px;
}
.product-add-form .file input[type="file"]{
	margin-bottom:10px;
}
.product-add-form #product_addtocart_form .product-options-wrapper .grid:not(.date) > .control{
	padding: 0px 10px;
}
.product-add-form #product_addtocart_form .product-options-wrapper .list:not(.date) > .control{
	padding: 0px 10px;
}
.product-add-form .fieldset > .below_option .field.choice:last-child{
	margin-bottom:10px;
}
.picker_main .custom-image {
    cursor: pointer;
}
.product-add-form .options-list input[type="radio"], .product-add-form .options-list input[type="checkbox"]{
	float:left;
}
.options-list .price-notice{
	float:left;
}
.options-list .price-notice span{
	float:left;
}
.options-list .price-notice .price-container .price-wrapper{
	font-size: 1.4rem;
	line-height: 1.42857143;
	margin-top: 0;
	padding-left: 10px;
}
.options-list .price-notice .price-container .price-including-tax{
	padding-left: 5px;
}
.options-list .price-notice .price-container .price-excluding-tax:before{
	font-size: 1.4rem;
	line-height: 1.42857143;
	float: left;
}
.options-list .price-notice .price-container .price-excluding-tax .price{
	font-size: 1.4rem;
	line-height: 1.42857143;
	float: left;
	padding-left: 5px;
}
.options-list .admin__field-option{
	float:left;
	margin: 0 10px 0 0 !important;
}
.options-list .admin__field-option .radio{
	margin: 0;
	position: absolute;
	opacity: 0;
}
.options-list .admin__field-option .label{
	border: 1px solid #cccccc;
	color: #777777;
	cursor: pointer;
	display: block;
	height: 34px;
	line-height: 32px;
	margin: 0;
	text-align: center;
	width: 44px;
}
.options-list .admin__field-option .radio:checked ~ .label{
	border: 1px solid #000000;
	color: #000000;
}
.options-list .price-notice:first-letter{
	float:left;
	padding:0px 0px 0px 5px;
}
.textarea.dependent-field.above_option .ma-title > span, .file.dependent-field.above_option .ma-title > span{
	font-size: 1.4rem;
	line-height: 1.42857143;
	float: left;
}
.textarea.dependent-field.above_option .ma-title .price-notice:first-letter, .file.dependent-field.above_option .ma-title .price-notice:first-letter{
	float:left;
	padding:0px 0px 0px 5px;
}
.textarea.dependent-field.above_option .ma-title .price-notice .price-container .price-wrapper, .file.dependent-field.above_option .ma-title .price-notice .price-container .price-wrapper{
	font-size: 1.4rem;
	line-height: 1.42857143;
	float: left;
	padding-left: 5px;
	margin-top: 0;
}
.textarea.dependent-field.above_option .ma-title .price-notice .price-container .price-excluding-tax:before, .file.dependent-field.above_option .ma-title .price-notice .price-container .price-excluding-tax:before{
	font-size: 1.4rem;
	line-height: 1.42857143;
	float: left;
}
.textarea.dependent-field.above_option .ma-title .price-notice .price-container .price-excluding-tax .price, .file.dependent-field.above_option .ma-title .price-notice .price-container .price-excluding-tax .price{
	font-size: 1.4rem;
	line-height: 1.42857143;
	float: left;
	padding-left:5px;
}
.product-add-form .option-image.grid .field {
    width: auto;
    float: initial;
}
.product-add-form .option-image.list .field {
    width: 100%;
}
.product-add-form .dependent-field .btnbox{
	display: none;
}

.product-add-form .dependent-field.color_picker .custom-image-box img{
	margin: 0 auto;
	max-height: 85px;
}
.product-add-form #product_addtocart_form .product-options-wrapper .field.custom-chains > .control,
.product-add-form #product_addtocart_form .product-options-wrapper .field.charms-pendants > .control{
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.product-add-form .dependent-field.charmchain .options-list{
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
}
.product-add-form .option-image.list.charmchain .field{
	background: none;
	border: none;
	cursor: pointer;
	display: inline-block;
	float: none;
	margin: 0 15px 0 0 !important;
	padding: 0;
	text-align: center;
	width: 170px;
}
.product-add-form .option-image.list.charmchain .field:last-child{
	margin: 0 !important;
}
.option-image.list.charmchain .image-tplt{
	float: none;
	margin-right: 0;
}
.product-add-form .option-image.list.charmchain .field .custom-image-box{
	float: none;
	width: 100%;
}
.option-image.list.charmchain .custom-image > img{
	display: inline-block !important;
}
.product-add-form .option-image.list.charmchain .field > .label{
	display: none;
}

.product-add-form .charmchain .image-tplt {
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
}
.product-add-form .dependent-field.charmchain .custom-image-box{
	cursor: pointer;
	margin: 0 15px 0 0;
	width: 170px;
}
.product-add-form .dependent-field.charmchain .custom-image-box:last-child{
	margin: 0;
}

.product-add-form .dependent-field.charmslist .options-list,
.product-add-form .dependent-field.charmslistsecond .options-list, 
.product-add-form .dependent-field.charmslistthird .options-list {
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
}
.product-add-form .option-image.list.charmslist .field,
.product-add-form .option-image.list.charmslistsecond .field,
.product-add-form .option-image.list.charmslistthird .field {
	background: none;
	border: none;
	cursor: pointer;
	display: inline-block;
	float: none;
	margin: 0 15px 0 0 !important;
	padding: 0;
	text-align: center;
	width: 170px;
}
.product-add-form .option-image.list.charmslist .field:last-child,
.product-add-form .option-image.list.charmslistsecond .field:last-child,
.product-add-form .option-image.list.charmslistthird .field:last-child {
	margin: 0 !important;
}
.option-image.list.charmslist .image-tplt, 
.option-image.list.charmslistsecond .image-tplt,
.option-image.list.charmslistthird .image-tplt {
	float: none;
	margin-right: 0;
}
.product-add-form .option-image.list.charmslist .field .custom-image-box,
.product-add-form .option-image.list.charmslistsecond .field .custom-image-box,
.product-add-form .option-image.list.charmslistthird .field .custom-image-box {
	float: none;
	width: 100%;
}
.option-image.list.charmslist .custom-image > img,
.option-image.list.charmslistsecond .custom-image > img,
.option-image.list.charmslistthird .custom-image > img {
	display: inline-block !important;
}
.product-add-form .option-image.list.charmslist .field > .label,
.product-add-form .option-image.list.charmslistsecond .field > .label,
.product-add-form .option-image.list.charmslistthird .field > .label {
	display: none;
}

@media (min-width: 768px){
	.product-add-form #product_addtocart_form .product-options-wrapper .field:not(.date) > .control{
		padding: 15px 0 7px;
	}
	.product-add-form #product_addtocart_form .product-options-wrapper .field{
		margin: 0 0 8px;
	}
	.product-add-form .product-options-wrapper .fieldset > .field > .label{
		font-size: 15px;
		padding: 15px 20px;
	}
	.zoom-image{
		bottom: 40px;
		left: 10px;
	}
	.field.option-image.list.charmslist .zoom-image, 
	.field.option-image.list.charmslistsecond .zoom-image,
	.field.option-image.list.charmslistthird .zoom-image{
		bottom: 40px;
		left: 10px;
	}
	.field.option-image.list.charmchain .zoom-image{
		bottom: 40px;
		left: 10px;
	}
	.product-add-form .dependent-field .custom-image-box.active .custom-image:before{
		left: 10px;
		bottom: 70px;
	}
	.product-add-form .option-image.list.charmslist .field.active .custom-image:before,
	.product-add-form .option-image.list.charmslistsecond .field.active .custom-image:before,
	.product-add-form .option-image.list.charmslistthird .field.active .custom-image:before{
		left: 10px;
		bottom: 70px;
	}
	.product-add-form .option-image.list.charmchain .field.active .custom-image:before{
		left: 10px;
		bottom: 70px;
	}
	.product-add-form .dependent-field.charms-pendants .custom-image-box.active:first-child .custom-image:before{
		bottom: 43px;
	}
}