<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice" data-bind="css: 'stripe-payment'">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label data-bind="attr: {'for': getCode()}" class="label stripe-label">
			<img src="https://www.imagegang.co.uk/pub/media/images/stripe.jpg" alt="stripe" class="payment-icon">
            <!-- ko foreach: {data: getCcAvailableTypesValues(), as: 'item'} -->
            <!--ko if: $parent.getIcons(item.value) -->
            <!--img data-bind="attr: {
                        'src': $parent.getIcons(item.value).url,
                        'alt': item.type,
                        'width': $parent.getIcons(item.value).width,
                        'height': $parent.getIcons(item.value).height
                        }"-->
            <!--/ko-->
            <!--/ko-->
            <span class="stripe-span" data-bind="text: getTitle()"></span>
        </label>
    </div>
    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <!-- placeholder for Elements -->

        <div class="form-control" data-bind="attr:{id: getCode() + '-card-element'},
                              afterRender: initStripePaymentIntents">
        </div>
        <!-- Used to display Element errors -->
        <small style="color: #ff0000"><div data-bind="attr:{id: getCode() + '-card-errors'}" role="alert"></div></small>

        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="actions-toolbar" style="margin-top: 30px">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind=" click: placeOrder, attr: {title: $t('Continue')}, css: {disabled: !isPlaceOrderActionAllowed()}, enable: (getCode() == isChecked()) "
                        disabled>
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>
    </div>
</div>
