.sb-container{
    position: relative;
    overflow: hidden;
}
.sb-content {
  height:100%;
  width: 120%;
  padding-right: 20%;
  overflow-y: scroll;
  box-sizing:border-box;
}
.sb-scrollbar-container {
    background: #eaeaea;
    border-radius: 10px;
    position: absolute;
    right: 5px;
    bottom: 5px;
    top: 5px;
    width: 8px;
}
.sb-container-noscroll .sb-scrollbar-container {
    right: 0;
}

.sb-scrollbar {
  position: absolute;
  right: 0;
  height: 30px;
  width: 8px;
  border-radius: 10px;
  background: #4d4d4d;
}
