// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@checkout-wrapper__margin: @indent__base;
@checkout-wrapper__columns: 16;

@checkout-step-title__border: @border-width__base solid @color-gray80;
@checkout-step-title__font-size: 26px;
@checkout-step-title__font-weight: @font-weight__light;
@checkout-step-title__padding: @indent__s;

@checkout-step-title-mobile__font-size: 18px;

@checkout-step-content-mobile__background: @color-gray-light01;
@checkout-step-content-mobile__margin-s: 15px;
@checkout-step-content-mobile__margin: @indent__base -(@checkout-step-content-mobile__margin-s) @checkout-step-content-mobile__margin-s;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .checkout-container {
        &:extend(.abs-add-clearfix all);
        .lib-css(margin, 0 0 @checkout-wrapper__margin);
        position: relative;
    }

    .checkout-index-index{
        .nav-toggle{
            display: none;
        }
        .page-title-wrapper{
            margin: 0 0 20px;
            .page-title:after{
                margin: 10px auto 0;
                width: 60px;
            }
        }
        #mageplaza-betterpopup-block{
            display: none;
        }
        .page-header {
            border-bottom: 3px solid #ebebeb;
            margin-top: 0;
        }
    }

    .opc-wrapper {
        .lib-css(margin, 0 0 @checkout-wrapper__margin);

        .opc {
            &:extend(.abs-reset-list all);
        }

        .step-title {
            &:extend(.abs-checkout-title all);
            border-bottom: 1px solid @grey-border;
            color: #000000;
            font-family: @futura-bt-font;
            font-size: 18px;
            font-weight: 400;
            margin: 0;
        }

        .step-content {
            margin: 0 0 @indent__xl;
        }
        .form-discount{
            max-width: 350px;
            width: 100%;
        }
    }

    .checkout-onepage-success {
        &:extend(.abs-add-clearfix all);
        .page-title-wrapper {
            margin: 0 0 30px;
            text-align: left;
            .page-title:after{
                display: none;
            }
        }

        .print {
            display: none;
        }
    }
    .checkout-success{
        p{
            margin: 0 0 20px;
        }
        .actions-toolbar{
            margin-top: 30px;
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .opc-wrapper {
        .step-title {
            font-size: 16px !important;
            border-bottom: 0;
            padding-bottom: 0;
        }

        .step-content {
            .lib-css(margin, 0 0 @checkout-step-content-mobile__margin-s);
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .checkout-index-index{
        .page-main {
            padding-top: 0;
        }
        .page-title-wrapper{
            display: none;
        }
    }
    .opc-wrapper{
        margin: 0;
        .step-title{
            font-size: 18px;
        }
    }
    .checkout-container{
        margin: 0;
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .opc-wrapper {
        &:extend(.abs-add-box-sizing-desktop-m all);
        .lib-layout-column(2, 1, @checkout-wrapper__columns);
        padding-right: @indent__l;
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen-1025) {
    .checkout-index-index{
        .page-header .logoBlock {
            text-align: left;
        }
    }
}
