// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@checkout-summary__background-color: @color-white-smoke;
@checkout-summary__padding: 22px @indent__l;

@checkout-summary-title__margin: @indent__s;
@checkout-summary-mark-value__color: @color-gray40;

@checkout-summary-items__max-height: 370px;
@checkout-summary-items__padding: 15px;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //
    //  Order Summary
    //  ---------------------------------------------

    .opc-block-summary {
        background: #f7f7f7;
        margin: 0 0 20px !important;
        padding: 25px 20px;
        &:extend(.abs-add-box-sizing all);

        > .title {
            &:extend(.abs-checkout-title all);
            display: block;
            color: #000000;
            font-size: 22px;
            font-weight: 500;
        }

        //  Totals table
        .table-totals {
            &:extend(.abs-sidebar-totals all);
            border-top: none;
            tbody{
                .mark{
                    font-size: 14px;
                    padding: 8px 0;
                }
                .amount{
                    font-size: 14px;
                    padding: 8px 0 8px 10px;
                }
            }
            .grand{
                .mark{
                    border: none;
                    font-size: 16px;
                    padding: 12px 0 12px;
                }
                .amount{
                    border: none;
                    font-size: 16px;
                    padding: 12px 0 12px 10px;
                    strong{
                        font-weight: 400;
                    }
                }
                strong{
                    font-weight: 400;
                    padding: 0;
                }
            }
        }

        .mark {
            .value {
                .lib-css(color, @checkout-summary-mark-value__color);
                display: block;
                font-size: 12px;
            }
        }

        .discount.coupon {
            display: none;
        }

        .grand.incl {
            & + .grand.excl {
                .mark,
                .amount {
                    border-top: 0;
                    .lib-font-size(14);
                    padding-top: 0;

                    strong {
                        font-weight: @font-weight__regular;
                    }
                }
            }
        }

        .not-calculated {
            font-style: italic;
        }

        //
        //  Items list
        //  ---------------------------------------------

        //  Block title
        .items-in-cart {
            margin-bottom: 0 !important;
            > .title {
                border-bottom: 1px solid @grey-border;
                padding: 15px 30px 15px 0;
                cursor: pointer;
                .lib-icon-font(
                @icon-down,
                @_icon-font-size: 12px,
                @_icon-font-line-height: 12px,
                @_icon-font-text-hide: true,
                @_icon-font-margin: 3px 0 0,
                @_icon-font-position: after,
                @_icon-font-display: block
                );
                margin-bottom: 0;
                position: relative;

                &:after {
                    font-size: 9px;
                    position: absolute;
                    right: 0;
                    top: 16px;
                }

                strong {
                    font-family: @futura-md-font;
                    font-size: 14px;
                    font-weight: 400;
                    margin: 0;
                }
            }

            &.active {
                > .title {
                    .lib-icon-font-symbol(
                    @_icon-font-content: @icon-up,
                    @_icon-font-position: after
                    );
                }
            }

            .product {
                position: relative;
            }
        }

        //  Cart items
        .minicart-items-wrapper {
            .lib-css(margin, 0 -(@checkout-summary-items__padding) 0 0);
            .lib-css(max-height, @checkout-summary-items__max-height);
            padding: 15px 0 0 0;
            border: 0;
        }

        .column.main & {
            .product-item {
                border-top: 1px solid @grey-border;
                margin: 0;
                padding-left: 0;
                &:first-child{
                    border-top: none
                }
            }
        }

        .product-item {
            .product-item-inner {
                display: table;
                margin: 0 0 @indent__s;
                width: 100%;
            }

            .product-item-name-block {
                display: table-cell;
                padding-right: @indent__xs;
                text-align: left;
                vertical-align: top;
                .product-item-name{
                    font-family: @futura-md-font;
                    font-size: 14px;
                }
            }

            .subtotal {
                display: table-cell;
                text-align: right;
            }

            .price {
                font-size: 14px;
                font-weight: 400;
            }

            .price-including-tax {
                & + .price-excluding-tax {
                    .price {
                        .lib-font-size(10);
                    }
                }
            }
        }

        .actions-toolbar {
            position: relative;
            z-index: 1;

            .secondary {
                border-top: @border-width__base solid @border-color__base;
                display: block;
                margin: -1px 0 0;
                padding: 15px 0 0;
                text-align: left;

                .action {
                    margin: 0;
                }
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .opc-block-summary {
        > .title {
            border-bottom: 0;
            .lib-css(font-size, @checkout-step-title-mobile__font-size);
            margin-bottom: @indent__base;
            padding-bottom: 0;
        }

        .totals {
            &:extend(.abs-sidebar-totals-mobile all);
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .opc-summary-wrapper {
        .modal-header {
            .action-close {
                display: none;
            }
        }
    }
}
