<?php 
$_helper = $this->helper('MageArray\CustomOptions\Helper\Data'); 
$hasExtraElements = $_helper->enableExtraElements();
$hasDependantModule = $_helper->isDependantModuleEnable();
?>
<?php /** @var $block \Magento\Catalog\Block\Adminhtml\Product\Edit\Tab\Options\Option */ ?>
<?php echo $block->getTemplatesHtml() ?>
<script id="custom-option-base-template" type="text/x-magento-template">
    <div class="fieldset-wrapper admin__collapsible-block-wrapper opened" id="option_<%- data.id %>">
        <div class="fieldset-wrapper-title">
            <strong
                class="admin__collapsible-title"
                data-toggle="collapse"
                data-target="#<%- data.id %>-content">
                <span id="option_<%- data.id %>_header_title"><%- data.title %></span>
            </strong>
            <div class="actions">
                <button type="button" title="<?php /* @escapeNotVerified */ echo __('Delete Custom Option'); ?>" class="action-delete" id="<?php /* @escapeNotVerified */ echo $block->getFieldId() ?>_<%- data.id %>_delete">
                    <span><?php /* @escapeNotVerified */ echo __('Delete Custom Option'); ?></span>
                </button>
            </div>
            <?php /*<div id="<?php echo $block->getFieldId() ?>_<%- data.id %>_move" data-role="draggable-handle" class="draggable-handle"
                 title="<?php echo __('Sort Custom Options'); ?>"></div>
				*/ ?>
        </div>
        <div class="fieldset-wrapper-content in collapse" id="<%- data.id %>-content">
            <fieldset class="fieldset">
                <fieldset class="fieldset-alt" id="<?php /* @escapeNotVerified */ echo $block->getFieldId() ?>_<%- data.id %>">
                    <input id="<?php /* @escapeNotVerified */ echo $block->getFieldId() ?>_<%- data.id %>_is_delete" name="<?php /* @escapeNotVerified */ echo $block->getFieldName() ?>[<%- data.id %>][is_delete]" type="hidden" value=""/>
                    <input id="<?php /* @escapeNotVerified */ echo $block->getFieldId() ?>_<%- data.id %>_previous_type" name="<?php /* @escapeNotVerified */ echo $block->getFieldName() ?>[<%- data.id %>][previous_type]" type="hidden" value="<%- data.type %>"/>
                    <input id="<?php /* @escapeNotVerified */ echo $block->getFieldId() ?>_<%- data.id %>_previous_group" name="<?php /* @escapeNotVerified */ echo $block->getFieldName() ?>[<%- data.id %>][previous_group]" type="hidden" value=""/>
                    <input id="<?php /* @escapeNotVerified */ echo $block->getFieldId() ?>_<%- data.id %>_id" name="<?php /* @escapeNotVerified */ echo $block->getFieldName() ?>[<%- data.id %>][id]" type="hidden" value="<%- data.id %>"/>
                    <input id="<?php /* @escapeNotVerified */ echo $block->getFieldId() ?>_<%- data.id %>_option_id" name="<?php /* @escapeNotVerified */ echo $block->getFieldName() ?>[<%- data.id %>][option_id]" type="hidden" value="<%- data.option_id %>"/>
					<div class="field field-option-input-sort_order">
						<label class="label" for="<?php /* @escapeNotVerified */ echo $block->getFieldId() ?>_<%- data.id %>_sort_order">
                            <?php /* @escapeNotVerified */ echo __('Sort Order') ?>
                        </label>
                        <div class="control opt-sort_order">
							<input id="<?php echo $block->getFieldId() ?>_<%- data.id %>_sort_order" name="<?php /* @escapeNotVerified */ echo $block->getFieldName() ?>[<%- data.id %>][sort_order]" type="text" class="input-text required-entry validate-number sort_order" value="<%- data.sort_order %>"/>
						</div>
					</div>
					<?php if($hasDependantModule): ?>
					<div class="field field-option-input-row_id">
                        <label class="label" for="<?php /* @escapeNotVerified */ echo $block->getFieldId() ?>_<%- data.id %>_row_id">
                            <?php /* @escapeNotVerified */ echo __('ID') ?>
                        </label>
                        <div class="control opt-row_id">
							<input id="<?php echo $block->getFieldId() ?>_<%- data.id %>_row_id" type="text" name="<?php echo $block->getFieldName() ?>[<%- data.id %>][row_id]" value="<%- data.row_id %>" class="input-text type-row_id" readonly>
                        </div>
                    </div>
					<?php endif; ?>
                    <div class="field field-option-title required">
                        <label class="label" for="<?php /* @escapeNotVerified */ echo $block->getFieldId() ?>_<%- data.id %>_title">
                            <?php /* @escapeNotVerified */ echo __('Option Title') ?>
                        </label>
                        <div class="control">
                            <input id="<?php /* @escapeNotVerified */ echo $block->getFieldId() ?>_<%- data.id %>_title"
                                   name="<?php /* @escapeNotVerified */ echo $block->getFieldName() ?>[<%- data.id %>][title]"
                                   class="required-entry input-text"
                                   type="text"
                                   value="<%- data.title %>"
                                   data-store-label="<%- data.title %>"
                                   <% if (typeof data.scopeTitleDisabled != 'undefined' && data.scopeTitleDisabled != null) { %> disabled="disabled" <% } %>
                                   >
                            <%- data.checkboxScopeTitle %>
                        </div>
                    </div>

                    <div class="field field-option-input-type required">
                        <label class="label" for="<?php /* @escapeNotVerified */ echo $block->getFieldId() ?>_<%- data.id %>_title">
                            <?php /* @escapeNotVerified */ echo __('Input Type') ?>
                        </label>
                        <div class="control opt-type">
                            <?php echo $block->getTypeSelectHtml() ?>
                        </div>
                    </div>

                    <div class="field field-option-req">
                        <div class="control">
                            <input id="<?php /* @escapeNotVerified */ echo $block->getFieldId() ?>_<%- data.id %>_required" class="is-required" type="checkbox" checked="checked"/>
                            <label for="field-option-req">
                                <?php /* @escapeNotVerified */ echo __('Required')?>
                            </label>
                            <span style="display:none"><?php echo $block->getRequireSelectHtml() ?></span>
                        </div>
                    </div>
					<?php if($hasExtraElements): ?>
					<div class="field field-option-input-layout select-group-main-options-<%- data.id %> no-display">
                        <label class="label" for="<?php /* @escapeNotVerified */ echo $block->getFieldId() ?>_<%- data.id %>_layout">
                            <?php /* @escapeNotVerified */ echo __('Layout') ?>
                        </label>
                        <div class="control opt-layout">
                            <?php echo $block->getLayoutSelectHtml() ?>
                        </div>
                    </div>
					<div class="field field-option-input-description ">
                        <label class="label" for="<?php /* @escapeNotVerified */ echo $block->getFieldId() ?>_<%- data.id %>_description">
                            <?php /* @escapeNotVerified */ echo __('Description') ?>
                        </label>
                        <div class="control opt-description">
							<textarea name="<?php echo $block->getFieldName() ?>[<%- data.id %>][description]" class="textarea"><%- data.description %></textarea>
                        </div>
                    </div>
					<div class="field field-option-input-css_class ">
                        <label class="label" for="<?php /* @escapeNotVerified */ echo $block->getFieldId() ?>_<%- data.id %>_css_class">
                            <?php /* @escapeNotVerified */ echo __('Css Class') ?>
                        </label>
                        <div class="control opt-css_class">
							<input type="text" name="<?php echo $block->getFieldName() ?>[<%- data.id %>][css_class]" value="<%- data.css_class %>" class="input-text">
                        </div>
                    </div>
					<div class="field field-option-input-image_height select-group-main-options-<%- data.id %> no-display">
                        <label class="label" for="<?php /* @escapeNotVerified */ echo $block->getFieldId() ?>_<%- data.id %>_image_height">
                            <?php /* @escapeNotVerified */ echo __('Image Height') ?>
                        </label>
                        <div class="control opt-image_height">
							<input type="text" name="<?php echo $block->getFieldName() ?>[<%- data.id %>][image_height]" value="<%- data.image_height %>" class="input-text validate-number">
                        </div>
                    </div>
					<div class="field field-option-input-image_width select-group-main-options-<%- data.id %> no-display">
                        <label class="label" for="<?php /* @escapeNotVerified */ echo $block->getFieldId() ?>_<%- data.id %>_image_width">
                            <?php /* @escapeNotVerified */ echo __('Image Width') ?>
                        </label>
                        <div class="control opt-image_width">
							<input type="text" name="<?php echo $block->getFieldName() ?>[<%- data.id %>][image_width]" value="<%- data.image_width %>" class="input-text validate-number">
                        </div>
                    </div>
					<?php endif ?>
                </fieldset>
            </fieldset>
        </div>
    </div>
</script>

<div id="import-container" style="display: none;"></div>
<?php if (!$block->isReadonly()): ?>
<div><input type="hidden" name="affect_product_custom_options" value="1"/></div>
<?php endif; ?>
<script>
var lastRowId = 0;
var hasDependantModule = <?php if($hasDependantModule):?>true<?php else:?>false<?php endif; ?>;
var selectGroupOption = ['drop_down','radio','checkbox','multiple'];
require([
    "jquery",
    "MageArray_CustomOptions/js/custom-options",
	"prototype"
], function(jQuery){
	jQuery(function ($) {
		var fieldSet = $('[data-block=product-custom-options]');
		fieldSet.customOptions(<?php /* @escapeNotVerified */ echo $this->helper('Magento\Framework\Json\Helper\Data')->jsonEncode(
			[
				'fieldId' => $block->getFieldId(),
				'productGridUrl' => $block->getProductGridUrl(),
				'formKey' => $block->getFormKey(),
				'customOptionsUrl' => $block->getCustomOptionsUrl(),
				'isReadonly' => $block->isReadonly(),
				'itemCount' => $block->getItemCount(),
				'currentProductId' => $block->getCurrentProductId(),
			]
		)?>);
		//adding data to templates
		<?php /** @var $_value \Magento\Framework\DataObject */ ?>
		<?php foreach ($block->getOptionValues() as $_value): ?>
			var jsonData = <?php /* @escapeNotVerified */ echo $_value->toJson() ?>;
			fieldSet.customOptions('addOption', jsonData);
		<?php endforeach; ?>
	});

	<?php if($hasExtraElements): ?>
	jQuery(document).ready(function() {
		jQuery('.select-product-option-type').live('change',function(){
			var id = this.id.replace('product_option_','').replace('_type','');
			var groupElements = jQuery('.'+SELECT_GROUP_OPTIONS+id);
			if(selectGroupOption.indexOf(this.value)>=0) {
				groupElements.removeClass('no-display');
			} else {
				groupElements.find('input,textarea,select').val('');
				groupElements.addClass('no-display');
			}
		}).change();
		
		jQuery('img[id^=display_image_][src!=""]').parent().removeClass('no-display');
	});
	<?php endif; ?>
});

<?php if($hasExtraElements): ?>
var SELECT_GROUP_OPTIONS = 'select-group-main-options-';
var IMAGE_DIV = 'display_image_div_';
var DISPLAY_IMG_SRC = 'display_image_';
var REMOVE_IMG_INPUT = 'remove_image_';
var BROWSE_IMG_INPUT = 'browse_image_';
var STORE_IMAGE_IMG_INPUT = 'store_image_';
function browseImage(input) {
	if (input.files && input.files[0]) {
		var id = input.id.replace(BROWSE_IMG_INPUT,'');
		var reader = new FileReader();
		reader.onload = function (e) {
			jQuery('#'+DISPLAY_IMG_SRC+id).attr('src', e.target.result);
			jQuery('#'+IMAGE_DIV+id).removeClass('no-display');
			jQuery('#'+REMOVE_IMG_INPUT+id).val('');
		}
		reader.readAsDataURL(input.files[0]);
	}
}
function deleteimage(id) {
	jQuery('#'+BROWSE_IMG_INPUT+id).val('');
	jQuery('#'+REMOVE_IMG_INPUT+id).val('1');
	jQuery('#'+IMAGE_DIV+id).addClass('no-display');
	jQuery('#'+DISPLAY_IMG_SRC+id).attr('src', '');
}
<?php endif; ?>
</script>
