<div class="hdrAccountLinks">	
	<ul>
		<li>
			<span class="accToggle"></span>
			<ul class="dropdown-menu"><?php echo $block->getChildHtml(); ?></ul>
		</li>
	</ul>
</div>

<script type="text/javascript">
	require(['jquery'],function($){
		$(document).ready(function(){
			$('.hdrAccountLinks .accToggle').click(function(){
				$('.hdrAccountLinks .dropdown-menu').toggle();
				$('.header .block-search .block-content').css('display','none');
			});
		});
	});
</script>