<div class="product-view-categ">
	<?php
	$blockObj = $block->getLayout()->createBlock('Rvs\SocialShare\Block\Category\Category');
	$proid = $blockObj->getCurrentProduct();
	$productId = $proid->getId(); // YOUR PRODUCT ID
	$product = $blockObj->getProductById($productId);

	// for current product
	// $product = $block->getCurrentProduct();
	/*********** this code use to print categories ************* */
	// $categoryIds = $product->getCategoryIds();

	// $categories = $blockObj->getCategoryCollection()->addAttributeToFilter('entity_id', $categoryIds);
	// foreach ($categories as $category) {
		// $name = $category->getName();
		// $url = $category->getUrl();
		// if($name != "Default Category")
		// {
		// $name_result = $name.' , ';
		// echo "<a href='$url' target='_blank'>$name_result</a>";
		// }
	// }
	/*********** End of code use to print categories ************* */
	?>
</div>
<div class="product-view-socialicons">
	<strong>Share this Product</strong>
    <ul>
        <li><a href="https://www.facebook.com/sharer.php?u=<?php echo $proid->getProductUrl(); ?>" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="https://twitter.com/intent/tweet?url=<?php echo $proid->getProductUrl(); ?>&text=<?php echo $proid->getName(); ?>&via=<?php echo $block->getUrl(); ?>" target="_blank">
			<i class="fab fa-twitter"></i></a>
		</li>
        <li><a href="https://plus.google.com/share?url=<?php echo $proid->getProductUrl(); ?>" target="_blank">
			<i class="fab fa-google-plus-g"></i></a></li>
		<!--li><a href="mailto:info@vapoholic.co.uk?Subject=<?php echo $proid->getName(); ?>"><i class="fa fa-envelope"></i></a></li-->
        <li><a href="https://pinterest.com/pin/create/button/?media=<?php echo $block->getUrl('pub/media/catalog') . 'product' . $proid->getImage(); ?>&url=<?php echo $proid->getProductUrl(); ?>&description=<?php echo $proid->getName(); ?>" target="_blank"><i class="fab fa-pinterest-p"></i></a></li>
    </ul>
</div>