<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="file-uploader-area">
<input class="admin__control-text" type="file" accept="image/*" data-form-part="product_form" data-bind=" 
    hasFocus: focused,
    attr: {
        onchange: optid,
        name: inputName,
        placeholder: placeholder,
        'aria-describedby': noticeId,
        id: uid,
        disabled: disabled,
        form: formId
    }"
/>
<label class="file-uploader-button action-secondary" >...</label>
</div>