<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!-- ko if: value -->
<div>
	<img data-bind="attr: {src: storeurl + value() , id: 'logicId-' + optid}" class="small-image-logicId v-middle delimage" height="35px" width="35px" />
   <span class="removeimage action-delete" data-bind="attr: {id: 'removeimage-' + optid , onclick: optidspan}">&nbsp;</span>
</div>
<!-- /ko -->
<!-- ko ifnot: value -->
<div>
	<img data-bind="attr: {src: '' , id: 'logicId-' + optid}" class="small-image-logicId v-middle delimage" height="35px" width="35px" style="display:none;" />
	<span class="removeimage action-delete" style="display:none;" data-bind="attr: {id: 'removeimage-' + optid , onclick: optidspan}">&nbsp;</span>
</div>
<!-- /ko -->
<input style="overflow: hidden !important; width: 0px !important; opacity: 0 !important;" class="admin__control-text" type="text" data-form-part="product_form"
       data-bind="
        value: value,
        valueUpdate: 'focus',
        hasFocus: focused,
        attr: {
            value: value,
            name: inputName,
            placeholder: placeholder,
            'aria-describedby': noticeId,
            id: 'hiddeninput-' + optid,
            disabled: disabled
    }" />

