// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

@import 'module/_collapsible_navigation.less';

//
//  Theme variables
//  _____________________________________________

//  Messages
@message-global-note__color: @text__color;
@message-global-note__background: @color-yellow-light2;
@message-global-note-link__color: @link__color;
@message-global-note-link__color-hover: @link__hover__color;
@message-global-note-link__color-active: @link__active__color;
@message-global-note__border-color: @color-yellow-light3;

@message-global-caution__color: @color-white;
@message-global-caution__background: @color-red9;
@message-global-caution-link__color: @link__color;
@message-global-caution-link__color-hover: @link__hover__color;
@message-global-caution-link__color-active: @link__active__color;
@message-global-caution__border-color: none;

@header__background-color: false;
@header-panel__background-color: @color-gray-middle4;
@header-panel__text-color: @color-white;
@header-icons-color: @color-gray46;
@header-icons-color-hover: @color-gray20;
@customer-welcome__z-index: @dropdown-list__z-index + 1;

@addto-color: @color-gray40;
@addto-hover-color: @primary__color;
@minicart-icons-color: @header-icons-color;
@minicart-icons-color-hover: @header-icons-color-hover;

@price-color: @color-gray34;
@price-size: 22px;
@price-size-desktop: 36px;

@button__shadow: inset 0 1px 0 0 rgba(255, 255, 255, 1), inset 0 -1px 0 0 fade(@border-color__base, 30); // Used for secondary button and catalog toolbar controls
@button__shadow-active: inset 0 1px 0 0 fade(@border-color__base, 80), inset 0 -1px 0 0 fade(@border-color__base, 30); // Used for secondary button and catalog toolbar controls

@h1__margin-bottom__desktop: @indent__xl;

//  Footer
@footer__background-color: @color-gray-light01;
@footer-links-separator-border-color: @color-gray-light4;
@footer-links-color: @color-gray34;
@footer-links-color-hover: @color-gray20;
@footer-links-color-current: @primary__color__light;

//  Layered navigation
@filter-title-background-color: @color-gray94;
@filter-link: @color-gray-darken4;
@filter-link-hover: darken(@filter-link, 30%);
@filter-quantity: @color-gray46;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    @import url("https://fonts.googleapis.com/css?family=Poppins:300,300i,400,500,600,700");
	* {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    @font-face {
        font-family: 'Darkwoman';
        src: url('../fonts/Darkwoman.eot');
        src: url('../fonts/Darkwoman.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Darkwoman.woff') format('woff'),
        url('../fonts/Darkwoman.ttf') format('truetype'),
        url('../fonts/Darkwoman.svg#Darkwoman') format('svg');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'Cloister';
        src: url('../fonts/CloisterBlack-Light.eot');
        src: url('../fonts/CloisterBlack-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CloisterBlack-Light.woff') format('woff'),
        url('../fonts/CloisterBlack-Light.ttf') format('truetype'),
        url('../fonts/CloisterBlack-Light.svg#CloisterBlack-Light') format('svg');
        font-weight: 300;
        font-style: normal;
    }
	
	@font-face {
		font-family: 'Futura';
		src: url('../fonts/Futura.woff2') format('woff2'),
			url('../fonts/Futura.woff') format('woff');
		font-weight: 500;
		font-style: normal;
	}	
	@font-face {
		font-family: 'Futura XBlkCn';
		src: url('../fonts/FuturaBT-ExtraBlackCondensed.woff2') format('woff2'),
			url('../fonts/FuturaBT-ExtraBlackCondensed.woff') format('woff');
		font-weight: 900;
		font-style: normal;
	}
    @font-face {
        font-family: 'Script MT';
        src: url('../fonts/ScriptMTBold.woff2') format('woff2'),
        url('../fonts/ScriptMTBold.woff') format('woff');
        font-weight: bold;
        font-style: normal;
    }

    @font-face {
        font-family: 'Freshman';
        src: url('../fonts/Freshman.woff2') format('woff2'),
        url('../fonts/Freshman.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    .border-radius (@radius) {
        border-radius: @radius;
        -webkit-border-radius: @radius;
        -moz-border-radius: @radius;
        -o-border-radius: @radius;
    }
    .box-shadow (@box-shadow) {
        box-shadow: @box-shadow;
        -webkit-box-shadow: @box-shadow;
        -moz-box-shadow: @box-shadow;
        -o-box-shadow: @box-shadow;
    }
    .transform (@translate) {
        transform: @translate;
        -webkit-transform: @translate;
        -moz-transform: @translate;
        -o-transform: @translate;
    }
    .transition  (@transition) {
        transition: @transition;
        -webkit-transition: @transition;
        -moz-transition: @transition;
        -o-transition: @transition;
    }
    body {
		background: #ffffff;
        color: @black-color;
        font-family: @site-font;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.2;
    }
	strong{
		font-family: @futura-bt-font;
	}
    ul{
        list-style: none;
        padding: 0;
        margin: 0;
    }
    ul li{
        padding: 0;
        margin: 0;
    }
    a, .alink{
        color: #000000;
        &:hover{
            color: #000000;
            text-decoration: underline;
        }
        &:visited{
            color: #000000;
        }
    }
	img, video{
        vertical-align: middle;
    }
    .clearfix, .container{
        &:before, &:after{
            content: '';
            display: table;
        }
        &:after{
            clear: both;
        }
    }

    //  ToDo UI: move it directly to .page-wrapper (now it doesn't appear in mediaquery cuz of size of css)
    .page-wrapper {
        .ie9 & {
            .lib-css(background-color, @page__background-color);
            min-height: 0;
        }
    }

    //
    //  Header
    //  ---------------------------------------------

    .page-header {
        .lib-css(background-color, @header__background-color);
        border-bottom: 3px solid @grey-border;
		margin-top: 25px;

        .panel.wrapper {
            .lib-css(background-color, @header-panel__background-color);
            .lib-css(color, @header-panel__text-color);
        }

        .switcher.currency{
            strong{
                img{
                    position: relative;
                    top: -1px;
                }
            }
        }

        .hdrAccountLinks{
            .accToggle{
                background: url('../images/user.png') no-repeat;
                background-size: 20px 21px;
                cursor: pointer;
                display: block;
                height: 21px;
                width: 20px;
            }
            .dropdown-menu{
                background: #ffffff;
                border: 1px solid @light-border;
                display: none;
                margin-top: 5px;
                position: absolute;
                top: 100%;
                left: 0;
                padding: 7px 0;
                width: 180px;
                li{
                    a{
                        display: block;
                        font-size: 12px;
                        padding: 8px 12px;
                    }
                }
            }
        }
    }

    .header.panel {
        > .header.links {
            .lib-list-inline();
            float: right;
            font-size: 0;
            margin-left: auto;
            margin-right: @indent__base;

            > li {
                font-size: @font-size__base;
                margin: 0 0 0 15px;

                > a {
                    .lib-link(
                    @_link-color: @header-panel__text-color,
                    @_link-text-decoration: none,
                    @_link-color-visited: @header-panel__text-color,
                    @_link-text-decoration-visited: none,
                    @_link-color-hover: @header-panel__text-color,
                    @_link-text-decoration-hover: underline,
                    @_link-color-active: @header-panel__text-color,
                    @_link-text-decoration-active: underline
                    );
                }
            }
        }
    }

    .header {
        &.content:extend(.abs-add-clearfix all) {
            position: relative;
        }
        .link.compare{
            display: none;
        }
    }

    .logo {
        .page-print & {
            display: inline-block;
            float: none;
        }
    }

    .page-main {
        > .page-title-wrapper {
            .page-title + .action {
                margin-top: @indent__l;
            }
        }
    }

    .action.skip {
        &:not(:focus) {
            &:extend(.abs-visually-hidden all);
        }

        &:focus {
            .lib-css(background, @color-gray94);
            .lib-css(padding, @indent__s);
            box-sizing: border-box;
            left: 0;
            position: absolute;
            text-align: center;
            top: 0;
            width: 100%;
            z-index: 15;
        }
    }

    .action-skip-wrapper {
        height: 0;
        position: relative;
    }

    //
    //  Global notice
    //  ---------------------------------------------

    .message.global {
        p {
            margin: 0;
        }

        &.noscript,
        &.cookie {
            .lib-message(@_message-type: global-note);
            margin: 0;
        }

        &.cookie {
            bottom: 0;
            left: 0;
            position: fixed;
            right: 0;
            z-index: 3;

            .actions {
                margin-top: @indent__s;
            }
        }

        &.demo {
            .lib-message(@_message-type: global-caution);
            margin-bottom: 0;
            text-align: center;
        }
    }

    //
    //  Footer
    //  ---------------------------------------------

    .footer {
        &.content {
            ul:extend(.abs-reset-list all) {
            }

            .links {
                > li {
                    .lib-css(background, @footer__background-color);
                    .lib-font-size(16);
                    border-top: 1px solid @footer-links-separator-border-color;
                    margin: 0 -@layout__width-xs-indent;
                    padding: 0 @layout__width-xs-indent;
                }

                a,
                strong {
                    display: block;
                    padding: @indent__s 0;
                }

                strong {
                    .lib-css(color, @footer-links-color-current);
                    font-weight: normal;
                }

                a {
                    .lib-link(
                    @_link-color: @footer-links-color,
                    @_link-text-decoration: none,
                    @_link-color-visited: @footer-links-color,
                    @_link-text-decoration-visited: none,
                    @_link-color-hover: @footer-links-color-hover,
                    @_link-text-decoration-hover: underline,
                    @_link-color-active: @footer-links-color-hover,
                    @_link-text-decoration-active: underline
                    );
                }
            }
        }
        .footerLinks{
            border-bottom: 1px solid @grey-border;
            border-top: 1px solid @grey-border;
            margin: 0 -10px;
            padding: 15px 0 0;
            text-align: center;
            ul{
                li{
                    display: inline-block;
                    padding: 0 8px 15px;
                    a{
                        color: #000000;
                        font-size: 13px;
                    }
                }
            }
        }
        .footerText{
            display: none;
        }
    }

    .copyright-section{
        padding: 10px 0 15px;
        text-align: center;
    }

    .copyright {
        color: #464646;
        display: inline-block;
        font-size: 12px;
    }
    .ftrDesignby{
        color: #464646;
        display: inline-block;
        font-size: 12px;
        i{
            color: @pink-color;
        }
        strong{
            font-weight: 400;
        }
        img{
            width: 16px;
        }
    }

    .page-header,
    .page-footer {
        .switcher {
            .options {
                .lib-dropdown(
                @_dropdown-actions-padding: 0,
                @_dropdown-list-item-padding: 0,
                @_dropdown-toggle-icon-content: @icon-down,
                @_dropdown-toggle-active-icon-content: @icon-up,
                @_icon-font-text-hide: true,
                @_icon-font-size: 8px,
                @_icon-font-line-height: 20px,
                @_dropdown-list-min-width: 160px
                );

                ul.dropdown {
                    left: -7px;
                    margin-top: 10px;
                    a {
                        .lib-link(
                        @_link-color: @color-gray20,
                        @_link-text-decoration: none,
                        @_link-color-visited: @color-gray20,
                        @_link-text-decoration-visited: none,
                        @_link-color-hover: @color-gray20,
                        @_link-text-decoration-hover: none,
                        @_link-color-active: @color-gray20,
                        @_link-text-decoration-active: none
                        );
                        color: @black-color !important;
                        display: block;
                        font-size: 12px;
                        padding: 8px 10px;
                        img{
                            margin-right: 10px;
                            position: relative;
                            top: -1px;
                        }
                    }
                }
            }

            strong {
                font-family: @futura-md-font;
                font-size: 13px;
                font-weight: 400;
            }
            b{
                font-weight: 400;
            }

            .label {
                &:extend(.abs-visually-hidden all);
            }
        }
    }

    //
    //  Widgets
    //  ---------------------------------------------

    .sidebar {
        .widget.block:not(:last-child),
        .widget:not(:last-child) {
            margin-bottom: @indent__xl;
        }
    }

    .widget {
        clear: both;

        .block-title:extend(.abs-block-widget-title all) {
        }
    }

    .page-header,
    .page-footer {
        .widget.block {
            .lib-css(margin, @indent__base 0);
        }
        .links .widget.block { margin: 0; }
    }

    .no-display:extend(.abs-no-display all) {
    }

    //
    //  Calendar
    //  ---------------------------------------------

    .ui-datepicker td {
        padding: 0;
    }

    .ui-tooltip {
        .lib-css(background, @tooltip__background);
        border: @tooltip__border-width solid @tooltip__border-color;
        padding: 10px;
    }
    .home-images{
        margin-bottom: 15px;
        margin-top: 6px;
        .grid{
            margin: 0 -4px;
        }
        .grid-item{
            float: left;
            padding: 4px;
            position: relative;
            &.whcol2{
                width: 100%;
            }
            &.col1{
                width: 50%;
            }
            &.hcol2{
                width: 50%;
            }
            .image-text {
			    color: #000000;
                position: absolute;
                top: 65%;
                left: 0;
                right: 0;
                text-align: center;
				font-family: @futura-bt-font;
                font-size: 25px;
				font-style: italic;
				letter-spacing: 0.5px;
                text-transform: uppercase;
                font-weight: 800;
                transform: translate3d(0,-50%,0);
				text-shadow: 1px 1px 0px #fff, -1px -1px 0px #fff, 1px -1px 0px #fff, -1px 1px 0px #fff;
				span{
					display: block;
					font-family: @futura-md-font;
					font-size: 13px;
					font-weight: 500;
					letter-spacing: 0;
					text-shadow: none;
					a{
					    border-bottom: 1px solid #fff;
						color: #ffffff;						
						text-decoration: none;
					}
				}
            }
            .image-text1 {
			    color: #000000;
                position: absolute;
                bottom: 10px;
                text-align: center;
                left: 0;
                right: 0;
				font-family: @futura-bt-font;
                font-size: 18px;
                font-weight: 900;
				font-style: italic;
				letter-spacing: 0.5px;
                text-transform: uppercase;
                transform: translate3d(0, -10%, 0);
                line-height: 20px;                
                padding: 0 10px;
				text-shadow: 1px 1px 0px #fff, -1px -1px 0px #fff, 1px -1px 0px #fff, -1px 1px 0px #fff;
				&.blacktext{
					color: #000000;
					span{
						a{
							border-bottom: 1px solid #000000;
							color: #000000;
						}						
					}
				}
                span {
                    display: block;
					font-family: @futura-md-font;
					font-size: 12px;
                    font-weight: 500;  
					letter-spacing: 0;	
					text-shadow: none;					
                    a {
                        color: #fff;
                        border-bottom: 1px solid #fff;
                        text-decoration: none;
                    }
                }
            }
			.imagelinksite{
				a{
					color: #000000;
					&:hover{
						text-decoration: none;
					}
				}
			}
            &.homeCreateOwnBanner{
                .image-text1{
                    font-size: 25px;
                    span{
                        font-size: 13px;
                    }
                }
            }
        }
    }
    .home-collection-block{
        .block.widget{
            margin-bottom: 0;
        }
        .block-title{
            margin: 0 0 22px;
            text-align: center;
            strong{
                font-size: 16px;
                font-weight: 500;
                &:after{
                    border-bottom: 1px solid @pink-color;
                    content: '';
                    display: block;
                    margin: 8px auto 0;
                    width: 80px;
                }
            }
        }
    }
    .owl-carousel{
        .product-item-info{
            padding: 0 5px;
        }
        .owl-buttons{
            display: none;
        }
        .owl-nav{
            display: none;
        }
        &.owl-theme{
            .owl-controls{
                margin-top: 10px;
                .owl-page{
                    span{
                        background: #ebebeb;
                        width: 10px;
                        height: 10px;
                        margin: 0 4px;
                    }
                    &.active span, &:hover span{
                        background: #000000;
                    }
                }
            }
        }
    }
    .page-title-wrapper{
        margin: 0 0 20px;
        text-align: center;
        .page-title{
			font-family: @futura-bt-font;
            font-size: 18px;
            font-weight: 900;
            margin: 0;
            &:after{
                border-bottom: 1px solid @pink-color;
                content: '';
                display: block;
                margin: 12px auto 0;
                width: 80px;
            }
        }
    }
    .cms-index-index{
        .page-main{
            padding-top: 0;
        }
    }
    .contact-index-index{
        .page-title-wrapper{
            display: none;
        }
    }
    .form.contact{
        .fieldset{
            & > .legend{
                border: none;
				font-family: @futura-bt-font;
                font-size: 20px;
                font-weight: 500;
                margin: 0 0 20px;
                padding: 0;
                &:after{
                    border-bottom: 1px solid @pink-color;
                    content: '';
                    display: block;
                    margin: 10px 0 0;
                    width: 80px;
                }
            }
        }
        .field.note{
            display: none;
        }
        .action.primary{
            background: #4d4d4d;
            padding: 0 90px;
            &:hover{
                background: #000000;
            }
        }
    }
    .contactPolicy{
        color: #706f6f;
        font-size: 12px;
        font-weight: 300;
        line-height: 26px;
        margin: 20px 0 15px;
        a{
            color: #706f6f;
            text-decoration: underline;
        }
    }
    .contactCall{
        border-top: 1px solid @grey-border;
        color: #706f6f;
        font-size: 12px;
        font-weight: 300;
        padding: 18px 0;
        text-align: center;
    }
    .contactSocial{
        border-bottom: 1px solid @grey-border;
        border-top: 1px solid @grey-border;
        text-align: center;
        label{
            color: #706f6f;
            font-size: 12px;
            font-weight: 300;
            margin-right: 15px;
            display: inline-block;
            vertical-align: middle;
        }
        & > a{
            background: url('../images/conSocial.png') no-repeat;
            display: inline-block;
            height: 60px;
            vertical-align: middle;
            width: 30px;
            &.fbIcon{
                background-position: 0 center;
                &:hover{
                    background-position: -30px center;
                    background-color: #9e1897;
                }
            }
            &.twIcon{
                background-position: -60px center;
                &:hover{
                    background-position: -90px center;
                    background-color: #9e1897;
                }
            }
            &.InstaIcon{
                background-position: -120px center;
                &:hover{
                    background-position: -150px center;
                    background-color: #9e1897;
                }
            }
            &.ytIcon{
                background-position: -180px center;
                &:hover{
                    background-position: -210px center;
                    background-color: #9e1897;
                }
            }
        }
    }
    .faqPage{
        .desc{
            font-size: 13px;
            font-weight: 400;
            line-height: 30px;
        }
        h3{
            border-top: 1px solid @grey-border;
			font-family: @futura-bt-font;
            font-size: 14px;
            font-weight: 500;
            margin: 15px 0;
            padding-top: 17px;
        }
        p{
            font-size: 13px;
            font-weight: 400;
            line-height: 26px;
            margin: 0;
        }
    }
    .textPages{
        margin: 0 auto;
        max-width: 850px;
        width: 100%;
        h3{
			font-family: @futura-bt-font;
            font-size: 16px;
            font-weight: 600;
            margin: 0 0 15px;
            padding-top: 12px;
			&:first-child{
				padding-top: 0;
			}
        }
        h4{
			font-family: @futura-bt-font;
            font-size: 14px;
            font-weight: 500;
            margin: 0 0 15px;
            padding-top: 10px;
        }
        p{
            font-size: 13px;
            font-weight: 400;
            line-height: 25px;
            margin: 0 0 15px;
            &:last-child{
                margin: 0;
            }
            a{
                text-decoration: underline;
            }
            strong{
				font-family: @futura-bt-font;
                font-weight: 600;
            }
        }
        ul{
            list-style: disc;
            padding-left: 17px;
            li{
                font-size: 13px;
                line-height: 26px;
                margin: 0 0 10px;
            }
        }
    }
	.textPages2{
		text-align:center;
		h3{
			font-family: @futura-bt-font;
			font-size: 16px;			
			font-weight: 600;
			line-height: 1.1;
			margin: 25px 0;
		}
		p{
			font-size: 13px;
            font-weight: 400;
            line-height: 25px;
            margin: 0 0 15px;
            &:last-child{
                margin: 0;
            }
		}
	}
    .messages{
        .message{
            margin-bottom: 20px;
        }
    }
	#header-mpdal {
		.block.newsletter {
			h3 {
				display: none;
			}
			.action.subscribe {
				background: #000;
				border: none;
				width: auto;
				height: 42px;
				line-height: 42px;
				position: relative;
				display: block;
				text-align: center;
				margin: 0 auto;
				margin-top: 15px;
				span {
					display: block;
				}
			}
		}
	}
	.modal-popup {
		.modal-inner-wrap {
			width: 100%;
			max-width: 500px;
			text-align: center;
			background: #fff2f3 !important;
            min-height: inherit !important;
		}
		.modal-header {
			padding-top: 1.5rem;
			.action-close {
				padding: 12px;
			}
		}
		.modal-content {
			h2 {
				font-size: 24px;
				margin-bottom: 15px;
				font-weight: 500;
				margin-top: 0;
			}
			p {
				max-width: 210px;
				margin: 0 auto 20px;
				line-height: 20px;
			}
			input[type="email"] {
				border: 2px solid #000;
			}
		}
	}
	.imagnewspop {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		text-align: center;
		top: -25px;
		a {
			background: #000;
			display: inline-block;
			color: #fff;
			padding: 8px 25px;
			border-bottom-left-radius: 5px;
			border-bottom-right-radius: 5px;
			font-size: 12px;
			text-decoration: none;
		}
	}	
	.cms-about-us {
		.abt-page {
			.img-center {
				img {
					width: 100%;
				}
			}
			.textPages2 {
				text-align: left;
			}
		}
	}
    .promotBar{
        border-bottom: 1px solid #000000;
        .owl-carousel{
            .owl-stage{
                transition: all 2.5s ease 0s !important;
            }
        }
        .owl-item{
            padding: 10px 5px;
            text-align: center;
        }
        .owl-dots{
            display: none;
        }
        h3{
            font-family: Arial;
            font-size: 12px;
            font-weight: bold;
            margin: 0 0 4px;
            text-transform: uppercase;
        }
        p{
            font-family: Arial;
            font-size: 11px;
            margin: 0;
            text-transform: uppercase;
        }
    }
}

//
//  Navigation
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen-1024) {
    .page-header{
        .wishlist-right-header{
            display: none;
        }
        .hdrAccountLinks{
            .accToggle{
                position: absolute;
                left: 52px;
                top: 26px;
            }
            .dropdown-menu{
                top: 55px;
                left: 48px;
                z-index: 9;
            }
        }
        .logoText{
            display: none;
        }
        .switcher.currency{
            position: absolute;
            right: 68px;
            top: 24px;
        }
    }
    .header.content{
        min-height: 73px;
    }
    .logo{
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 12px;
        width: 150px;
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .customer-name,
    .customer-welcome + .authorization-link {
        display: none;
    }

    .nav-sections .switcher-trigger strong:after {
        .lib-font-size(16);
        right: -25px;
        top: -2px;
    }

    .navigation .parent .level-top:after {
        .lib-font-size(16);
        right: 10px;
        top: 7px;
    }

    .page-footer .footer.content {
        .switcher-store {
            .lib-css(background, @footer__background-color);
            .lib-font-size(16);
            margin: 0 -@layout__width-xs-indent;

            .switcher-options {
                display: block;

                ul.dropdown {
                    background: none;
                    border: 0;
                    box-shadow: none;
                    margin: 0;
                    position: relative;

                    &:before,
                    &:after {
                        display: none;
                    }
                }

                .switcher-trigger,
                .switcher-option {
                    border-top: 1px solid @footer-links-separator-border-color;
                    display: block;
                    padding: @indent__s @layout-indent__width;
                }

                .switcher-trigger strong {
                    padding: @indent__s 0;
                }

                .switcher-option a {
                    padding: 0;
                }
            }
        }
    }
    .logo{
        top: 10px;
        width: 120px;
    }
    .header.content {
        min-height: 60px;
    }
    .page-header {
        .hdrAccountLinks {
            .accToggle {
                left: 43px;
                top: 22px;
            }
            .dropdown-menu {
                margin: 0;
                top: 100%;
                left: 0;
                width: 100%;
                li a{
                    padding: 8px 10px;
                }
            }
        }
        .switcher{
            &.currency{
                right: 73px;
                top: 22px;
            }
            .options{
                ul.dropdown{
                    left: -70px;
                    &:before{
                        left: 74px;
                    }
                    &:after{
                        left: 73px;
                    }
                }
                .action.toggle{
                    &:after{
                        display: none !important;
                    }
                    strong{
                        img{
                            top: 0;
                        }
                        b{
                            display: none;
                        }
                    }
                }
            }
        }
    }
    .page-main{
        padding-top: 20px;
    }
    .owl-carousel{
        .owl-nav{
            display: none;
        }
        .owl-dots{
            margin-top: 12px;
            text-align: center;
            button.owl-dot{
                background: #ebebeb;
                border: none;
                border-radius: 50%;
                display: inline-block;
                width: 10px;
                height: 10px;
                margin: 0 4px;
                &.active{
                    background: #000000;
                }
            }
        }
    }
    .contactPage{
        .conPic{
            display: none;
        }
    }
    .home-collection-block{
        margin-top: 15px;
    }
    .modal-popup {
        &.modal-slide {
            left: 0 !important;
            .modal-inner-wrap {
                margin: 5em auto;
                width: 96%;
            }
        }
    }
	.innerPage2Col{
		.innerSidebar{
			display: none;
		}
	}
    .imagnewspop{
        a{
            border-radius: 0;
            width: 100%;
        }
    }
    .ftrDesignby{
        display: block;
        margin-top: 10px;
        strong{
            display: none;
        }
        img {
            position: relative;
            top: -2px;
        }
    }
    .promotBarDesk{
        display: none;
    }
    .filter-no-options .filter-title:before{
        display: none !important;
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
    .home-images{
        .grid{
            margin: 0 -9px;
        }
        .grid-item{
            padding: 9px;
            &.whcol2{
                width: 66.66%;
            }
            &.col1{
                width: 33.33%;
            }
            &.hcol2{
                width: 33.33%;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    body {
        .ie9 & {
            .lib-css(background-color, @copyright__background-color);
        }
    }

    .page-header {
        .panel.wrapper {
            border-bottom: 1px solid @secondary__color;
            .lib-css(background-color, @header-panel__background-color);
        }

        .header.panel:extend(.abs-add-clearfix-desktop all) {
            padding-bottom: @indent__s;
            padding-top: @indent__s;
        }

        .switcher {
            float: right;
            margin-left: 0;
            margin-right: 25px;
            margin-top: 3px;
            .lib-vendor-prefix-order(1);
        }
    }

    .page-main {
        > .page-title-wrapper {
            .page-title {
                display: inline-block;
            }

            .page-title + .action {
                float: right;
                margin-top: @indent__base;
            }
        }
    }

    .customer-welcome {
        .lib-dropdown(
        @_toggle-selector: ~'.action.switch',
        @_options-selector: ~'ul',
        @_dropdown-actions-padding: 0,
        @_dropdown-list-item-padding: 0,
        @_dropdown-toggle-icon-content: @icon-down,
        @_dropdown-toggle-active-icon-content: @icon-up,
        @_icon-font-text-hide: true,
        @_icon-font-size: 10px,
        @_icon-font-line-height: 22px,
        @_dropdown-list-pointer-position: right,
        @_dropdown-list-position-right: 0,
        @_dropdown-list-z-index: @customer-welcome__z-index
        );

        li:extend(.switcher li all) {
            a {
                .lib-link(
                @_link-color: @color-gray20,
                @_link-text-decoration: none,
                @_link-color-visited: @color-gray20,
                @_link-text-decoration-visited: none,
                @_link-color-hover: @color-gray20,
                @_link-text-decoration-hover: none,
                @_link-color-active: @color-gray20,
                @_link-text-decoration-active: none
                );
                display: block;
                line-height: 1.4;
                padding: 8px;
            }
        }

        .customer-name {
            cursor: pointer;
        }

        .customer-menu {
            display: none;
        }

        .action.switch {
            .lib-button-reset();
            .lib-css(color, @color-white);
        }

        .header.links {
            min-width: 175px;
        }

        &.active {
            .action.switch {
                .lib-icon-font-symbol(
                @_icon-font-content: @icon-up,
                @_icon-font-position: after
                );
            }

            .customer-menu {
                display: block;
            }
        }

        .greet {
            display: none;
        }
    }

    .header {
        &.panel {
            > .header.links {
                .lib-list-inline();
                float: right;
                margin-left: auto;

                > li {
                    margin: 0 0 0 15px;

                    &.welcome,
                    > a {
                        display: inline-block;
                        line-height: 1.4;
                    }

                    &.welcome {
                        a {
                            .lib-css(color, @color-white);
                            .lib-css(padding-left, @indent__xs);
                        }
                    }
                }

                > .authorization-link {
                    &:after {
                        content: attr(data-label);
                        display: inline-block;
                        margin: 0 -@indent__xs 0 @indent__xs;
                    }

                    &:last-child {
                        &:after {
                            display: none;
                        }
                    }
                }

                > .customer-welcome + .authorization-link {
                    display: none;
                }
            }
        }
    }

    .page-wrapper {
        .lib-vendor-prefix-display(flex);
        .lib-vendor-prefix-flex-direction(column);
        margin: 0;
        min-height: 100%; // Stretch content area for sticky footer
        position: relative;
        transition: margin .3s ease-out 0s;

        > .breadcrumbs,
        > .top-container,
        > .widget {
            box-sizing: border-box;
            width: 100%;
        }

        .ie10 &,
        .ie11 & {
            height: 100%;
        }
    }

    .page-footer {
        .switcher {
            .options {
                ul.dropdown {
                    bottom: -@indent__s;
                    left: 100%;
                    margin: 0 0 0 @indent__base;
                    top: auto;

                    &:before,
                    &:after {
                        bottom: @indent__base - 7px;
                        left: auto;
                        right: 100%;
                        top: auto;
                    }

                    &:before {
                        .lib-css(border-color, transparent @dropdown-list__background transparent transparent);
                    }

                    &:after {
                        .lib-css(border-color, transparent @dropdown-list-pointer__border transparent transparent);
                        margin: 0 0 -1px -1px;
                    }
                }
            }
        }
    }

    .footer {
        &.content {
            .switcher.store {
                display: block;
                margin: 0;
            }

            .links {
                display: inline-block;
                padding-right: 50px;
                vertical-align: top;

                li {
                    background: transparent;
                    border: none;
                    font-size: 14px;
                    margin: 0 0 8px;
                    padding: 0;
                }

                a,
                strong {
                    display: inline;
                }
            }
        }
        .footerText{
            background: #000;
            color: #ffffff;
            display: block;
			font-family: arial;
            font-size: 13px;
            font-weight: bold;
            padding: 18px 10px;
            text-align: center;
            p{
                margin: 0 auto;
                max-width: 1200px;
                width: 100%;
            }
        }
    }
    .page-main{
        padding-top: 30px;
        .block{
            margin-bottom: 30px;
        }
    }
    .footer{
        .footerLinks{
            border-top: none;
            margin: 0;
            padding: 15px 0;
            ul{
                li{
                    padding: 0 3px;
                }
            }
        }
    }
    .owl-carousel{
        .product-item-info{
            padding: 0 8px;
        }
        &.owl-theme{
            .owl-controls {
                margin-top: 27px;
                .owl-page span{
                    margin: 0 7px;
                }
            }
        }
    }
    .home-collection-block{
        .block.widget{
            margin-bottom: 10px;
        }
        .block-title{
            margin: 0 0 25px;
            strong{
                font-size: 22px;
                &:after{
                    border-bottom: 2px solid #ec008c;
                    margin: 10px auto 0;
                    width: 110px;
                }
            }
        }
    }
    .home-images{
        margin-bottom: 50px;
        margin-top: 10px;
        .grid-item{
            .image-text {
                font-size: 40px;
				text-shadow: 2px 2px 0px #fff, -2px -2px 0px #fff, 2px -2px 0px #fff, -2px 2px 0px #fff;
				span{
					font-size: 16px;
				}
            }
            .image-text1 {
                font-size: 25px;
                line-height: 28px;
                bottom: 15px;
				text-shadow: 2px 2px 0px #fff, -2px -2px 0px #fff, 2px -2px 0px #fff, -2px 2px 0px #fff;
                span {
                    font-size: 14px;
                }
            }
            &.homeCreateOwnBanner{
                .image-text1{
                    font-size: 40px;
                    line-height: 36px;
                    span{
                        font-size: 16px;
                    }
                }
            }
        }
    }
    .page-title-wrapper{
        margin: 0 0 40px;
        .page-title{
            font-size: 22px;
            &:after{
                border-bottom: 2px solid @pink-color;
                margin: 15px auto 0;
                width: 110px;
            }
        }
    }
    .contactPage{
        margin: 10px 0 40px;
        .conPic{
            float: left;
            width: 42%;
        }
        .conInfo{
            float: right;
            width: 54%;
        }
    }
    .form.contact{
        .fieldset > .legend{
            font-size: 26px;
            margin: 0 0 30px;
            &:after{
                border-bottom: 2px solid @pink-color;
                width: 110px;
            }
        }
    }
    .contactPolicy{
        line-height: 30px;
        margin: 25px 0 20px;
    }
    .textPages{
        h3{
            font-size: 20px;
            margin: 0 0 15px;
            padding-top: 12px;
        }
		h4{
			font-size: 15px;
		}
        p{
			font-size: 14px;
            line-height: 28px;
            margin: 0 0 20px;
        }
        ul li{
            font-size: 14px;
            line-height: 28px;
            margin: 0 0 10px;
        }
    }
	.textPages2{
		h3{
			font-size: 20px;
			margin: 30px 0 35px;
		}
		p{
			font-size: 14px;
            line-height: 28px;
            margin: 0 0 20px;
		}
	}
    .faqPage{
        .desc{
            margin-top: -5px;
        }
        h3{
            font-size: 16px;
            margin: 22px 0 18px;
            padding-top: 25px;
        }
        p{
		    font-size: 14px;
            line-height: 26px;
        }
    }
	.innerPage2Col{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		.innerSidebar{
			width: 22%;
			ul{
				li{
					margin-bottom: 20px;
					a{
						color: @black-color;
						&.active{
							font-family: @futura-bt-font;
						}
					}
				}
			}
		}
		.innerContent{
			width: 75%;
		}
	}
	.cms-about-us {
		.abt-page {
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			-webkit-flex-direction: row;
				-ms-flex-direction: row;
					flex-direction: row;
			.img-center {
				flex: 0 0 40%;
				display: block;
			}
			.textPages2 {
				text-align: left;
				margin-left: 5%;
				h3 {
					margin: 0 0 20px;
				}
			}
		}
	}
    .promotBar{
        ul{
            display: flex;
            li{
                display: flex;
                flex-wrap: wrap;
                align-content: center;
                justify-content: center;
                padding: 10px 5px;
                text-align: center;
                width: 33.33%;
                &:last-child{
                    margin: 0;
                }
            }
        }
        h3{
            font-size: 13px;
            width: 100%;
        }
        p{
            font-size: 12px;
            width: 100%;
        }
    }
    .promotBarMob{
        display: none;
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen-1025) {
    .page-header{
        border: 0;
        .logoText{
            font-family: @cursive-font;
            font-size: 26px;
            letter-spacing: 0.5px;
            margin-top: 13px;
        }
        .header-left{
            float: left;
            width: 25%;
        }
        .header-middle{
            float: left;
            width: 50%;
        }
        .header-right{
            float: left;
            width: 25%;
        }
        .logoBlock{
            text-align: center;
        }
        .hdrAccountLinks{
            float: right;
            margin-right: 25px;
            position: relative;
            z-index: 9;
            .accToggle{
                background-size: 23px 24px;
                height: 24px;
                width: 23px;
            }
        }
        .wishlist-right-header{
            float: right;
            margin: 0 25px;
            p{
                margin: 0;
                a{
                    background: url('../images/heart.png') no-repeat;
                    background-size: 24px;
                    display: block;
                    height: 24px;
                    position: relative;
                    text-indent: -9999px;
                    width: 24px;
                    &:hover{
                        background: url('../images/hear_hovert.png') no-repeat;
                        background-size: 24px;
                    }
                }
            }
        }
    }
    .header{
        &.content:extend(.abs-add-clearfix-desktop all) {
            padding-top: 15px;
            padding-bottom: 8px;
        }
        .link.compare{
            display: block;
            list-style: none;
            margin-bottom: 10px;
            float: left;
            .action.compare{
                background: url('../images/compareIcon.png') no-repeat;
                display: block;
                margin-right: 20px;
                position: relative;
                height: 23px;
                width: 22px;
                &.no-display{
                    display: none;
                }
                .text{
                    display: none;
                }
                .counter.qty {
                    background: url('../images/cartCounter.png') no-repeat;
                    background-size: 14px;
                    border-radius: 50%;
                    color: #000000;
                    display: inline-block;
                    height: 14px;
                    font-size: 10px;
                    font-weight: 600;
                    line-height: 14px;
                    width: 14px;
                    position: absolute;
                    right: -7px;
                    top: 0;
                    overflow: hidden;
                    text-align: center;
                    white-space: normal;
                }
            }
        }
    }
    .footer{
        .footerLinks{
            ul{
                li{
                    padding: 0 20px;
                    a{
                        font-size: 14px;
                    }
                }
            }
        }
    }
    .page-title-wrapper{
        .page-title{
            font-size: 26px;
        }
    }
    .home-images{
        .grid-item{
            .image-text {
                font-size: 50px;
				span{
					font-size: 18px;
				}
            }
            .image-text1 {
                font-size: 36px;
                line-height: 34px;
                padding: 0 15px;
                span {
                    font-size: 15px;
                }
            }
            &.homeCreateOwnBanner{
                .image-text1 {
                    font-size: 50px;
                    line-height: 42px;
                    span{
                        font-size: 18px;
                    }
                }
            }
        }
    }
}