.admin__field.image_type_select._required {
    width: 200px;
}
.admin__field.nb-required {
    width: 90px;
    text-align: center;
}

.admin__field.image_type_select._required .action-menu .action-menu-item{
	padding: 5px 10px;
}
.admin__field.option_description .admin__control-textarea {
    height: 48px;
    line-height: 1.18;
    padding-top: .8rem;
    resize: vertical;
}
.magearrayoptions td {
        vertical-align: middle !important;
}
.magearrayoptions td.image_path._fit {
    min-width: 120px;
	text-align:center;
}
.magearrayoptions td.image_path._fit .action-delete{
	position: relative;
	top: -6px;
	    cursor: pointer;
}
.admin__field.image_upload._fit {
    min-width: 100px;
    text-align: center;
}
.magearrayoptions .admin__field.option_description .admin__control-textarea{
	    height: 39px;
}
.nbsetpathinput {
    padding: 0;
    height: 0;
    margin: 0;
}

.magearrayoptions td.image_path._fit .admin__field-control{
	    height: 35px;
}
.magearrayoptions .file-uploader-area .action-secondary {
    background-color: #eb5202;
    border-color: #eb5202;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}
.admin__field.image_height, .admin__field.image_width {
    width: 120px;
}
.admin__field.option_description {
    width: 200px;
}