.admin__scope-old .fieldset .ma-cust-options .fieldset-wrapper .fieldset-wrapper-title, .admin__scope-old .fieldset-wrapper .fieldset-wrapper .fieldset-wrapper-title {background: #5f564f;}
.ma-cust-options .admin__collapsible-block-wrapper .admin__collapsible-title{color:#fff;}
.admin__scope-old .fieldset .ma-cust-options  .fieldset-wrapper, .admin__scope-old .ma-cust-options .fieldset-wrapper .fieldset-wrapper{    border: 1px solid #d6d6d6; border-radius: 0;}

.fieldset .ma-cust-options .fieldset-wrapper .fieldset-wrapper-content, .ma-cust-options .fieldset-wrapper .fieldset-wrapper .fieldset-wrapper-content {padding: 0;} 
.ma-cust-options fieldset.fieldset, .ma-cust-options .fieldset-wrapper .fieldset, .ma-cust-options .fieldset .fieldset {padding-top: 0;}  
.ma-cust-options .fieldset-alt {margin: 0; background: #f5f5f5; padding: 0; border-bottom: 1px solid #d6d6d6;}
.ma-cust-options .fieldset-alt > .field {border-right: .1rem dashed #d6d6d6; padding: 0.3rem 5px 1.3rem 5px;}
.ma-cust-options .fieldset-alt > .field:last-child {border-right:0;}
.ma-cust-options .fieldset-alt .field > .label {padding-right: 0;     min-height: 45px;}
.ma-cust-options .control > input, .ma-cust-options .fieldset-alt select, .ma-cust-options .fieldset-alt textarea {border-color:#d6d6d6; font-size: 1.3rem;}
.ma-cust-options .fieldset-alt .field-option-title {width: 20%;}

.ma-cust-options .fieldset-alt .field-option-req {text-align:center;     width: 70px;}
.ma-cust-options .fieldset-alt .field-option-req .control {top: 0;}
.ma-cust-options .field.field-option-input-row_id, .ma-cust-options .field.field-option-input-sort_order {width: 60px;}
.ma-cust-options .field.field-option-input-sort_order{padding-left:10px;}
.ma-cust-options .field.field-option-input-row_id input, .ma-cust-options .field.field-option-input-sort_order input {text-align:center;}
.ma-cust-options .field.field-option-input-layout.select-group-main-options-2  .opt-layout select {max-width: 140px;}
.ma-cust-options .field.field-option-input-image_height.select-group-main-options-2, .ma-cust-options .field.field-option-input-image_width.select-group-main-options-2 {width: 60px;}

.ma-cust-options .data-table tbody tr:nth-child(odd) th, .ma-cust-options .data-table tbody tr:nth-child(odd) td{background:#f5f5f5;}
.ma-cust-options .data-table thead th {border: solid #f5f5f5;}
.ma-cust-options .data-table td {padding: 10px 7px;}
.ma-cust-options .fieldset-alt .field-option-input-type select {width:90%;}

.ma-cust-options  td.col-row_id.row_id_input input, .ma-cust-options  td.col-row_id.row_id_input, .ma-cust-options .control.opt-row_id input   {width: 44px; text-align: center;}
.ma-cust-options table.data-table td{    font-size: 1.3rem;}
.ma-cust-options select, .admin__scope-old .ma-cust-options textarea, .admin__scope-old .ma-cust-options input
 {font-size: 1.3rem;}
.ma-cust-options .fieldset .control .textarea, .fieldset .control .addon .textarea {height: 30px; resize: vertical;     min-height: 32px;}
 td.col-dependent_options.dependentdiv input {text-align:center;}
 .dependentdiv:before{margin-left: 48px; width: 26px; height: 17px; line-height: 5px; margin-top:8px;}
 .optionsbox {margin-left: -10%; margin-top: 5px; background: #fff; -webkit-box-shadow: 0px 1px 7px 0px rgba(156, 162, 178, 0.39);
    -moz-box-shadow: 0px 1px 7px 0px rgba(156, 162, 178, 0.39); box-shadow: 0px 1px 7px 0px rgba(156, 162, 178, 0.39);}
	
.ma-cust-options input[type=text], .ma-cust-options input[type=password], .ma-cust-options input[type=datetime], .ma-cust-options input[type=datetime-local], .admin__scope-old .ma-cust-options input[type=date], .ma-cust-options input[type=month], .ma-cust-options input[type=time], .ma-cust-options input[type=week], .ma-cust-options input[type=number], .ma-cust-options input[type=range], .ma-cust-options input[type=email], .admin__scope-old .ma-cust-options input[type=url], .ma-cust-options input[type=search], .ma-cust-options input.search, .admin__scope-old .ma-cust-options input[type=tel], .ma-cust-options input[type=color], .ma-cust-options textarea, .admin__scope-old .ma-cust-options select {border: 1px solid #d6d6d6;}
	
.ma-cust-options input.input-file{opacity: 0; position: absolute; height: 33px; width: 41px; cursor: pointer;}
.ma-cust-options .data-table tbody td textarea.input-text {height: 34px;  min-height: 34px;}
.ma-cust-options .file-uploader-button {background-color: #eb5202; border-color: #eb5202;}
.ma-cust-options input{transition:all 1s ease-in;}
.ma-cust-options .col-ma-display-image {text-align:center;}
.ma-cust-options .col-ma-display-image img {border: .1rem dashed #d6d6d6; padding: 3px;}

.ma-cust-options #product_options_container_top .fieldset-wrapper-title {padding-left: 15px;}
.ma-cust-options strong.admin__collapsible-title:before {content: '\e615'; left: 0; right:auto;}
.ma-cust-options strong.admin__collapsible-title.active:before {content: '\e616'; left: 0; right:auto;}
.ma-cust-options strong.admin__collapsible-title span {padding-left:28px;}
.ma-cust-options .fieldset-alt .control.opt-layout select {width: 133px;}
