.optionsbox {
	position: absolute;
    background: #D3D3D9;
    padding: 11px;
    z-index: 9999999999;
    height: auto;
    margin-left: -24%;
    margin-top: -34px;
    box-shadow: 0 0px 10px black;
    border-radius: 2px;
}
.optionsbox .hideselect {
	position: absolute;
    top: -4px;
    right: 4px;
	cursor: pointer;
}
.optionsbox .button {
    background: #514943;
    color: white;
    margin: 0 3px;
	cursor: pointer;
    padding: 0 4px;
}
.optionsbox select.optionselect {
    min-width: 250px;
    font-size: 17px;
    margin: 5px;
    display: block;
    min-height: 200px;
}
.optionsbox select.optionselect:after {
    position: absolute;
    content: ">";
    right: -9px;
    top: 5px;
}
.optionselect optgroup option {
    font-size: 15px;
}
.optionselect > option {
    font-weight: bold;
    font-size: 15px;
}
ul.optionselect {
    margin: 0 15px;
    max-height: 500px;
    overflow-y: auto;
    padding: 0 20px;
}
.optionselect li {
    margin: 8px 0px;
	list-style: none;
}
.optionselect li label, 
.optionselect input[type='checkbox'] {
    cursor: pointer;
}
.optionselect li.label.inner{
	width: 100%;
	text-align: left;
}
.dependentdiv:before {
    position: absolute;
    content: "...";
    transform: rotate(90deg);
    margin-top: 10px;
    font-size: 18px;
    margin-left: 53px;
    background-color: #eb5202;
    color: white;
    width: 26px;
    height: 13px;
    opacity: 0.7;
    line-height: 3px;
    text-align: center;
}
.dependentdiv input {
    cursor: pointer;
}