<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2018 Amasty (https://www.amasty.com)
 * @package Amasty_Shopby
 */
?>
<?php
/** @var $block \Amasty\Shopby\Block\Navigation\SwatchRenderer*/
?>
<?php $swatchData = $block->getSwatchData(); ?>
<?php $filterSetting = $block->getFilterSetting()?>
<?php $filterCode = $filterSetting ? $block->escapeHtml($filterSetting->getFilterCode()) : ''; ?>
<?php $extraClass = $filterSetting ? "am_shopby_filter_items_".$filterCode : ""; ?>
<?php $attributeCode = $block->escapeHtml($swatchData['attribute_code']); ?>
<form data-amshopby-filter="<?= /* @escapeNotVerified */ $block->getFilter() ?
    $block->getFilter()->getRequestVar() :
    ""; ?>">
    <div class="<?= $extraClass;?>  swatch-attribute swatch-layered <?= $attributeCode ?>"
         attribute-code="<?= /* @escapeNotVerified */ $attributeCode ?>"
         attribute-id="<?= /* @escapeNotVerified */ $swatchData['attribute_id'] ?>">
        <div class="swatch-attribute-options clearfix">
            <?php foreach ($swatchData['options'] as $option => $label) : ?>
                <?php $label['label'] = $block->escapeHtml($label['label']); ?>
                <a href="<?= /* @escapeNotVerified */ $label['link'] ?>" class="item swatch-option-link-layered">
                    <?php
                    $selected = array_key_exists(
                        \Amasty\Shopby\Block\Navigation\SwatchRenderer::VAR_SELECTED,
                        $label
                    ) && $label[\Amasty\Shopby\Block\Navigation\SwatchRenderer::VAR_SELECTED];

                    $extraSwatchClass = $selected ? 'selected' : '';
                    ?>
                    <?php if (isset($swatchData['swatches'][$option]['type'])) : ?>
                        <?php
                        switch ($swatchData['swatches'][$option]['type']) :
                            case '3':
                                ?>
                                <div class="<?= /* @escapeNotVerified */ $extraSwatchClass; ?> swatch-option
                                            <?= /* @escapeNotVerified */ $label['custom_style'] ?>"
                                     option-type="3"
                                     option-id="<?= /* @escapeNotVerified */ $option ?>"
                                     option-label="<?= $label['label'] ?>"
                                     option-tooltip-thumb=""
                                     option-tooltip-value="">
                                </div>
                                <?php break;
                            case '2':
                                ?>
                                <?php $swatchThumbPath = $block->getSwatchPath(
                                    'swatch_thumb',
                                    $swatchData['swatches'][$option]['value']
                                ); ?>
                                <?php $swatchImagePath = $block->getSwatchPath(
                                    'swatch_image',
                                    $swatchData['swatches'][$option]['value']
                                ); ?>
                                <div class="<?= $extraSwatchClass; ?> swatch-option image <?= /* @escapeNotVerified */
                                $label['custom_style'] ?>"
                                     option-type="2"
                                     option-id="<?= /* @escapeNotVerified */ $option ?>"
                                     option-label="<?= $label['label'] ?>"
                                     option-tooltip-thumb="<?= /* @escapeNotVerified */ $swatchThumbPath ?>"
                                     option-tooltip-value=""
                                     style="background: url(<?= /* @escapeNotVerified */
                                        $swatchImagePath ?>) no-repeat center; background-size: initial;"></div>
                                <?php break;
                            case '1':
                                ?>
                                <div class="<?= /* @escapeNotVerified */ $extraSwatchClass; ?> swatch-option color
                                            <?= /* @escapeNotVerified */ $label['custom_style'] ?>"
                                     option-type="1"
                                     option-id="<?= /* @escapeNotVerified */ $option ?>"
                                     option-label="<?= $label['label'] ?>"
                                     option-tooltip-thumb=""
                                     option-tooltip-value="<?= /* @escapeNotVerified */
                                        $swatchData['swatches'][$option]['value'] ?>"
                                     style="background: <?= /* @escapeNotVerified */
                                        $swatchData['swatches'][$option]['value'] ?> no-repeat center;
                                             background-size: initial;"></div>
                                <?php break;
                            case '0':
                            default:
                                ?>
                                <div class="<?= /* @escapeNotVerified */ $extraSwatchClass; ?> swatch-option text
                                            <?= /* @escapeNotVerified */ $label['custom_style'] ?>"
                                     option-type="0"
                                     option-id="<?= /* @escapeNotVerified */ $option ?>"
                                     option-label="<?= $label['label'] ?>"
                                     option-tooltip-thumb=""
                                     option-tooltip-value="">
                                    <?= /* @escapeNotVerified */ $swatchData['swatches'][$option]['value'] ?>
                                </div>
                                <?php
                                break;
                        endswitch; ?>
                    <?php endif; ?>

                    <?php if ($filterSetting && $filterSetting->isMultiselect()) : ?>
                        <input
                                name="amshopby[<?= /* @escapeNotVerified */ $block->getFilter()->getRequestVar(); ?>][]"
                                value="<?= $option; ?>"
                                type="checkbox"
                                style="display: none;"
                            <?= $selected ? 'checked' : ''; ?>
                        />
                    <?php elseif ($filterSetting && !in_array($filterCode, ['rating', 'stock'])) : ?>
                        <input
                                value="<?= $option; ?>"
                                type="radio"
                                name="amshopby[<?= /* @escapeNotVerified */ $block->getFilter()->getRequestVar(); ?>][]"
                                style="display: none;"
                            <?= $selected ? 'checked' : ''; ?>
                        />
                    <?php endif; ?>
                </a>
            <?php endforeach; ?>
        </div>
    </div>
</form>
<script>
    require(["jquery", "jquery/ui", "Magento_Swatches/js/swatch-renderer"], function ($) {
        $('.swatch-layered.<?= /* @escapeNotVerified */ $attributeCode ?>')
            .find('[option-type="1"], [option-type="2"], [option-type="0"], [option-type="3"]')
            .SwatchRendererTooltip();
    });
</script>
<?php if ($filterSetting) :?>
<script type="text/x-magento-init">
{
    ".<?= $extraClass; ?>": {
        "amShopbyFilterSwatch": {
            "collectFilters": <?= /* @escapeNotVerified */ $block->collectFilters();?>
        }
    }
}
</script>
<?php endif; ?>
