<?php
 $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$myBlock = \Magento\Framework\App\ObjectManager::getInstance()->get('Rvs\General\Block\CustomerInfo');
$customerId = $myBlock->getLoggedinCustomerId();
if($customerId !=''){
	$countWishlist = count($this->helper('Magento\Wishlist\Helper\Data')->getWishlistItemCollection());	
	?>
	<p><a href="wishlist">Wishlist</a><?php if($countWishlist !=''){?><span class ="wishlist-count"><?php echo $countWishlist;?></span><?php } ?></p>
	<?php
} 
else{
	?>
	<p><a href="wishlist">Wishlist</a></p>
	<?php 
}
?>