// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@account-title-border-color: @color-gray-middle2;
@account-table-border-bottom-color: @color-gray-middle1;
@account-table-action-delete: @color-red12;

@_password-default: @color-gray-light01;
@_password-weak: #ffafae;
@_password-medium: #ffd6b3;
@_password-strong: #c5eeac;
@_password-very-strong: #81b562;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .login-container {
        .block {
            border: 1px solid @grey-border;
            padding: 20px 20px 15px;
            &-new-customer {
                .block-content{
                    & > p{
                        font-size: 12px;
                        line-height: 28px;
                        min-height: 194px;
                        margin: 0;
                    }
                }
            }

            .block-title {
                &:extend(.abs-login-block-title all);
                border-bottom: 1px solid @grey-border;
                font-size: 16px;
                margin-bottom: 10px;
                padding-bottom: 12px;
                padding-top: 5px;
                strong{
                    font-weight: 500;
                    &:before{
                        content: "\f15b";
                        font-family: 'Font Awesome 5 Free';
                        font-size: 15px;
                        font-weight: 400;
                        margin-right: 8px;
                    }
                }
            }
        }

        .actions-toolbar{
            border-top: 1px solid @grey-border;
            margin-top: 30px;
            padding-top: 15px;
            .primary{
                float: right;
                .action{
                    margin: 0;
                }
            }
        }

        .fieldset {
            .lib-form-hasrequired(bottom);

            &:after {
                display: none;
                margin-top: 35px;
            }
            .field.note{
                font-size: 12px;
                line-height: 28px;
                margin: 0 0 10px;
            }
        }
    }

    .form-create-account{
        margin: 0 auto;
        max-width: 420px;
        width: 100%;
        .password-strength-meter{
            display: none;
        }
        .fieldset{
            & > .legend{
                display: none;
                border: none;
                margin: 0 0 30px;
                padding: 0;
                & > span{
                    font-size: 16px;
                    font-weight: 500;
                }
            }
        }
        .actions-toolbar{
            width: 100%;
            .primary{
                width: 100%;
                .action{
                    margin: 0;
                    width: 100%;
                }
            }
            & > .secondary{
                float: none;
                width: 100%;
                .action.back{
                    display: block;
                }
            }
        }
    }

    .block-addresses-list {
        .items.addresses {
            > .item {
                margin-bottom: @indent__base;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            .item.actions {
                margin-top: @indent__xs;

                .action {
                    &:extend(.abs-account-actions all);
                }
            }
        }

        address {
            &:extend(.abs-account-block-line-height all);
        }
    }

    .form-address-edit {
        #region_id {
            display: none;
        }
    }

    .form-edit-account {
        .fieldset.password {
            display: none;
        }
    }

    .form-create-account {
        .fieldset-fullname {
            .fields {
                .field {
                    float: none;
                }
            }
        }
    }

    //  Full name fieldset
    .fieldset {
        .fullname {
            > .label {
                &:extend(.abs-visually-hidden all);
            }
        }
    }

    .box-billing-address,
    .box-shipping-address,
    .box-address-billing,
    .box-address-shipping,
    .box-information,
    .box-newsletter {
        .box-content {
            &:extend(.abs-account-block-line-height all);
            line-height: 26px;
        }
    }

    //  My account
    .account {
        .page-title-wrapper {
            margin: 0 0 25px;
            text-align: left;
            .page-title {
                &:after{
                    display: none;
                }
            }
        }

        .password-strength-meter{
            display: none;
        }

        .column.main {
            margin-bottom: @indent__l;

            h2 {
                margin-top: 0;
            }

            .block:not(.widget) {
                &:extend(.abs-account-blocks all);
                .block-title{
                    border-bottom: 1px solid @grey-border;
                    margin: 0 0 15px;
                    & > strong{
                        color: @black-color;
                        font-size: 14px;
                        font-weight: 500;
                    }
                }
                .box-title{
                    & > span{
                        color: @black-color;
                        font-size: 13px;
                        font-weight: 500;
                    }
                }
                .box{
                    .box-content{
                        font-size: 13px;
                    }
                }
            }
            .block{
                .action{
                    color: #949494;
                    font-size: 12px;
                    font-weight: 500;
                }
            }
        }

        .sidebar-additional {
            margin-top: @indent__xl;
        }

        .table-wrapper {
            .lib-css(margin-bottom, @indent__base);
            border-bottom: 1px solid @account-table-border-bottom-color;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .legend {
            border-bottom: 1px solid @grey-border;
            color: @black-color;
            font-size: 14px;
            font-weight: 500;
            margin: 0 0 15px;
        }
    }

    .account,
    [class^='sales-guest-'],
    .sales-guest-view {
        .column.main {
            .order-details-items {
                .table-wrapper {
                    .data.table {
                        &:extend(.abs-table-striped all);
                    }
                }
            }
        }

        .data.table {
            .col.actions {
                .action {
                    &:extend(.abs-account-actions all);
                    &.delete {
                        .lib-css(color, @account-table-action-delete);
                    }
                }
            }
        }
    }

    //  Checkout address (create shipping address)
    .field.street {
        .field.additional {
            .label {
                &:extend(.abs-visually-hidden all);
            }
        }
    }

    //
    //  Blocks & Widgets
    //  ---------------------------------------------

    .block {
        &:extend(.abs-margin-for-blocks-and-widgets all);
        .column.main & {
            &:last-child {
                margin-bottom: 0;
            }
        }

        .title {
            strong {
                .lib-heading(h4);
                .column.main & {
                }
            }

            margin-bottom: @indent__s;
        }

        p {
            &:last-child {
                margin: 0;
            }
        }

        .box-actions {
            margin-top: @indent__xs;

            .action {
                &:extend(.abs-account-actions all);
            }
        }
    }

    //
    //  Password Strength Meter
    //  ---------------------------------------------

    .field.password {
        .control {
            .lib-vendor-prefix-display();
            .lib-vendor-prefix-flex-direction();

            .mage-error {
                .lib-vendor-prefix-order(2);
            }

            .input-text {
                .lib-vendor-prefix-order(0);
                z-index: 2;
            }
        }
    }

    .password-strength-meter {
        background-color: @_password-default;
        height: @form-element-input__height;
        line-height: @form-element-input__height;
        padding: @form-element-input__padding;
        position: relative;
        z-index: 1;

        &:before {
            content: '';
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            z-index: -1;
        }

        .password-none & {
            &:before {
                background-color: @_password-default;
                width: 100%;
            }
        }

        .password-weak & {
            &:before {
                background-color: @_password-weak;
                width: 25%;
            }
        }

        .password-medium & {
            &:before {
                background-color: @_password-medium;
                width: 50%;
            }
        }

        .password-strong & {
            &:before {
                background-color: @_password-strong;
                width: 75%;
            }
        }

        .password-very-strong & {
            &:before {
                background-color: @_password-very-strong;
                width: 100%;
            }
        }
    }

    .control.captcha-image {
        .lib-css(margin-top, @indent__s);

        .captcha-img {
            vertical-align: middle;
        }
    }

    .account {
        .data.table-return-items {
            .qty {
                .input-text {
                    &:extend(.abs-input-qty all);
                }
            }
        }
    }

    .order-products-toolbar {
        position: relative;

        .toolbar-amount {
            position: relative;
            text-align: center;
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .login-container {
        &:extend(.abs-add-clearfix-desktop all);

        .block.block-customer-login{
            float: right;
        }
        .block.block-new-customer{
            float: left;
        }

        .block {
            &:extend(.abs-blocks-2columns all);
            &.login {
                .actions-toolbar {
                    > .primary {
                        margin-bottom: 0;
                        margin-right: @indent__l;
                    }

                    > .secondary {
                        float: left;
                    }
                }
            }
        }
    }

    .customer-account-login{
        .page-main .block{
            margin-bottom: 20px;
        }
    }

    .form-create-account {
        .fieldset-fullname {
            .fields {
                display: table;
                width: 100%;

                .field {
                    display: table-cell;

                    + .field {
                        padding-left: @indent__s;
                    }
                }
            }

            .field-name-prefix,
            .field-name-suffix {
                width: 50px;
            }
        }
    }

    .form.password.reset,
    .form.send.confirmation,
    .form.password.forget {
        min-width: 600px;
        width: 50%;
    }

    //  My account
    .account.page-layout-2columns-left {
        .sidebar-main,
        .sidebar-additional {
            padding-right: 15px;
            width: 22.3%;
        }

        .column.main {
            width: 77.7%;
        }
    }

    .account {
        .page-main {
            padding-top: 45px;
        }
        .page-title-wrapper {
            &:extend(.abs-add-clearfix-desktop all);
            margin: 0 0 30px;
            .page-title{
                font-size: 26px;
            }
        }

        .column.main {
            .block:not(.widget) {
                .block-content {
                    &:extend(.abs-add-clearfix-desktop all);

                    .box {
                        &:extend(.abs-blocks-2columns all);
                    }
                }
                .block-title{
                    border-bottom: 2px solid #ebebeb;
                    margin: 0 0 20px;
                    & > strong{
                        font-size: 16px;
                    }
                }
                .box-title{
                    margin: 0 0 10px;
                    & > span{
                        font-size: 15px;
                    }
                }
                .box{
                    .box-content{
                        font-size: 14px;
                    }
                }
            }
            .block .action{
                font-size: 14px;
            }
        }

        .data.table {
            margin-bottom: 0;

            .col {
                &.actions {
                    white-space: nowrap;
                }
            }
        }

        .toolbar {
            &:extend(.abs-pager-toolbar all);
        }
        .page-main .block{
            margin-bottom: 45px;
        }
        .legend{
            border-bottom: 2px solid @grey-border;
            font-size: 16px;
            margin: 0 0 20px;
        }
    }

    .block-addresses-list {
        .items.addresses {
            &:extend(.abs-add-clearfix-desktop all);
            font-size: 0;

            > .item {
                display: inline-block;
                font-size: @font-size__base;
                margin-bottom: @indent__base;
                vertical-align: top;
                width: 48%;

                &:nth-last-child(1),
                &:nth-last-child(2) {
                    margin-bottom: 0;
                }

                &:nth-child(even) {
                    margin-left: 4%;
                }
            }
        }

        address {
            &:extend(.abs-account-block-font-size all);
        }
    }

    .page-main {
        .block {
            &:extend(.abs-margin-for-blocks-and-widgets-desktop all);
        }
    }

    .form-address-edit {
        > .fieldset {
            &:extend(.abs-blocks-2columns all);
        }
    }

    .form-edit-account {
        .fieldset {
            &:extend(.abs-blocks-2columns all);

            .fieldset {
                margin-bottom: @indent__base;
                width: 100%;
            }
        }
    }

    .control.captcha-image {
        .captcha-img {
            margin: 0 @indent__s @indent__s 0;
        }
    }
}

//
//  Mobile @screen__s
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .account {
        .column.main,
        .sidebar-additional {
            margin: 0;
        }

        .data.table {
            &:extend(.abs-table-striped-mobile all);
        }
    }
}

//
//  Mobile @screen__m
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .login-container {
        .fieldset {
            &:after {
                text-align: center;
            }
        }
    }

    .account {
        .columns .column.main{
            padding-bottom: 10px;
        }
        .column.main {
            .block:not(.widget) {
                .block-title {
                    &:extend(.abs-add-clearfix-mobile-m all);

                    > .action {
                        float: right;
                        .lib-css(margin-top, @indent__xs);
                    }
                }

                .block-content {
                    .box {
                        .lib-css(margin-bottom, @indent__base);
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
        .block{
            margin-bottom: 25px;
            &.account-nav{
                margin: 0;
            }
        }
        .table-wrapper{
            .table:not(.totals):not(.cart):not(.table-comparison){
                & > tbody{
                    & > tr{
                        td, th{
                            font-size: 13px;
                            padding: 13px 0;
                            &:before{
                                font-weight: 500;
                            }
                        }
                        & > td{
                            &:first-child{
                                padding-top: 13px;
                            }
                            &:last-child{
                                border-bottom: none;
                                border-top: 1px solid @grey-border;
                                padding-bottom: 13px;
                            }
                        }
                    }
                }
            }
        }
    }

    .block-addresses-list{
        .block-content{
            font-size: 13px;
        }
    }

    .control.captcha-image {
        .captcha-img {
            display: block;
            .lib-css(margin-bottom, @indent__s);
        }
    }

    .customer-account-index {
        .page-title-wrapper {
            position: relative;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen-1025) {
    .account.page-layout-2columns-left {
        .sidebar-main,
        .sidebar-additional {
            padding-right: 40px;
        }
    }
    .account{
        .page-title-wrapper .page-title{
            font-size: 34px;
        }
    }
}
