// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@collapsible-nav-background: @sidebar__background-color;
@collapsible-nav-color: @color-gray34;
@collapsible-nav-current-border: 3px solid transparent;
@collapsible-nav-current-border-color: @active__color;
@collapsible-nav-current-color: @color-black;
@collapsible-nav-current-font-weight: @font-weight__semibold;
@collapsible-nav-delimiter__border-color: @color-gray82;
@collapsible-nav-item-hover: @color-gray91;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //
    //  Collapsible navigation
    //  -----------------------------------------

    .block-collapsible-nav {
        margin: 0;
        .content {
            .lib-css(background, @collapsible-nav-background);
            padding: 15px 0;
        }
        .item {
            margin: 3px 0 0;
            &:first-child {
                margin-top: 0;
            }

            a,
            > strong {
                border-left: 3px solid transparent;
                color: #383838;
                display: block;
                padding: 8px 18px 8px 15px;
            }

            strong{
                font-weight: 600;
            }

            a {
                text-decoration: none;

                &:hover {
                    .lib-css(background, @collapsible-nav-item-hover);
                }
            }

            &.current {
                a,
                > strong {
                    border-color: #000000;
                    color: @black-color;
                    font-weight: 500;
                }

                a {
                    .lib-css(border-color, @collapsible-nav-current-border-color);
                }
            }

            .delimiter {
                border-top: 1px solid @collapsible-nav-delimiter__border-color;
                display: none;
                margin: @indent__s 1.8rem;
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .block-collapsible-nav {
        .title {
            &:extend(.abs-visually-hidden-desktop all);
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .block-collapsible-nav {
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 5;

        .title {
            &:extend(.abs-toggling-title-mobile all);
            border-bottom: 3px solid @grey-border;
            border-top: none;
            padding: 14px 25px 14px 10px;
            strong{
                font-size: 13px;
                font-weight: 600;
            }
            &:after{
                font-size: 11px;
                right: 10px;
                top: 13px;
            }
        }

        .content {
            display: none;
            padding: 10px 0;

            &.active {
                display: block;
            }
        }
        .item{
            a, & > strong{
                font-size: 13px;
                padding: 6px 18px 6px 12px;
            }
        }
    }
}
