<div class="loader-wrapper">
    <div class="wrap">
        <div class="loading">
            <div class="bounceball"></div>
            <div class="text"><?= __('Site Loading') ?></div>
        </div>
    </div>
</div>