// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@autocomplete__background-color: @color-white;
@autocomplete__border: 1px solid @form-element-input__border-color;
@autocomplete-item__border: 1px solid @color-gray90;
@autocomplete-item__hover__color: @color-gray91;
@autocomplete-item-amount__color: @color-gray60;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .block-search {
        margin-bottom: 0;
		.search {
			.control {
				z-index: 99;
			}
		}
        .block {
            &-title {
                background: url('../images/search.png') no-repeat;
                background-size: 20px;
                cursor: pointer;
                height: 20px;
                margin: 0;
                width: 20px;
                strong{
                    display: none;
                }
            }
        }

        .block-content {
            display: none;
            margin: 0;
            position: absolute;
            right: 0;
            top: 100%;
            width: 100%;
        }

        &.active{
            .block-content{
                display: block;
            }
        }

        .label {
            .lib-icon-font(
            @_icon-font-content: @icon-search,
            @_icon-font-size: 22px,
            @_icon-font-line-height: 28px,
            @_icon-font-margin: 0 @indent__s 0 0,
            @_icon-font-color: @minicart-icons-color,
            @_icon-font-color-hover: @minicart-icons-color-hover,
            @_icon-font-color-active: @minicart-icons-color-hover,
            @_icon-font-text-hide: true
            );
            display: none;
            float: right;

            &.active {
                + .control {
                    input {
                        position: static;
                    }
                }
            }
        }
        .action.search {
            display: inline-block;
            .lib-button-icon(
                @_icon-font-content: @icon-search,
                @_icon-font-size: 16px,
                @_icon-font-text-hide: true,
                @_icon-font-color: @header-icons-color,
                @_icon-font-color-hover: @header-icons-color-hover,
                @_icon-font-line-height: 32px
            );
            .lib-button-reset();
            background: url('../images/search.png') no-repeat center;
            background-size: 20px;
            height: 42px;
            opacity: 1 !important;
            position: absolute;
            right: 1px;
            top: 1px;
            width: 42px;
            z-index: 1;

            &:focus {
                &:before {
                    .lib-css(color, @color-gray20);
                }
            }
            &:before{
                display: none;
            }
            &:hover{
                background: url('../images/search.png') no-repeat center;
                background-size: 18px 24px;
            }
        }

        .control {
            clear: both;
        }

        input {
            padding-right: 42px;
        }

        .nested {
            display: none;
        }
    }

    .search-autocomplete {
        display: none;
        margin-top: -15px;
        overflow: hidden;
        position: absolute;
        z-index: 3;
        &:extend(.abs-add-box-sizing all);

        ul {
            .lib-list-reset-styles();

            &:not(:empty) {
                .lib-css(background, @autocomplete__background-color);
                .lib-css(border, @autocomplete__border);
                border-top: 0;
            }

            li {
                .lib-css(border-top, @autocomplete-item__border);
                cursor: pointer;
                margin: 0;
                padding: @indent__xs @indent__xl @indent__xs @indent__s;
                position: relative;
                text-align: left;
                white-space: normal;

                &:first-child {
                    border-top: none;
                }

                &:hover,
                &.selected {
                    .lib-css(background, @autocomplete-item__hover__color);
                }

                .amount {
                    .lib-css(color, @autocomplete-item-amount__color);
                    position: absolute;
                    right: 7px;
                    top: @indent__xs;
                }
            }
        }
    }

    .form.search.advanced {
        &:extend(.abs-forms-general-desktop all);

        .fields.range {
            .field {
                &:first-child {
                    position: relative;

                    .control {
                        padding-right: 25px;

                        &:after {
                            content: ' \2013 ';
                            display: inline-block;
                            position: absolute;
                            right: 0;
                            text-align: center;
                            top: 6px;
                            width: 25px;
                        }
                    }
                }

                &:last-child {
                    position: relative;

                    div.mage-error[generated] {
                        left: 0;
                        position: absolute;
                        top: 32px;
                    }
                }

                &.with-addon {
                    .control {
                        padding-right: 45px;
                    }
                }

                &.date {
                    &:extend(.abs-field-date all);
                }
            }
        }

        .group.price {
            .addon {
                .addafter {
                    background: none;
                    border: 0;
                    padding-top: 6px;
                    position: absolute;
                    right: 0;
                    top: 0;
                }
            }
        }
    }

    .search-terms {
        &:extend(.abs-reset-list all);
        line-height: 2em;

        > li {
            display: inline-block;
            margin-right: @indent__s;
        }
    }

    .search.found {
        margin-bottom: @indent__s;
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen-1024) {
    .block-search{
        .block-title{
            position: absolute;
            right: 52px;
            top: 26px;
        }
        .block-content {
            
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .block-search{
        .block-title{
            right: 42px;
            top: 22px;
        }
        .block-content {
            background: #ffffff;
            border-top: 1px solid @light-border;
            border-bottom: 1px solid @light-border;
            padding: 10px 10px;
            width: 100%;
            z-index: 999;
        }
        .action.search{
            right: 11px;
            top: 16px;
        }
    }
	.form {
		.search-autocomplete {
			top: 100%;
			margin: 0;
            width: 100% !important;
		}
	}
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .block-search {
        .block-content {
            right: 40px;
            top: 15px;
            width: 300px;
        }
    }

    .search-autocomplete {
        margin-top: 0;
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen-1025) {
    .block-search {
        float: left;
        position: relative;
        z-index: 4;
        .block-title{
            background-size: 18px 24px;
            height: 24px;
            width: 18px;
        }
        .block-content {
            left: 0;
            top: -10px;
			display: block !important;
        }
		input {
			border: none;
			border-bottom: 1px solid #000;
			padding-left: 0;
		}
    }
}
