<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * @var \Magento\Theme\Block\Html\Header\Logo $block
 */
?>
<?php $storeName = $block->getThemeName() ? $block->getThemeName() : $block->getLogoAlt();?>
<span data-action="toggle-nav" class="action nav-toggle"><img src="<?php echo $block->getViewFileUrl('images/navIcon.png'); ?>" /><span><?= /* @escapeNotVerified */ __('Toggle Nav') ?></span></span>
<div class="logoBlock">
<?php if ($block->isHomePage()):?>
    <strong class="logo">
<?php else: ?>
    <a class="logo" href="<?= $block->getUrl('') ?>" title="<?= /* @escapeNotVerified */ $storeName ?>">
<?php endif ?>
        <img src="<?= /* @escapeNotVerified */ $block->getLogoSrc() ?>"
             alt="<?= /* @escapeNotVerified */ $block->getLogoAlt() ?>"
             <?= $block->getLogoWidth() ? 'width="' . $block->getLogoWidth() . '"' : '' ?>
             <?= $block->getLogoHeight() ? 'height="' . $block->getLogoHeight() . '"' : '' ?>
        />
<?php if ($block->isHomePage()):?>
    </strong>
<?php else:?>
    </a>
<?php endif?>

<?php //echo '<div class="popupClick"> Click here to get 10% off on your first order</div>' ?>

<?php //echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('logo_text_bottom')->toHtml();?>
</div>
<style>

.checkout-payment-method .payment-methods .actions-toolbar .primary {
    display: inline-block;
}
</style>