<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="dependentdiv">

    <input class="admin__control-text" readonly type="text" data-form-part="product_form"
           data-bind="
        value: value,
        valueUpdate: 'focus',
        hasFocus: focused,
        click: function (){return getOptionList($parents[2],$parents[3],$element) },
        attr: {
            value: value,
            name: inputName,
            placeholder: placeholder,
            'aria-describedby': noticeId,
            id: optid,
            disabled: disabled
    }"/>

    <div class="listbox">
        <div class="optionsbox" style="display:none;">
            <span class="okselect button" title="Ok">Ok</span>
            <span class="cancelselect button" title="Cancel">Cancel</span>
            <hr/>
            <ul class="optionselect"></ul>
        </div>
    </div>
</div>

