<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="rowidsdiv">
	<input class="admin__control-text" type="hidden" data-form-part="product_form"
       data-bind="
        value: value() ? value() : rowid,
        valueUpdate: 'focus',
        hasFocus: focused,
        attr: {
            value: value() ? value() : rowid,
            rowid: rowid,
            name: inputName,
            placeholder: placeholder,
            'aria-describedby': noticeId,
            id: optid,
            disabled: disabled
    }" />
	<label class="rowids" data-bind="text: value() ? value() : rowid, attr: {id: labelid, value: value()}, afterRender: getSetRowIds(value(), $element)"></label>
</div>