
/**
 * A Magento 2 module named Magestat/CookieLawBanner
 * Copyright (C) 2018 Magestat (http://magestat.com)
 *
 * This file included in Magestat/CookieLawBanner is licensed under OSL 3.0
 *
 * http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * Please see LICENSE.txt for the full text of the OSL 3.0 license
 */

//
//  Common (Both desktop and mobile)
//  _____________________________________________

& when (@media-common = true) {
    #magestat-cookie-law-banner {
        background: #fff;
        bottom: 25px;
        box-shadow: -2px 2px 82px -26px rgba(0, 0, 0, .5);
        left: 25px;
        max-width: 400px;
        overflow: hidden;
        position: fixed;
        text-align: center;
        z-index: 48;
        .content-inner-container {
            padding: 20px;
        }
        .banner-title {
            h3 {
                font-size: 16px;
                margin: 8px 0 15px;
                text-transform: uppercase;
            }
        }
        .banner-content {
            p {
                font-size: 13px;
                line-height: 20px;
                margin: 5px 0;
                padding: 0 15px;
            }
            .link {
                text-decoration: underline;
            }
        }
        .banner-button {
            margin: 20px 10px 5px;
            .button-accept {
                font-size: 13px;
                height: 42px;
                line-height: 42px;
                padding: 0 32px;
                text-transform: uppercase;
            }
        }
    }
}


//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    #magestat-cookie-law-banner {
        bottom: 15px;
        left: 15px;
        right: 15px;
    }
}