// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

@import 'module/_listings.less';
@import 'module/_toolbar.less';

//
//  Variables
//  _____________________________________________

@product-info-price: @color-gray34;
@product-h1-margin-bottom-desktop: @indent__s + @indent__xs;
@product-price__muted__color: @color-gray40;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //  Category view
    .old-price,
    .old.price {
        .lib-css(color, @product-price__muted__color);
    }

    .prices-tier {
        .price-container {
            .price-including-tax {
                + .price-excluding-tax {
                    &:before {
                        content: '(' attr(data-label) ':';
                    }

                    &:last-child:after {
                        content: ')';
                    }
                }
            }

            .weee[data-label] {
                display: inline;

                &:before {
                    content: ' +' attr(data-label) ':';
                }
            }
        }
    }

    .actual-price {
        font-weight: @font-weight__bold;
    }

    .product.name a {
        &:extend(.abs-product-link all);
    }

    .special-price {
        .price-label {
            &:extend(.abs-visually-hidden all);
        }
    }
	.fotorama__thumb-border {
		border: 2px solid @pink-color !important;
	}
	.fotorama__active .fotorama__dot {
		background-color: @pink-color !important;
		border-color: @pink-color !important;
		height: 6px !important;
		width: 6px !important;
	}
	.fotorama__dot {
		border: 1px solid @pink-color !important;
		height: 6px !important;
		width: 6px !important;
	}
    .category-image {
        .image {
            display: block;
            height: auto;
            max-width: 100%;
        }
    }

    .category-cms,
    .category-image,
    .category-description {
        margin-bottom: @indent__base;
    }

    //
    //  Product images general container
    //  -----------------------------------------

    .product-image-container {
        display: inline-block;
        max-width: 100%;
    }

    .product-image-wrapper {
        display: block;
        height: 0;
        overflow: hidden;
        position: relative;
        z-index: 1;
    }

    .product-image-photo {
        bottom: 0;
        display: block;
        height: auto;
        left: 0;
        margin: auto;
        max-width: 100%;
        position: absolute;
        right: 0;
        top: 0;
    }

    //
    //  Product view
    //  -----------------------------------------

    .product.media {
        position: relative;
        .product.photo .photo.image {
            &:extend(.abs-adaptive-images-centered);
        }

        .placeholder .photo.container {
            max-width: 100%;
        }

        .notice {
            margin: @indent__s 0;
            .lib-css(color, @text__color__muted);
            .lib-font-size(@font-size__s);
        }

        .product.thumbs {
            margin: @indent__s 0 @indent__m;
        }

        .items.thumbs {
            .lib-list-inline();
            > li {
                margin: 1rem 0 0;
            }

            img {
                display: block;
            }

            .active {
                display: block;
                line-height: 1;
            }
        }
        .sizeguide{
            position: absolute;
            left: 0;
            margin-top: 5px;
            width: 100%;
            img{
                width: 250px;
            }
        }
    }

    #personalised-nametext{
        color: #f8c656;
        font-family: 'Cloister';
        font-size: 40px;
        letter-spacing: -2px;
        text-align: center;
    }

    .product-classic-name-plate{
        #personalised-nametext{
            font-family: 'Script MT';
        }
    }

    .product-best-year-ever-chains{
        #personalised-nametext{
            font-family: 'Freshman';
        }
    }

    .product.info.detailed {
        clear: both;

        .additional-attributes {
            width: auto;
            .lib-table-bordered(
                @_table_type: clear
            );
            .lib-table-resize(
                @_th-padding-left: 0,
                @_th-padding-right: @indent__l,
                @_th-padding-bottom: @indent__s,
                @_td-padding-bottom: @indent__s
            );
        }
    }

    .product-info-main {
        .page-title-wrapper {
            margin: 0 0 15px;
            text-align: left;
            .page-title{
                font-size: 20px;
                margin: 0;
                &:after{
                    display: none;
                }
            }
        }
        .productsubtitle{
            font-size: 12px;
            line-height: 22px;
            margin-top: 15px;
        }
        .product-info-price {
            border-top: 1px solid @grey-border;
            color: #000000;
            display: table;
            margin-bottom: 22px;
            padding-top: 18px;
            width: 100%;

            .price-box {
                display: table-cell;
                vertical-align: top;
                width: 1px;

                .price-container {
                    > span {
                        display: block;

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }

            .price-including-tax + .price-excluding-tax,
            .weee + .price-excluding-tax,
            .weee {
                .lib-font-size(14);
                .price {
                    .lib-font-size(14);
                    font-weight: @font-weight__semibold;
                    line-height: 16px;
                }
            }

            .price-wrapper .price {
                .lib-font-size(22);
                font-weight: @font-weight__semibold;
                line-height: 22px;
            }

            .old-price {
                .price-wrapper .price {
                    .lib-font-size(20);
                    font-weight: @font-weight__light;
					text-decoration: line-through;
                }
            }

            .special-price {
                .price-label {
                    &:after {
                        content: ': ';
                    }
                }
            }

            .price {
                white-space: nowrap;
            }
        }

        .product-info-stock-sku {
            display: table-cell;
            padding-bottom: @indent__s;
            padding-left: 10%;
            text-align: right;
            vertical-align: top;
        }

        .stock {
            margin: 0 0 3px;

            &.available,
            &.unavailable {
                font-weight: @font-weight__bold;
                text-transform: uppercase;
            }
        }

        .product.attribute.sku {
            word-break: break-all;
            word-wrap: break-word;
        }

        .product {
            &.attribute {
                &.sku {
                    .type {
                        font-weight: normal;
                        margin-right: @indent__xs;

                        &:after {
                            content: '#:';
                        }
                    }

                    .value {
                        display: inline-block;
                    }
                }

                &.overview {
                    margin: @indent__base 0;
                }
            }

            &.alert {
                margin: @indent__s 0;
            }
        }

        .product-add-form {
            clear: both;
        }

        .product-reviews-summary {
            float: left;
            display: none;
        }

        .product-options-bottom {
            .box-tocart {
                margin-top: 10px;
            }
        }
    }

    .product-options-wrapper {
        .fieldset-product-options-inner {
            .legend {
                .lib-css(font-weight, @font-weight__semibold);
                .lib-font-size(14px);
                border: none;
                display: inline-block;
                float: none;
                margin: 0 0 8px;
                padding: 0;
            }

            //  Date & Time custom option (Affect Time that goes only after Date)
            input.datetime-picker {
                ~ select.datetime-picker {
                    margin-top: @indent__s;
                }
            }

            &.required,
            &._required {
                .legend {
                    &:after {
                        content: '*';
                        .lib-typography(
                        @_font-size: @form-field-label-asterisk__font-size,
                        @_color: @form-field-label-asterisk__color,
                        @_font-family: @form-field-label-asterisk__font-family,
                        @_font-weight: @form-field-label-asterisk__font-weight,
                        @_line-height: @form-field-label-asterisk__line-height,
                        @_font-style: @form-field-label-asterisk__font-style
                        );
                    }
                }
            }
        }

        .field {
            .note {
                display: block;
                .lib-css(margin-top, @indent__xs);
            }
        }
    }

    .product-options-bottom .price-box,
    .product-info-price .price-box {
        color: #000000;
        display: table-cell;
        vertical-align: top;

        .old-price {
            font-size: 20px;
            font-weight: @font-weight__light;
			margin-left: 5px;

            .price-container > span {
                display: inline-block;
            }
			.price-container {
				.price-label {
					display: none;
				}
			}
        }
		.special-price {
			display: inline-block;
		}

        .price-container {
            > span {
                display: block;
                &:last-child {
                    margin-bottom: 0;
                }
            }

            .price {
                font-size: 22px;
                font-weight: 600;
                line-height: 22px;
            }

            .price-including-tax + .price-excluding-tax,
            .weee + .price-excluding-tax,
            .weee {
                .lib-font-size(12);
                line-height: 14px;

                .price {
                    .lib-font-size(12);
                    font-weight: @font-weight__bold;
                }
            }
        }
    }

    .box-tocart {
        &:extend(.abs-box-tocart all);
        margin: 0;
        .field.qty {
            display: inline-block;
            margin: 0 6px 0 0;
            vertical-align: top;
            .label{
                display: none;
            }
            .control{
                position: relative;
                width: 77px;
            }
            .edit-qty{
                cursor: pointer;
                height: 24px;
                margin: 0;
                position: absolute;
                right: 0;
                width: 24px;
                i{
                    display: none;
                }
                &.plus{
                    background: url('../images/qtyup.jpg') no-repeat;
                    top: 0;
                }
                &.minus{
                    background: url('../images/qtydown.jpg') no-repeat;
                    bottom: 0;
                }
            }
        }

        .input-text.qty {
            border: 1px solid #e1e1e1;
            color: #444444;
            height: 52px;
            padding: 0 2px;
            text-align: center;
            width: 50px;
        }

        .actions {
            display: inline-block;
            width: ~"calc(100% - 130px)";
        }

        .action.tocart {
            background: #f38994;
            height: 52px;
            line-height: 52px;
            font-size: 14px;
            font-weight: 400;
            padding: 0 5px;
            width: 100%;
            &:hover{
                background: #000000;
            }
        }
    }

    .product-addto-links {
        float: right;
        margin-top: -67px;
    }

    .product-social-links {
        margin: 0;
        text-align: center;

        &:before, &:after{
            content: '';
            display: table;
        }
        &:after{
            clear: both;
        }

        .action.towishlist, .action.tocompare{
            border: 1px solid #e1e1e1;
            height: 52px;
            width: 40px;
            span{
                display: none;
            }
            &:before{
                display: none !important;
            }
        }

        .action.towishlist{
            background: url('../images/heartIcon.png') no-repeat center;
            background-size: 15px;
        }

        .action.tocompare {
            background: url('../images/compareIcon.png') no-repeat center;
            background-size: 17px;
            margin-left: 3px;
            &:extend(.abs-actions-addto all);
            .lib-icon-font-symbol(
                @_icon-font-content: @icon-compare-full,
                @_icon-font-position: before
            );
        }
    }

    .prices-tier {
        &:extend(.abs-reset-list all);
        margin-bottom: @indent__s + @indent__xs;

        .item {
            margin-bottom: @indent__s;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .price-excluding-tax,
        .price-including-tax {
            display: inline-block;
        }
    }

    .minimal-price-link,
    .price-excluding-tax,
    .price-including-tax {
        display: block;
        white-space: nowrap;
    }

    .ui-dialog-titlebar-close {
        .lib-button-as-link();
    }

    //
    //  Sidebar product view
    //  -----------------------------------------

    .sidebar {
        .product-items {
            .product-item {
                margin-bottom: @indent__base;
                position: relative;
            }

            .product-item-info {
                position: relative;
                width: auto;

                .product-item-photo {
                    left: 0;
                    position: absolute;
                    top: 0;
                }
            }

            .product-item-name {
                margin-top: 0;
            }

            .product-item-details {
                margin: 0 0 0 85px;
            }

            .product-item-actions {
                display: block;
                margin-top: @indent__s;
            }

            .price-box {
                display: block;
                margin: 7px 0;
            }

            .text {
                margin-right: 8px;
            }

            .counter {
                .lib-css(color, @primary__color__lighter);
                font-size: 12px;
                white-space: nowrap;
            }

            .minilist {
                .price {
                    display: inline;
                    padding: 0;
                }

                .weee:before {
                    display: inline-block;
                }
            }

            .action {
                &.delete {
                    &:extend(.abs-remove-button-for-blocks all);
                    position: absolute;
                    right: 0;
                    top: 0;
                }
            }
        }

        .action.tocart {
            border-radius: 0;
        }

        .subtitle {
            &:extend(.abs-no-display all);
        }

        //
        //  Product images only
        //  -------------------------------------

        .product-items-images {
            &:extend(.abs-add-clearfix all);
            margin-left: -@indent__xs;

            .product-item {
                &:extend(.abs-add-box-sizing all);
                float: left;
                padding-left: @indent__xs;
            }
        }

        //
        //  Product names only
        //  -------------------------------------

        .product-items-names {
            .product-item {
                margin-bottom: @indent__s;
            }

            .product-item-name {
                margin: 0;
            }
        }
    }

    //
    //  Category page 1 column layout
    //  ---------------------------------------------

    .catalog-category-view.page-layout-1column {
        .column.main {
            min-height: inherit;
        }
    }
    .block.upsell{
        clear: both;
        margin-bottom: 0;
        .title{
            margin: 0 0 22px;
            text-align: center;
            strong{
                font-size: 16px;
                font-weight: 500;
                &:after{
                    border-bottom: 1px solid #ea257d;
                    content: '';
                    display: block;
                    margin: 8px auto 0;
                    width: 80px;
                }
            }
        }
    }
    .block.related {
        clear: both;
        margin-bottom: 0;
        margin-top: 22px;
        .title{
            margin: 0 0 22px;
            text-align: center;
            strong{
                font-size: 16px;
                font-weight: 500;
                &:after{
                    border-bottom: 1px solid #ea257d;
                    content: '';
                    display: block;
                    margin: 8px auto 0;
                    width: 80px;
                }
            }
        }
        .action.select {
            &:extend(.abs-action-button-as-link all);
            vertical-align: top;
        }

        .block-actions{
            display: none;
        }

        .product-item-details {
            position: relative;
            z-index: 1;
        }

        .field.choice {
            display: none;
            left: 0;
            position: absolute;
            top: 2px;

            .label {
                &:extend(.abs-visually-hidden all);
            }
        }
    }
    .shipping-review-toggle{
        border-top: 1px solid @grey-border;
        margin: 2px 0 18px;
        .tabTitle{
            border-bottom: 1px solid @grey-border;
            cursor: pointer;
            font-size: 13px;
            line-height: 48px;
            position: relative;
            &:after{
                content: "\f067";
                font-family: 'Font Awesome 5 Free';
                font-size: 10px;
                font-weight: 900;
                position: absolute;
                right: 0;
            }
        }
        .active{
            .tabTitle{
                &:after{
                    content: "\f068";
                }
            }
        }
        .tabContent{
            border-bottom: 1px solid @grey-border;
            font-size: 12px;
            line-height: 26px;
            padding: 15px 0;
            p{
                &:last-child{
                    margin: 0;
                }
            }
        }
    }
    .magebuzz-social{
        label{
            display: inline-block;
            margin-right: 15px;
            vertical-align: middle;
        }
    }
    .imagependantleft{
		position: absolute;
		text-align: center;
		z-index: 1;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
        img{
            margin: 0 3px;
            max-height: 95px;
            &.rosecharmimg{
                max-height: 120px;
            }
        }
    }
    .imageleft{
        position: relative;
        text-align: center;
        z-index: 1;
        img{
			width: 94%;
			max-height: 500px;
			max-width: 480px;
        }
    }
    .nechImage{
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        img{
            width: 100%;
        }
    }
    .fotorama__arr{
        display: none !important;
    }
    .proTouchZoom{
        font-size: 12px;
        margin: 0 auto;
        text-align: center;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        z-index: 1;
    }
}

//
//  Mobile @screen__m
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .catalog-product-view {
        .column.main {
            .lib-vendor-prefix-display(flex);
            .lib-vendor-prefix-flex-direction(column);
        }

        .product.media {
            .lib-vendor-prefix-order(-1);
            margin-bottom: 10px;
        }
        .page-main {
            padding-top: 12px;
        }
    }
    .product-info-main .product-options-bottom .box-tocart{
        margin-top: 12px;
    }
    .imagependantleft{
        img{
            max-height: 65px;
            &.rosecharmimg{
                max-height: 95px;
            }
        }
    }
    .product.media{
        .sizeguide{
            display: none;
        }
    }
    .nechImage{
        &:after{
            background: #fafafa;
            content: '';
            display: block;
            height: 65px;
            position: absolute;
            bottom: -65px;
            left: 0;
            width: 100%;
        }
    }
    .custNeckPage{
        .product-info-main{
            margin-top: 75px;
        }
    }
}

//
//  Mobile @screen__s
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .product.info.detailed {
        .additional-attributes-wrapper {
            &:extend(.abs-no-border-top all);
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .product-social-links {
        text-align: left;
    }

    .product-options-bottom,
    .product-info-price {
        .price-box {
            .price-container {
                font-size: @font-size__xl;

                .price {
                    font-size: 30px;
                    line-height: 30px;
                }
            }

            .price-including-tax + .price-excluding-tax {
                .price {
                    .lib-font-size(14);
                    line-height: 16px;
                }
            }
        }
    }

    //
    //  Category page layout
    //  -----------------------------------------

    .product-info-main {
        float: right;
        margin-bottom: 70px;
        .page-title-wrapper{
            .page-title{
                font-size: 28px;
            }
        }
    }

    .product.media {
        float: left;
        margin-bottom: 70px;
        min-height: inherit !important;
    }

    .page-layout-1column {
        .product-info-main {
            width: 41%;
        }

        .product.media {
            width: 54%;
        }
    }

    .page-layout-2columns-left,
    .page-layout-2columns-right,
    .page-layout-3columns {
        .product-info-main {
            width: 48%;
        }

        .product.media {
            width: 52%;
        }
    }

    .product-add-form {
        .product-options-wrapper {
            .field {
                .control {
                    width: 80%;
                }
            }
        }
    }

    .sidebar {
        .product-items {
            .product-item-info {
                .product-item-photo {
                    float: left;
                    left: auto;
                    margin: 0 @indent__s @indent__s 0;
                    position: relative;
                    top: auto;
                }
            }

            .product-item-details {
                margin: 0;
            }

            .product-item-actions {
                clear: left;
            }
        }
    }
    .shipping-review-toggle{
        .tabTitle{
            line-height: 52px;
            font-size: 14px;
            &:after{
                font-size: 10px;
            }
        }
        .tabContent{
            padding: 18px 0 20px;
        }
    }
    #personalised-nametext{
        float: right;
        font-size: 70px;
        width: ~"calc(100% - 88px)";
    }
    .proTouchZoom{
        display: none;
    }
}

//
//  Desktop large
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
    .sidebar {
        .product-items {
            .product-item-info {
                .product-item-photo {
                    float: none;
                    left: 0;
                    margin: 0;
                    position: absolute;
                    top: 0;
                }
            }

            .product-item-details {
                margin-left: 85px;
            }
        }
    }
}

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //
    //  Compare Products Page
    //  -----------------------------------------

    body.catalog-product-compare-index {
        .action.print {
            float: right;
            margin: 15px 0;
        }
    }

    .table-wrapper.comparison {
        clear: both;
        max-width: 100%;
        overflow-x: auto;
        position: relative; // Needed for Safari(iOS) to properly render "overflow-x" rule.

        .table-comparison {
            & > tbody > tr {
                > th,
                > td {
                    border-top: 0;
                    border-right: 1px solid @grey-border;
                    border-bottom: 1px solid @grey-border;
                    padding: 20px 15px;
                }
                th{
                    font-size: 13px;
                    font-weight: 500;
                    padding-left: 0;
                }
            }
            & > thead > tr {
                > th,
                > td {
                    border-right: 1px solid @grey-border;
                }
            }
        }
    }

    .table-comparison {
        table-layout: fixed;

        .cell {
            padding: 15px;
            width: 180px;

            &.label {
                border-right: @table__border-width @table__border-style @table__border-color;

                &.remove {
                    span {
                        &:extend(.abs-visually-hidden all);
                    }
                }

                .attribute.label {
                    display: block;
                    width: 100%;
                    word-wrap: break-word;
                }
            }

            &.product {
                &.info,
                &.label {
                    border-bottom: @table__border-width @table__border-style @grey-border;
                }
            }

            &.attribute {
                .lib-font-size(13);

                img {
                    height: auto;
                    max-width: 100%;
                }
            }

            &.remove {
                padding-bottom: 0;
                padding-top: 0;
                text-align: right;

                .action.delete {
                    &:extend(.abs-remove-button-for-blocks all);
                    margin-right: .6rem;
                }
            }

            .attribute.value {
                overflow: hidden;
                width: 100%;
            }
        }

        td {
            &:last-child {
                border-right: @table__border-width @table__border-style @table__border-color;
            }
        }

        .product-item-photo {
            display: block;
            margin: 0 auto 15px;
        }

        .product-image-photo {
            margin-left: 0;
        }

        .product-item-actions,
        .price-box,
        .product.rating,
        .product-item-name {
            display: block;
            margin: 15px 0;
            text-align: left;
        }

        .product-addto-links {
            margin-top: 15px;

            .action {
                &.toggle {
                    padding: 0;
                }

                &.split,
                &.toggle {
                    .lib-button-s();
                }
            }
        }

        .action {
            &.tocart {
                height: 42px;
                line-height: 42px;
                white-space: nowrap;
            }
        }
    }

    .comparison.headings {
        .lib-css(background, @color-white);
        left: 0;
        position: absolute;
        top: 0;
        width: auto;
        z-index: 2;
    }

    .block-compare {
        .block-title {
            &:extend(.abs-block-widget-title all);
        }

        .product-item .product-item-name {
            margin-left: 22px;
        }

        .action.delete {
            &:extend(.abs-remove-button-for-blocks all);
            left: 0;
            position: absolute;
            top: 0;
        }

        .counter {
            &:extend(.abs-block-items-counter all);
        }

        .actions-toolbar {
            margin: 17px 0 0;
        }

        .action.primary {
            &:extend(.abs-revert-to-action-secondary all);
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .table-wrapper.comparison {
        .table-comparison > tbody > tr {
            > th,
            > td {
                display: table-cell;
                &:extend(.abs-col-no-prefix all);
            }
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .compare.wrapper,
    [class*='block-compare'] {
        display: none;
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .compare.wrapper {
        float: right;
        .lib-list-reset-styles();

        .action.compare {
            line-height: @form-element-input__height;
            .lib-link(
                @_link-color: @primary__color,
                @_link-text-decoration: none,
                @_link-color-visited: @primary__color,
                @_link-text-decoration-visited: none,
                @_link-color-hover: @primary__color,
                @_link-text-decoration-hover: underline,
                @_link-color-active: @primary__color,
                @_link-text-decoration-active: underline
            );
        }

        .counter.qty {
            .lib-css(color, @primary__color__lighter);

            &:before {
                content: '(';
            }

            &:after {
                content: ')';
            }
        }
    }
    .block.upsell{
        .title{
            margin: 0 0 30px;
            strong{
                font-size: 22px;
                &:after{
                    border-bottom: 2px solid #ea257d;
                    margin: 10px auto 0;
                    width: 110px;
                }
            }
        }
    }
    .block.related{
        margin-bottom: 25px !important;
        margin-top: 0;
        .title{
            margin: 0 0 30px;
            strong{
                font-size: 22px;
                &:after{
                    border-bottom: 2px solid #ec008c;
                    margin: 10px auto 0;
                    width: 110px;
                }
            }
        }
    }
    .shipping-review-toggle{
        margin: 8px 0 22px;
    }
}

//
//  Desktop large
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen-1025) {
    .box-tocart {
        .paypal:first-of-type {
            margin-top: 13px;
        }
        .field.qty{
            margin: 0 12px 0 0;
            .control{
                width: 97px;
            }
        }
        .input-text.qty{
            width: 70px;
        }
        .actions{
            width: ~"calc(100% - 176px)";
        }
        .action.tocart{
            font-size: 16px;
        }
    }
    .product-info-main .page-title-wrapper .page-title{
        font-size: 34px;
    }
    .product-social-links{
        .action.towishlist, .action.tocompare{
            width: 52px;
        }
        .action.towishlist{
            background-size: 20px;
        }
        .action.tocompare{
            background-size: 21px;
            margin-left: 5px;
        }
    }
    .page-layout-1column{
        .product-info-main{
            width: 39%;
        }
    }
}

@media (min-width: 768px) and (max-width: 1120px){
    .nechImage{
        &:after{
            background: #fafafa;
            content: '';
            display: block;
            height: 130px;
            position: absolute;
            bottom: -130px;
            left: 0;
            width: 100%;
        }
    }
}