<!--
/**
 * Copyright © Cryozonic Ltd. All rights reserved.
 *
 * @package    Cryozonic_StripePayments
 * @copyright  Copyright © Cryozonic Ltd (http://cryozonic.com)
 * @license    Commercial (See http://cryozonic.com/licenses/stripe.html for details)
 */
-->
<div class="payment-method cryozonic-stripe"
  data-bind="
    css: {
      '_active': (getCode() == isChecked())
    }">
  <div class="payment-method-title field choice">
    <input type="radio"
      name="payment[method]"
      class="radio"
      data-bind="
        attr: { 'id': getCode() },
        value: getCode(),
        checked: isChecked,
        click: selectPaymentMethod,
        visible: isRadioButtonVisible()
      "/>
    <label class="label" data-bind="attr: {'for': getCode()}">
	  <img src="https://www.imagegang.co.uk/pub/media/images/stripe.jpg" alt="stripe" class="payment-icon">
      <span data-bind="text: getTitle()"></span>
    </label>
  </div>

  <div class="payment-method-content">
    <div class="payment-method-billing-address">
      <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
      <!-- ko template: getTemplate() --><!-- /ko -->
      <!--/ko-->
    </div>

    <p class="cryozonic-billing-address-warning" data-bind="if: !isBillingAddressSet()">
      <!-- ko i18n: 'Please update your billing address to proceed.'--><!-- /ko -->
    </p>

    <div class="cryozonic-stripe cryozonic-stripe-apple-pay-section" data-bind="visible: showApplePaySection()">
      <label data-bind="visible: showApplePayButton()"><!-- ko i18n: 'Buy now with Apple Pay'--><!-- /ko --></label>
      <button id="apple-pay-button" data-bind="visible: showApplePayButton(), click: beginApplePay"></button>
      <div id="payment-request-button" data-bind=""></div>
      <label><!-- ko i18n: 'Or use a card below'--><!-- /ko --></label>
    </div>

    <div data-bind="
        attr: {
          id: getCode() + '_apple_pay_div'
        },
        if: cryozonicApplePayToken,
        visible: cryozonicApplePayToken()
      " class="cryozonic-stripe cryozonic-stripe-apple-pay-result">
        <label><!-- ko i18n: 'Selected Card'--><!-- /ko --></label>
        <div>
          <span id="apple-pay-result-brand"
            data-bind="
              html: cryozonicApplePayToken().card.brand,
              attr: { class: cryozonicApplePayToken().card.brand + ' type' }
            ">
          </span>
          **** <span id="apple-pay-result-last4" data-bind="html: cryozonicApplePayToken().card.last4"></span>
        </div>
        <button type="button" class="action" title="<!-- ko i18n: 'Reset'--><!-- /ko -->" name="reset" data-bind="click: resetApplePay">
          <span><!-- ko i18n: 'Reset'--><!-- /ko --></span>
        </button>
    </div>

    <div data-bind="
        attr: {
          id: getCode() + '_saved_cards_div'
        },
        if: showSavedCardsSection,
        visible: showSavedCardsSection
      " class="cryozonic-stripe cryozonic-saved-cards-section">
      <div data-bind="foreach: config().savedCards">
        <div class="cryozonic-saved-card">
          <input type="radio" name="payment[cc_saved]" class="select"
            data-bind="
              checked: $parent.cryozonicStripeSelectedCard,
              attr: {
                id: id
              },
              value: (id + ':' + brand + ':' + last4)"
            ">
          <label data-bind="attr: { for: id }">
            <span data-bind="attr: { class: brand + ' type' }, text: brand"></span>
            <span data-bind="text: last4" class="last4 cryozonic-stripe-fade"></span>
            <span class="exp cryozonic-stripe-fade">
              <!-- ko i18n: 'exp'--><!-- /ko -->
              <span data-bind="text: exp_month"></span>/<span data-bind="text: exp_year"></span>
            </span>
          </label>
        </div>
      </div>

      <div data-bind="if: config().savedCards.length">
        <input data-bind="checked: cryozonicStripeSelectedCard" type="radio" name="payment[cc_saved]" value="new_card" class="select" id="new_card">
        <label for="new_card">
            <span><!-- ko i18n: 'Use a new card'--><!-- /ko --></span>
        </label>
      </div>
      <br>
    </div>

    <div class="fieldset ccard" data-bind="visible: showNewCardSection">

      <div data-bind="if: (securityMethod == 2)">
        <div class="cryozonic-stripe-elements">
          <label for="card-number" id="card-details-label">
            <span><!-- ko i18n: 'Enter your card details:'--><!-- /ko --></span>
          </label>
        </div>
        <div class="cryozonic-stripe-elements no-wrap">
          <div id="cryozonic-stripe-card-number" class="stripe-elements-field">
          <!-- a Stripe Element will be inserted here. -->
          </div>
          <div class="cryozonic-stripe-brand"><i class="pf pf-credit-card" id="cryozonic-stripe-brand-icon"></i></div>
        </div>
        <div class="cryozonic-stripe-elements no-wrap">
          <div id="cryozonic-stripe-card-expiry" class="stripe-elements-field">
          <!-- a Stripe Element will be inserted here. -->
          </div>
          <div id="cryozonic-stripe-card-cvc" class="stripe-elements-field">
          <!-- a Stripe Element will be inserted here. -->
          </div>
        </div>
        <div class="cryozonic-stripe-elements">
          <div class="pci-dss-info-block">
            <svg xmlns="http://www.w3.org/2000/svg" width="1.4em" height="1.4em" viewBox="0 0 24 24" id="pci-svg">
              <path d="m18,8l-1,0l0,-2c0,-2.76 -2.24,-5 -5,-5s-5,2.24 -5,5l0,2l-1,0c-1.1,0 -2,0.9 -2,2l0,10c0,1.1 0.9,2 2,2l12,0c1.1,0 2,-0.9 2,-2l0,-10c0,-1.1 -0.9,-2 -2,-2zm-6,9c-1.1,0 -2,-0.9 -2,-2s0.9,-2 2,-2s2,0.9 2,2s-0.9,2 -2,2zm3.1,-9l-6.2,0l0,-2c0,-1.71 1.39,-3.1 3.1,-3.1c1.71,0 3.1,0.92125 3.1,2.84372l0,-0.78122l0,3.0375z"/>
            </svg>
            <div class="pci-dss-info-text">
              <span><!-- ko i18n: 'Your card details are protected using PCI DSS v3.2 security standards.'--><!-- /ko --></span>
            </div>
          </div>
        </div>

        <div id="cryozonic-stripe-card-errors"></div>
      </div>

      <div data-bind="
          if: (securityMethod <= 1),
          attr: {
            id: getCode() + '_cc_owner_div'
          }
        " class="field required">
        <label data-bind="attr: {for: getCode() + '_cc_owner'}" class="label">
          <span><!-- ko i18n: 'Name on Card'--><!-- /ko --></span>
        </label>
        <div class="control">
          <input type="text" class="input-text" value=""
            data-bind="
              attr: {
                autocomplete: off,
                id: getCode() + '_cc_owner',
                title: $t('Name on Card'),
                'data-container': getCode() + '-cc-owner',
                'data-validate': JSON.stringify({'required':true})
              },
              enable: isActive($parents),
              value: cryozonicStripeCardName,
              valueUpdate: 'keyup'
            "/>

        </div>
      </div>

      <div data-bind="
          if: (securityMethod <= 1),
          attr: {
            id: getCode() + '_cc_number_div'
          }
        " class="field number required">
        <label data-bind="attr: {for: getCode() + '_cc_number'}" class="label">
          <span><!-- ko i18n: 'Card Number'--><!-- /ko --></span>
        </label>
        <div class="control">
          <input type="number" class="input-text" value=""
          data-bind="
            attr: {
              autocomplete: off,
              id: getCode() + '_cc_number',
              title: $t('Card Number'),
              'data-container': getCode() + '-cc-number',
              'data-validate': JSON.stringify({'required-number':true, 'validate-card-number':'#' + getCode() + '_cc_number'})
            },
            enable: isActive($parents),
            value: cryozonicStripeCardNumber,
            valueUpdate: 'keyup'
          "/>
        </div>
      </div>

      <div data-bind="
          if: (securityMethod <= 1),
          attr: {
            id: getCode() + '_cc_expiration_div'
          }
        " class="field date required">
        <label data-bind="attr: {for: getCode() + '_expiration_mo'}" class="label">
          <span><!-- ko i18n: 'Expiration Date'--><!-- /ko --></span>
        </label>
        <div class="control">
          <div class="fields group group-2">
            <div class="field no-label month">
              <div class="control">
                <select class="select select-month"
                  data-bind="
                    attr: {
                      id: getCode() + '_expiration_mo',
                      'data-container': getCode() + '-cc-month',
                      'data-validate': JSON.stringify({required:true})
                    },
                    enable: isActive($parents),
                    options: getCcMonthsValues(),
                    optionsValue: 'value',
                    optionsText: 'month',
                    optionsCaption: $t('Month'),
                    value: cryozonicStripeCardExpMonth
                  ">
                </select>
              </div>
            </div>
            <div class="field no-label year">
              <div class="control">
                <select class="select select-year"
                  data-bind="
                    attr: {
                      id: getCode() + '_expiration_yr',
                      'data-container': getCode() + '-cc-year',
                      'data-validate': JSON.stringify({required:true})
                    },
                    enable: isActive($parents),
                    options: getCcYearsValues(),
                    optionsValue: 'value',
                    optionsText: 'year',
                    optionsCaption: $t('Year'),
                    value: cryozonicStripeCardExpYear
                  ">
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div data-bind="
          if: (securityMethod <= 1),
          attr: {
            id: getCode() + '_cc_cid_div'
          }
        " class="field cvv required">
        <label data-bind="attr: {for: getCode() + '_cc_cid'}" class="label">
          <span><!-- ko i18n: 'Card Verification Number'--><!-- /ko --></span>
        </label>
        <div class="control _with-tooltip">
          <input type="number"
            autocomplete="off"
            class="input-text cvv"
            value=""
            data-bind="
              attr: {
                id: getCode() + '_cc_cid',
                title: $t('Card Verification Number'),
                'data-container': getCode() + '-cc-cvv',
                'data-validate': JSON.stringify({'required-number':true, 'validate-card-cvv':'#' + getCode() + '_cc_type'})
              },
              enable: isActive($parents),
              value: cryozonicStripeCardVerificationNumber
            "/>
          <div class="field-tooltip toggle">
            <span class="field-tooltip-action action-cvv"
              tabindex="0"
              data-toggle="dropdown"
              data-bind="
                attr: {title: $t('What is this?')},
                mageInit: {'dropdown':{'activeClass': '_active'}}
              ">
              <span><!-- ko i18n: 'What is this?'--><!-- /ko --></span>
            </span>
            <div class="field-tooltip-content"
                 data-target="dropdown"
                 data-bind="html: getCvvImageHtml()"></div>
          </div>
        </div>

      </div>

    </div>

    <div data-bind="template: { afterRender: onCheckoutFormRendered }"></div>

    <div data-bind="
      attr: {
        id: getCode() + '_cc_save_div'
      },
      if: showSaveCardOption,
      visible: !config().alwaysSaveCard">
      <div class="input-box">
        <label for="<?php echo $_code ?>_cc_save">
            <input type="checkbox"
              data-bind="
                attr: {
                  title: $t('Save card for future purchases'),
                  id: getCode() + '_cc_save'
                },
                checked: cryozonicStripeCardSave
              "
              class="input-checkbox stripe-input" name="payment[cc_save]" checked="checked"/>
            <label data-bind="attr: {for: getCode() + '_cc_save'}" class="label">
              <span><!-- ko i18n: 'Save card for future purchases'--><!-- /ko --></span>
            </label>
        </label>
      </div>
    </div>

    <input type="hidden"
          class="input-text"
          name="payment[cc_stripejs_token]"
          value=""
          data-bind="
            attr: {
              id: getCode() + '_cc_stripejs_token'
            },
            enable: config().isStripeJsEnabled,
            value: cryozonicStripeJsToken
          "/>

    <div class="checkout-agreements-block">
        <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
    </div>

    <!-- ko foreach: getRegion('messages') -->
    <!-- ko template: getTemplate() --><!-- /ko -->
    <!--/ko-->

    <div class="actions-toolbar">
      <div class="primary">
        <button class="action primary checkout" type="submit"
          data-bind="
            click: stripeJsPlaceOrder,
            enable: isPlaceOrderEnabled(),
            attr: {title: $t('Place Order')}
          ">
          <span data-bind="i18n: 'Place Order'"></span>
        </button>
      </div>
    </div>

  </div>
</div>

