//
//  Improved Layered Navigation
//  ____________________________________________

//
//  Variables
//  --------------------------------------------

@base-border__color: #cccccc;
@dropdown-border__color: #adadad;

@search-hightlighted__background-color: #ffff00;

@price-slider-handle__background-color: #f98b25;
@price-slider-handle__hover__background-color: #e17e17;
@price-slider-range__background-color: #b6b6b6;

@filter-item-selected__background-color: #e8e8e8;

//
//  Common
//  ----------------------------------------------

& when (@media-common = true) {
    .amshopby-hightlighted {
        .lib-css(background-color, @search-hightlighted__background-color);
    }

    .ui-tooltip {
        &.ui-widget {
            padding: 5px 10px;
            max-width: 250px;
            .lib-css(border, 1px solid @base-border__color);
            .lib-css(box-shadow, 1px 0 3px @base-border__color);
            word-wrap: break-word;
        }

        .arrow {
            position: absolute;
            left: 15px;
            bottom: -15px;
            width: 20px;
            height: 15px;
        }

        .arrow::after {
            content: "";
            position: absolute;
            .lib-css(border-top, 10px solid @base-border__color);
            border-right: 20px solid transparent;
        }

        .arrow::before {
            content: "";
            position: absolute;
            top: -1px;
            left: 1px;
            border-top: 9px solid #fff;
            border-right: 19px solid transparent;
            z-index: 9;
        }

        .arrow.top {
            top: -15px;
            transform: scale(1, -1);
        }
    }

    .amshopby-filter-tooltip {
        display: inline-block;
        max-width: 20px;
        max-height: 20px;
        margin-left: 6px;
        vertical-align: middle;
    }

    .filter-options-content {
        .delimiter {
            margin: 0 5px;
            line-height: 30px;
        }

        .range,
        .amshopby-more-button {
            margin-top: 10px;
        }

        .amshopby-more-button > a:hover {
            background: transparent;
        }

        .amshopby-filter-price-from,
        .amshopby-filter-price-to {
            width: 46%;
        }

        .items a {
            margin-left: 0;
        }

        .count {
            display: inline-block;
        }

        .am_shopby_swatch_label .count {
            margin: 0;
            padding: 0;
        }

        .am_shopby_swatch_label .label {
            margin-right: 5px;
        }
    }

    .amshopby-filter-price-go {
        margin: 15px 0 0;
        width: 25%;
    }

    input[type="text"].amshopby-filter-price-to.right {
        float: right;
    }

    .am_shopby_slider_container {
        & {
            margin: 10px 15px 15px 5px;
        }

        .ui-slider-range {
            position: absolute;
            height: 10px;
            .lib-css(background, @price-slider-range__background-color);
        }

        .am-slider .ui-slider-handle {
            padding: 0;
            margin-top: -5px;
            margin-left: -5px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            .lib-css(background, @price-slider-handle__background-color);
        }

        .am-slider .ui-slider-handle:hover,
        .am-slider .ui-slider-handle:active {
            .lib-css(background-color, @price-slider-handle__hover__background-color);
        }

        .am_shopby_slider_display {
            text-align: center;
        }
    }

    .amasty-shopby-swatch-attribute-options {
        & {
            display: flex;
            flex-direction: column;
            padding-left: 2px;
        }

        .swatch-option {
            display: inline-block;
            margin: 0 10px 0 0;
        }

        > .item {
            padding-bottom: 4px !important;
        }

        > .item:hover {
            background-color: transparent;
        }

        .am_shopby_swatch_label {
            display: inline-block;
            max-width: 70%;
            vertical-align: middle;
            word-wrap: break-word;
        }
    }

    .catalog-topnav .filter-options {
        & {
            flex-wrap: wrap;
            min-height: 40px;
            .lib-css(border-bottom, 1px solid @base-border__color);
        }

        .filter-options-item {
            display: inline-block;
            border: 0;
        }

        .filter-options-content {
            position: absolute;
            margin-top: 5px;
            .lib-css(border, 1px solid @base-border__color);
            background-color: white;
            z-index: 9000;
        }

        .am_shopby_filter_items_rating {
            li {
                margin: 0 0 10px;
            }

            li:last-child {
                margin: 0;
            }
        }
    }

    .catalog-topnav .block-actions {
        display: none;
    }

    .am_shopby_filter_items_attr_price {
        min-width: 130px;
        max-width: 350px;
    }

    .am_shopby_apply_filters {
        & {
            width: 100%;
            margin: 10px auto;
            padding-top: 10px;
            max-width: 240px;
            clear: both;
        }

        button {
            width: 100%;
        }
    }

    .amasty-catalog-topnav {
        &.block.filter {
            flex-basis: auto;
        }

        .has-apply-button .am_shopby_apply_filters {
            display: inline-block;
            margin: 0 0 10px 15px;
            padding-top: 0;
        }

        .filter-options-content a {
            display: flex;
            align-items: baseline;
        }

        .filter-options-content .swatch-option-link-layered {
            display: inline-block;
        }
    }

    .page-layout-1column .filter-options-item.active .filter-options-content {
        padding: 10px 15px;
    }

    .am_shopby_filter_items_stock .am_shopby_link_selected,
    .am_shopby_filter_items_rating .am_shopby_link_selected {
        .lib-css(background-color, @filter-item-selected__background-color);
        text-decoration: none;
    }

    .filter-options .chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
        right: 8px;
        top: 5px;
    }

    .catalog-topnav {
        display: none;
    }

    .filter-options {
        .items ol {
            list-style: none;
            padding-left: 18px;
        }

        .items ol .item {
            margin: 5px 0;
        }

        .items.amshopby-fly-out-view .items-children {
            background-color: #fff;
            z-index: 4;
        }

        .items.amshopby-fly-out-view li {
            & {
                margin: 0;
                padding: 10px;
                .lib-css(border, 1px solid @base-border__color);
                border-top: none;
                word-break: break-all;
            }

            &:hover {
                .lib-css(background-color, @base-border__color);
            }

            &:first-child {
                .lib-css(border-top, 1px solid @base-border__color);
            }
        }

        .items.amshopby-fly-out-view a:hover {
            background-color: transparent;
        }

        .ui-widget-overlay {
            background: #aaaaaa;
            opacity: .3;
        }

        .ui-widget-shadow {
            -webkit-box-shadow: 0 0 5px #666666;
            box-shadow: 0 0 5px #666666;
        }

        .amshopby-category-dropdown-view {
            position: absolute;
            margin: 0;
            padding: 10px;
            max-height: 300px;
            .lib-css(border, 1px solid @base-border__color);
            background-color: white;
            white-space: nowrap;
            overflow-y: auto;
            z-index: 9;
        }

        .amshopby-category-labels-folding a.amshopby-filter-parent,
        .amshopby-category-dropdown-view a.amshopby-filter-parent {
            padding-left: 20px;
        }

        .filter-options-content .rating-summary {
            display: inline-block;
            vertical-align: sub;
        }

        .amshopby-search-box {
            margin: 0 0 15px;
        }
    }

    .filter-options .ui-menu {
        & {
            display: block;
            margin: 0;
            padding: 0;
            list-style: none;
            outline: 0;
        }

        .ui-menu {
            position: absolute;
        }

        .ui-menu-item {
            margin: 0;
            cursor: pointer;
            list-style: none;
        }

        .ui-menu-item-wrapper {
            position: relative;
            padding: 3px 1em 3px .4em;
        }

        .ui-menu-divider {
            margin: 5px 0;
            height: 0;
            font-size: 0;
            line-height: 0;
            border-width: 1px 0 0 0;
        }

        .ui-state-focus,
        .ui-state-active {
            margin: -1px;
        }
    }

    .amshopby-category-dropdown {
        & {
            display: block;
            padding-right: 3.6rem;
            min-height: 3.2rem;
            text-align: left;
            .lib-css(border, 1px solid @dropdown-border__color);
            cursor: pointer;
            white-space: normal;
            overflow: hidden;
            text-overflow: ellipsis;
            background-color: #fff;
            font-weight: 400;
        }

        .caret:after {
            content: '';
            position: absolute;
            top: 50%;
            right: 1.2rem;
            margin-top: -0.2rem;
            width: 0;
            height: 0;
            border-color: #000 transparent transparent transparent;
            border-style: solid;
            border-width: 0.5rem 0.4rem 0 0.4rem;
            box-sizing: border-box;
            transition: all .2s linear;
        }

        .caret:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 3.2rem;
            background-color: #e3e3e3;
            .lib-css(border, 1px solid @dropdown-border__color);
            bottom: 0;
        }
    }

    .amshopby-category-dropdown-wrapper {
        & {
            position: relative;
            display: block;
            user-select: none;
        }

        &._active .amshopby-category-dropdown .caret:after {
            transform: rotate(180deg);
        }
    }

    .amshopby-category-dropdown-wrapper .amshopby-category-dropdow-multiselect-crumb {
        & {
            position: relative;
            display: inline-block;
            padding: 0.3rem 2.4rem 0.4rem 1rem;
            margin: 0.3rem 0 0.3rem 0.3rem;
            background-color: #f5f5f5;
            border: 1px solid #a79d95;
            border-radius: 1px;
            font-size: 1.2rem;
            transition: border-color 0.1s linear;
        }

        .action-close {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            margin: 0;
            padding: 0;
            width: 2rem;
            font-size: .5em;
            background-color: transparent;
            border: none;
            border-radius: 0;
            box-shadow: none;
            color: #514943;
        }

        .action-close:before {
            content: 'x';
            font-size: 10px;
            transition: color 0.1s linear;
        }

        .action-close > span {
            clip: rect(0, 0, 0, 0);
            overflow: hidden;
            position: absolute;
            display: none;
            visibility: hidden;
        }
    }

    .filter-options .amshopby-category-labels-folding .items {
        position: relative;
    }

    .amshopby-category-collapse-icon {
        & {
            position: absolute;
            width: 2.2rem;
            height: 2.2rem;
            border-radius: 50%;
            box-sizing: border-box;
            -webkit-font-smoothing: antialiased;
            font-style: normal;
            font-weight: normal;
            line-height: 1;
        }

        &:after {
            content: '';
            position: absolute;
            top: 50%;
            right: 1.2rem;
            margin-top: -0.2rem;
            width: 0;
            height: 0;
            border-color: #000 transparent transparent transparent;
            border-style: solid;
            border-width: 0.5rem 0.4rem 0 0.4rem;
            box-sizing: border-box;
            transition: all .2s linear;
            transform: rotate(-90deg);
        }

        &._active:after {
            transform: rotate(0deg);
        }
    }

    #amasty-shopby-product-list {
        & {
            z-index: 1;
        }

        .products.wrapper {
            position: relative;
        }

        #amasty-shopby-overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            display: none;
            width: 100%;
            background: #fff;
            opacity: .5;
            z-index: 999;
        }

        #amasty-shopby-overlay .loader {
            position: absolute;
            top: 10%;
            left: 50%;
            display: block;
            width: 64px;
            height: 64px;
            background-image: url('../images/loader-1.gif');
            transform: translate(-50%, -10%);
        }
    }

    .amshopby-option-link {
        & {
            display: inline-block;
            margin-right: 5px;
        }

        img {
            max-width: 30px;
            max-height: 30px;
        }
    }

    // Styles for Brand Slider
    .slider-container .amslider {
        position: relative;
        left: inherit;
        width: 100%;
        transform: inherit;
        display: block;
    }

    .amslider * {
        margin: 0;
        padding: 0;
    }

    .amslider .swiper-container,
    .amslider .container {
        margin: 20px auto;
    }

    .amslider .swiper-wrapper {
        display: -moz-grid-line;
    }

    .amslider .swiper-pagination-bullets {
        bottom: 5px;
        left: 0;
        width: 100%;
    }

    .amslider .swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0 5px;
    }

    .amslider-container .amslider-header-container {
        background: #f58c12;
        height: 35px;
        padding: 5px 0 5px 35px;
    }

    .amslider-container .amslider-header-container .amslider-header {
        margin-left: auto;
        margin-right: auto;
        max-width: 1280px;
    }

    .amslider-container .amslider-header-container span {
        margin: 0;
        color: #fff;
        font-size: 22px;
        line-height: 35px;
        text-transform: none;
    }

    .amslider .swiper-slide {
        text-align: center;
        padding: 1px 0;
        font-size: 18px;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    .amslider .slide {
        margin: 20px;
        text-align: center;
        padding: 1px 0;
        font-size: 18px;
        /* Center slide text vertically */
        display: inline-block;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    .amslider .swiper-slide .swiper-category-item {
        margin: 10px 0;
        padding: 10px 10px;
        position: relative;
        display: flex;
        width: 100%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    .amslider .slide .category-item {
        margin: 10px 0;
        padding: 10px 10px;
        position: relative;
        display: flex;
        width: 100%;
        border: 1px solid #fff;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    /* safari*/
    .amslider .swiper-slide .swiper-category-item:not(:root:root),
    .amslider .slide .category-item:not(:root:root) {
        padding: 10px;
    }

    .amslider .swiper-slide .swiper-category-item img,
    .amslider .slide .category-item img {
        height: auto;
    }

    .amslider .swiper-slide .swiper-category-item.category-item-label img,
    .amslider .slide .category-item.category-item-label img {
        margin-bottom: 35px;
    }

    .amslider .swiper-slide .category-item-title,
    .amslider .slide .category-item-title {
        position: absolute;
        bottom: 5px;
        left: 0;
        right: 0;
        padding: 0 5px;
        font-size: 15px;
        line-height: 1.2;
    }

    .amslider .swiper-slide a:hover,
    .amslider .slide a:hover {
        text-decoration: none;
    }

    .category-filter-image img {
        vertical-align: middle;
    }

    #category-carousel .swiper-button-next {
        right: 0;
        top: 40%;
    }

    #category-carousel .swiper-button-prev {
        left: 0;
        top: 40%;
    }

    .amslider .swiper-slide .swiper-category-item {
        margin: 10px 0;
        padding: 10px 10px;
        position: relative;
        display: flex;
        width: 100%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    /* safari*/
    .amslider .swiper-slide .swiper-category-item:not(:root:root) {
        padding: 10px;
    }

    .amslider .swiper-slide .swiper-category-item img {
        height: auto;
    }

    .amslider .swiper-slide .swiper-category-item.category-item-label img {
        margin-bottom: 35px;
    }

    .amslider .swiper-slide .category-item-title {
        position: absolute;
        bottom: 5px;
        left: 0;
        right: 0;
        padding: 0 5px;
        font-size: 15px;
        line-height: 1.2;
    }

    .amslider .swiper-slide .swiper-category-item:hover,
    .amslider .swiper-slide .swiper-category-item.active {
        background: #ffffff;
        box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, 0.3);
        border: 1px solid #bbbbbb;
        margin: 0;
        position: relative;
        z-index: 2;
    }

    .amslider .slide .category-item:hover,
    .amslider .slide .category-item.active {
        background: #ffffff;
        box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, 0.3);
        border-color: #bbb;
        position: relative;
        z-index: 2;
        padding: 10px;
    }
}

//
//  Tablet
//  --------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .ui-tooltip {
        &.ui-widget {
            max-width: 450px;
        }
    }

    .catalog-topnav {
        display: block;
    }

    .page-layout-1column .toolbar-products {
        position: inherit !important;
    }

    #amasty-shopby-product-list {
        #amasty-shopby-overlay .loader {
            top: 30%;
            transform: translate(-50%, -30%);
        }
    }

    .filter-options-content {
        .amshopby-filter-price-from,
        .amshopby-filter-price-to {
            width: 40%;
        }
    }
}


//
//  Desktop
//  --------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .filter-options-content {
        .amshopby-filter-price-from,
        .amshopby-filter-price-to {
            width: 43%;
        }
    }
}
