// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .breadcrumbs {
        .lib-breadcrumbs();
        margin: 0;
        padding-top: 16px;
        padding-bottom: 22px;
        .items{
            color: @black-color;
            font-size: 13px;
            font-weight: 300;
        }
        a{
            color: #b9b9b9 !important;
        }
        .item:not(:last-child):after{
            color: #b9b9b9;
            content: '-';
            font-family: @site-font;
            font-size: 13px;
            line-height: inherit;
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .breadcrumbs {
        display: none;
    }
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .breadcrumbs {
        & + .page-main{
            padding-top: 0;
        }
    }
}
