// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //  Using buttons mixins

    body {
        &:not(._keyfocus) {
            button {
                &:focus {
                    box-shadow: none;
                }
            }
        }
    }

    button{
        font-family: @site-font;
        padding: 12px 20px;
    }

    a.action.primary {
        .lib-link-as-button();
    }

    .action.primary {
        background: #000000;
        border: none;
        color: #ffffff;
        font-family: @site-font;
        font-size: 14px;
        font-weight: 500;
        height: 44px;
        line-height: 44px;
        padding: 0 32px;
        &:hover{
            background: #4d4d4d;
            border: none;
            color: #ffffff;
        }
    }
    .actions-toolbar .secondary a.action{
        color: @pink-color;
        font-family: @site-font;
        font-size: 12px;
        font-weight: 500;
        margin-top: 13px;
        text-decoration: underline;
        &:hover{
            color: @black-color;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .actions-toolbar .secondary a.action{
        margin-top: 15px !important;
    }
    .action.primary {
        height: 50px;
        line-height: 50px;
        padding: 0 40px;
    }
}
