// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@legend-border-bottom: 1px solid @color-gray-light6;
@form-field__vertical-indent__desktop: 29px;
@form-calendar-icon__color: @primary__color;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .fieldset {
        .lib-form-fieldset();
        margin: 0 0 20px;

        &:last-child {
            margin-bottom: 0;
        }

        > .field,
        > .fields > .field {
            .lib-form-field();
            margin: 0 0 15px;
            &.no-label {
                > .label {
                    .lib-visually-hidden();
                }
            }

            &.choice {
                .label {
                    display: inline;
                    font-weight: 500;
                    margin: 0;
                }
            }

            .label {
                color: #000000;
                font-size: 12px;
                font-weight: 400;
                line-height: 18px;
                margin: 0 0 6px;
                .column:not(.main) & {
                    font-weight: normal;
                }
            }

            .field.choice {
                margin-bottom: @indent__s;

                &:last-child {
                    margin-bottom: 0;
                }
            }
			&.required  {
				> .label {
					&:after {
						color: @pink-color;
					}
				}
			}
        }
    }

    .legend + .fieldset,
    .legend + div {
        clear: both;
    }

    .legend {
        > span {
            margin-right: @indent__xs;
        }
    }

    fieldset.field {
        border: 0;
        padding: 0;
    }

    .field {
        &.date {
            .time-picker {
                display: inline-block;
                margin-top: @indent__s;
                white-space: nowrap;
            }
        }

        .message {
            &.warning {
                margin-top: @indent__s;
            }
        }
    }

    input[type="text"], input[type="password"], input[type="url"], input[type="tel"], input[type="search"], input[type="number"], input[type="datetime"], input[type="email"]{
        background: #ffffff;
        border: 1px solid @light-border;
        color: #000000;
        font-family: @site-font;
        font-size: 13px;
        height: 44px;
        padding: 0 10px;
    }

    textarea{
        background: #ffffff;
        border: 1px solid @light-border;
        color: #000000;
        font-family: @site-font;
        font-size: 13px;
        padding: 10px;
    }

    .select-styling() {
        .lib-css(appearance, none, 1);
        appearance: none;
        background: @select__background url('../images/selectBg.png') no-repeat right center;
        background-size: 18px;
        border: 1px solid @light-border;
        font-family: @site-font;
        font-size: 13px;
        height: 44px;
        padding: 0 25px 0 10px;
        text-indent: .01em;
        text-overflow: '';

        &::-ms-expand {
            display: none;
        }

        .lt-ie10 & {
            background-image: none;
            padding-right: 4px;
        }
    }

    select {
        .select-styling();
    }

    .field-error,
    div.mage-error[generated] {
        margin-top: 7px;
    }

    .field-error {
        .lib-form-validation-note();
    }

    //  TEMP

    .field .tooltip {
        .lib-tooltip(right);
        .tooltip-content {
            min-width: 200px;
            white-space: normal;
        }
    }

    input:focus ~ .tooltip .tooltip-content,
    select:focus ~ .tooltip .tooltip-content {
        display: block;
    }

    ._has-datepicker {
        ~ .ui-datepicker-trigger {
            .lib-button-reset();
            .lib-icon-font(
            @_icon-font-content: @icon-calendar,
            @_icon-font-color: @primary__color__lighter,
            @_icon-font-size: @icon-calendar__font-size,
            @_icon-font-line-height: @icon-calendar__font-size,
            @_icon-font-display: block,
            @_icon-font-text-hide: true
            );
            display: inline-block;
            margin-top: -4px;
            vertical-align: middle;

            &:focus {
                box-shadow: none;
                outline: 0;
            }
        }
    }

    .field.date,
    .field-dob {
        ._has-datepicker {
            &:extend(.abs-field-date-input all);
        }
    }

    //
    //  Sidebar forms
    //  ---------------------------------------------

    .sidebar {
        .fieldset {
            margin: 0;

            > .field:not(.choice) >,
            .fields > .field {
                &:not(:last-child) {
                    margin: 0 0 @form-field__vertical-indent;
                }

                .label {
                    margin: 0 0 4px;
                    padding: 0 0 @indent__xs;
                    text-align: left;
                    width: 100%;
                }

                .control {
                    width: 100%;
                }
            }
        }
    }
    ._keyfocus *:focus, input:not([disabled]):focus, textarea:not([disabled]):focus, select:not([disabled]):focus {
        box-shadow: none;
    }
    input[type="radio"]{
        margin: 0 5px 0 0;
        position: relative;
        top: 2px;
    }
    input[type="checkbox"] {
        position: relative;
        top: 2px;
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .fieldset {
        margin: 0 0 25px;
        & > .field, & > .fields > .field{
            margin: 0 0 20px;
            .label{
                font-size: 13px;
            }
        }
    }
    .legend {
        .lib-css(border-bottom, @legend-border-bottom);
    }
}
