// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .pages {
        .lib-pager();

        .action {
            @_shadow: inset 0 1px 0 0 @color-white, inset 0 -1px 0 0 fade(@border-color__base, 30);
            background: none;
            border: none;
            &:hover{
                background: none;
            }
            &.previous {
                &:before{
                    color: #b2b2b2;
                    content: "\f104";
                    font-family: 'Font Awesome 5 Free';
                    font-weight: 900;
                }
                &:hover{
                    &:before{
                        color: #000000;
                    }
                }
            }

            &.next {
                &:before{
                    color: #b2b2b2;
                    content: "\f105";
                    font-family: 'Font Awesome 5 Free';
                    font-weight: 900;
                }
                &:hover{
                    &:before{
                        color: #000000;
                    }
                }
            }
        }
        .item{
            font-size: 13px;
            font-weight: 600;
            margin: 0 6px;
        }
        a.page{
            color: #b2b2b2;
            padding: 0;
            &:visited{
                color: #b2b2b2;
            }
            &:hover{
                color: #000000;
            }
        }
        strong.page{
            background: none;
            color: #000000;
            font-size: 14px;
            font-weight: 600;
            padding: 0 5px;
            text-decoration: underline;
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .pages {
        & &-items {
            display: block;
            padding: 0 16px 0;
            position: relative;
            white-space: normal;
            z-index: 1;
        }

        &-item-previous {
            left: 0;
            position: absolute;
            top: 0;
            z-index: 1;
        }

        &-item-next {
            position: absolute;
            right: 0;
            top: 0;
            z-index: 1;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m){
    .pages .item{
        font-size: 14px;
        margin: 0 12px;
    }
}
