// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .product.data.items {
        .lib-data-accordion();
        margin-bottom: 0;

        & > .item.title{
            margin: 0;
            float: none;
            width: auto;
            & > .switch{
                border: none;
                height: 40px;
                line-height: 38px;
                font-size: 14px;
                padding: 0;
            }
            &.active{
                & > .switch{
                    border: none;
                    border-bottom: 2px solid #000000;
                    color: #000000;
                    display: inline-block;
                    font-weight: 500;
                    padding: 0;
                }
            }
        }

        .item.title {
            a {
                position: relative;
                .lib-icon-font(
                @_icon-font-content: @icon-down,
                @_icon-font-size: @font-size__base,
                @_icon-font-line-height: @icon-font__line-height,
                @_icon-font-color: @icon-font__color,
                @_icon-font-color-hover: @icon-font__color-hover,
                @_icon-font-color-active: @icon-font__color-active,
                @_icon-font-margin: @icon-font__margin,
                @_icon-font-vertical-align: @icon-font__vertical-align,
                @_icon-font-position: after,
                @_icon-font-display: false
                );

                &:after {
                    position: absolute;
                    right: @accordion-control__padding-right;
                    top: @accordion-control__padding-top;
                    display: none;
                }
            }

            &.active a {
                &:after {
                    content: @icon-up;
                }
            }
        }

        .value p {
            &:last-child {
                margin-bottom: 0;
            }
        }

        .table-wrapper {
            margin: 0;
        }
        & > .item.content{
            border: none;
            border-top: 2px solid @grey-border;
            margin-top: -2px;
            padding: 13px 0 0;
            .product.description{
                font-size: 12px;
                line-height: 26px;
                margin-bottom: 13px;
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .product.data.items {
        .lib-data-tabs();

        .item.title a {
            &:after {
                display: none;
            }
        }
        & > .item.title{
            margin: 0 50px 0 0;
            & > .switch{
                border: none;
                height: 40px;
                line-height: 38px;
                font-size: 14px;
                padding: 0;
            }
            &.active{
                & > .switch{
                    border: none;
                    border-bottom: 3px solid #000000;
                    color: #000000;
                    font-weight: 500;
                    padding: 0;
                }
            }
        }
        & > .item.content{
            border: none;
            border-top: 3px solid @grey-border;
            margin-top: 37px;
            padding: 20px 0 0;
            .product.description{
                font-size: 12px;
                line-height: 26px;
                margin-bottom: 22px;
            }
        }
    }
}
