<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
/**
 * Currency switcher
 *
 * @var \Magento\Directory\Block\Currency $block
 */

?>
<?php if ($block->getCurrencyCount() > 1): ?>
<?php $currencies = $block->getCurrencies(); 
		$_objectManager = \Magento\Framework\App\ObjectManager::getInstance();
        $currencysymbol = $_objectManager->get('Magento\Store\Model\StoreManagerInterface');
        $currencyCode = $currencysymbol->getStore()->getCurrentCurrencyCode();
        $currentcurrency = $_objectManager->create('Magento\Directory\Model\CurrencyFactory')->create()->load($currencyCode); 
        $currentCurrencySymbol = $currentcurrency->getCurrencySymbol();
?>
<?php $currentCurrencyCode = $block->getCurrentCurrencyCode(); 


?>
<?php $id = $block->getIdModifier() ? '-' . $block->getIdModifier() : '' ?>
<div class="switcher currency switcher-currency" id="switcher-currency<?= $block->escapeHtmlAttr($id) ?>">
    <strong class="label switcher-label"><span><?= $block->escapeHtml(__('Currency')) ?></span></strong>
    <div class="actions dropdown options switcher-options">
        <div class="action toggle switcher-trigger"
             id="switcher-currency-trigger<?= $block->escapeHtmlAttr($id) ?>"
             data-mage-init='{"dropdown":{}}'
             data-toggle="dropdown"
             data-trigger-keypress-button="true">
            <strong class="language-<?= $block->escapeHtml($block->getCurrentCurrencyCode()) ?>">
                <span>
					<?php
					if($currentCurrencyCode == 'USD')
					{
						?>
						<img src="<?php echo $block->getViewFileUrl('images/USD.png'); ?>" alt="usd">
						<?php 
					}
					else if($currentCurrencyCode == 'EUR')
					{
						?>
						<img src="<?php echo $block->getViewFileUrl('images/EUR.png'); ?>" alt="eur">
						<?php 
					}
					else if($currentCurrencyCode == 'GBP')
					{
						?>
						<img src="<?php echo $block->getViewFileUrl('images/GBP.png'); ?>" alt="gbp">
						<?php 
					}
					else if($currentCurrencyCode == 'AUD')
					{
						?>
						<img src="<?php echo $block->getViewFileUrl('images/AUD.png'); ?>" alt="AUD">
						<?php 
					}
					else if($currentCurrencyCode == 'CAD')
					{
						?>
						<img src="<?php echo $block->getViewFileUrl('images/CAD.png'); ?>" alt="CAD">
						<?php 
					}
					else if($currentCurrencyCode == 'NOK')
					{
						?>
						<img src="<?php echo $block->getViewFileUrl('images/NOK.png'); ?>" alt="NOK">
						<?php 
					}
					else{
						
					}
					?>
				<b><?= $block->escapeHtml($currentCurrencyCode) ?>
				<?php /*if($currentCurrencySymbol !=''){
					echo "(".$currentCurrencySymbol.")";
					} */
					?> <?php //@$block->escapeHtml($currencies[$currentCurrencyCode]) ?></b></span>
            </strong>
        </div>
        <ul class="dropdown switcher-dropdown" data-target="dropdown">
            <?php foreach ($currencies as $_code => $_name): ?>
                <?php if ($_code != $currentCurrencyCode): 
				$currency = $_objectManager->create('Magento\Directory\Model\CurrencyFactory')->create()->load($_code); 
				$currencySymbol = $currency->getCurrencySymbol();				
				?>
                    <li class="currency-<?= $block->escapeHtmlAttr($_code) ?> switcher-option">
                        <a href="#" data-post='<?= /* @noEscape */ $block->getSwitchCurrencyPostData($_code) ?>'>  <img src="<?php echo $block->getViewFileUrl('images/'.$_code.'.png'); ?>" alt="<?php echo $_code;?>"><?= $block->escapeHtml($_code) ?> <?php //echo "(".$currencySymbol.")";?>   <?php //$block->escapeHtml($_name) ?>
						</a>
                    </li>
                <?php endif; ?>
            <?php endforeach; ?>
        </ul>
    </div>
</div>
<?php endif; ?>
