<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Catalog\Block\Product\View */
?>
<?php $_product = $block->getProduct(); ?>
<?php $buttonTitle = __('Add to Bag'); ?>
<?php if ($_product->isSaleable()): ?>
<div class="box-tocart">
    <div class="fieldset">
	
        <?php 
		 $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$product = $objectManager->get('Magento\Framework\Registry')->registry('current_product');
$categories = $product->getCategoryIds(); /*will return category ids array*/
$catID = $categories[0];

if($catID==21){}
else{
		if ($block->shouldRenderQuantity()): ?>
        <div class="field qty">
            <label class="label" for="qty"><span><?= /* @escapeNotVerified */ __('Qty') ?></span></label>
            <div class="control">
                <input type="number"
                       name="qty"
                       id="qty"
                       value="<?= /* @escapeNotVerified */ $block->getProductDefaultQty() * 1 ?>"
                       title="<?= /* @escapeNotVerified */ __('Qty') ?>"
                       class="input-text qty"
                       data-validate="<?= $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"
                       />
				<div class="Imagegangupdown">
					<p class="edit-qty plus" onclick="plusQty('qty')"><i class="fa fa-sort-up"></i></p>
					<p class="edit-qty minus" onclick="minusQty('qty')"><i class="fa fa-sort-down"></i></p>
				</div>
            </div>
        </div>
        <?php endif; 
}?>
        <div class="actions">
            <button type="submit"
                    title="<?= /* @escapeNotVerified */ $buttonTitle ?>"
                    class="action primary tocart"
                    id="product-addtocart-button">
                <span><?= /* @escapeNotVerified */ $buttonTitle ?></span>
            </button>
            <?= $block->getChildHtml('', true) ?>
        </div>
    </div>
</div>
<?php endif; ?>
<script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "Magento_Catalog/js/validate-product": {}
        }
    }
</script>
<?php if ($block->shouldRenderQuantity()): ?>
    <script type="text/javascript">
        function plusQty(qtyInput){
            require([
                'jquery'
            ], function(jQuery){
                (function($) {
                    if($('#'+qtyInput).attr('disabled')!='disabled'){
                        qty = $('#'+qtyInput).attr('value');
                        qty = parseInt(qty);
                        qty++;
                        $('#'+qtyInput).val(qty);
                    }
                })(jQuery);
            });

        }
        function minusQty(qtyInput){
            require([
                'jquery'
            ], function(jQuery){
                (function($) {
                    if($('#'+qtyInput).attr('disabled')!='disabled'){
                        qty = $('#'+qtyInput).attr('value');
                        qty = parseInt(qty);

                        if(qty>1){
                            qty--;
                            $('#'+qtyInput).val(qty);
                        }
                    }
                })(jQuery);
            });
        }

    </script>
<?php endif; ?>