<?php 
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$compareHelper = $objectManager->get('Magento\Catalog\Helper\Product\Compare');
if ($compareHelper->hasItems()) { 
echo 'ds'
?>

<!--li class="link module" data-bind="scope: 'module'">
    <a href="<?php /* @escapeNotVerified */ echo $block->getUrl().'catalog/product_compare/index/'; ?>" title="<?php echo __('Compare'); ?>">&nbsp;>> <?php echo __('Compare'); ?></a>
</li>
<script type="text/x-magento-init">
    {
        "*": {
            "Magento_Ui/js/core/app": {
                "components": {
                    "wishlist": {
                        "component": "Magento_Wishlist/js/view/wishlist"
                    }
                }
            }
        }
    }

</script-->
<?php } ?> 