<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$product = $objectManager->get('Magento\Framework\Registry')->registry('current_product');
$_productid = $product->getId();
if($_productid=='16'||$_productid=='254'||$_productid=='255'){
	$Images = $product->getMediaGalleryImages()->getItems();
	?>
	<div class="block related" data-limit="0" data-shuffle="0">
		<div class="block-title title">
		<strong id="block-related-heading" role="heading" aria-level="2">Customer Creations</strong>
		</div>
		<div class="block-content content" aria-labelledby="block-related-heading">

			<div class="products wrapper grid products-related">
			<ol class="products list items owl-carousel product-items owl-loaded owl-drag">
				<?php	
				foreach($Images as $image){
				?>
				<li class="item product" style="">                               
					<div class="product-item-info related-available">
						<span class="product-image-container" style="width:400px;">
							<span class="product-image-wrapper" style="padding-bottom: 85.25%;">
								<img class="product-image-photo" src="<?php echo $image['url']; ?>" alt="">
							</span>
						</span>
					</div>
				</li>
				<?php
				}
				?>
			</ol>
			</div>
		</div>
</div>
<script type="text/javascript">
    require(['jquery'],function($){
        $(document).ready(function(){
            $('.owl-carousel').owlCarousel({
                loop: false,
                nav: true,
                dots: true,
                responsive:{
                    0:{
                        items:2
                    },
                    768:{
                        items:3
                    },
                    1025:{
                        items:4
                    },
                    1200:{
                        items: 4
                    }
                }
            });
        });
    });
</script>
<?php
}
?>
