<?php

$product = $block->getProduct();

?>



<div class="shippingreturns">
<div id="element" data-mage-init='{"accordion":{"openedState": "active", "collapsible": true, "active": [0], "multipleCollapsible": false}}'>	

<?php if($product->getData('description') !=""){
	?>
<div data-role="collapsible">
        <div data-role="trigger" class="tabTitle">
            <span>Details</span>
        </div>

    <div data-role="content" class="tabContent">
 <?php
	echo $product->getData('description');
 ?>
 </div>
     </div>

 <?php
 }
 ?>
  <?php if($product->getData('measurements') !=""){
	?>
<div data-role="collapsible">
        <div data-role="trigger" class="tabTitle">
            <span>Measurements</span>
        </div>

    <div data-role="content" class="tabContent">
 <?php
 echo $product->getData('measurements'); 
 
 ?>
 </div>
     </div>

 <?php
 }
 ?>
 <?php if($product->getData('care_instructions') !=""){
	?>
<div data-role="collapsible">
        <div data-role="trigger" class="tabTitle">
            <span>Care Instructions</span>
        </div>

    <div data-role="content" class="tabContent">
 <?php
 echo $product->getData('care_instructions'); 
 
 ?>
 </div>
     </div>

 <?php
 }
 ?>
<?php if($product->getData('shipping_returns') !=""){
	?>
<div data-role="collapsible">
        <div data-role="trigger" class="tabTitle">
            <span>Shipping & Returns</span>
        </div>

    <div data-role="content" class="tabContent">
 <?php
 echo $product->getData('shipping_returns'); 
 
 ?>
 </div>
     </div>

 <?php
 }
 ?>
 <div data-role="collapsible">
        <div data-role="trigger" class="tabTitle">
            <span>Customer Reviews</span>
        </div>

    <div data-role="content" class="customreview tabContent">
		
	</div>
</div>
  </div>
</div>
<script type="text/javascript">
	require(['jquery'],function($){
		$(document).ready(function(){
			$('.block.review-add').appendTo('.customreview');
		});
	});

</script>