<?php
/**
 * Copyright © 2013-2017 GiaPhuGroup Ltd. All rights reserved.
 * See COPYING.txt for license details.
 *
 */

// @codingStandardsIgnoreFile

/**
 * @var \Rvs\NewsletterPopupInfo\Block\Subscribe $block
 * @see \Rvs\NewsletterPopupInfo\Block\Subscribe
 */
?>
<div class="imagnewspop mp-better-popup-click-trigger">Click Here to get 15% off  on Your First Order</div>
                                <div id="header-mpdal" style="display:none;">
   <?php //echo $this->getLayout()->createBlock("Magento\Framework\View\Element\Template")->setTemplate("PHPCuong_Newsletter::popup-subscribe.phtml")->toHtml();?>
   <style>
    .popup-newsletter .block.newsletter {
        width: 100%;
    }    
    .newsletter-content .messages {
        display: none;
    }
    .newsletter-content h2 {
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 600;
        line-height: initial;
        margin: 15px 0px;
    }
    .newsletter-content.block.newsletter .actions {
        display: block;
        margin-top: 10px;
        width: 100%;
    }
    .newsletter-content .actions .action.subscribe.primary {
        border-radius: 3px;
        width: 100%;
        display: block;
    }
</style>
<div class="block newsletter" id="popup-newsletters">  
	<h3>Image Gang</h3>
    <div class="intro">
		<h2>Just For You.</h2>
        <p>Get 15% OFF your entire order by signing up today.</p>
    </div>
    <div class="content">
        <form class="form subscribe"
            novalidate
            action="<?php echo $block->getBaseUrl();?>newsletter/subscriber/new/"
            method="post"
            data-mage-init='{"validation": {"errorClass": "mage-error"}}'
            id="newsletter-validate-detail">
            <div class="field newsletter">
                <label class="label" for="newsletter"><span>Sign Up for Our Newsletter:</span></label>
                <div class="control">
                    <input name="email" type="email" id="newsletter"
                                placeholder="Enter your email address"
                                data-validate="{required:true, 'validate-email':true}"/>
                </div>
            </div>
            <div class="actions">
                <button class="action subscribe primary" title="Subscribe" type="submit">
                    <span>Subscribe</span>
                </button>
            </div>
        </form>
    </div>
</div>
</div>

<script>
    require(
        [
            'jquery',
            'Magento_Ui/js/modal/modal'
        ],
        function(
            $,
            modal
        ) {
            var options = {
                type: 'popup',
                responsive: true,
                innerScroll: true,
                title: '',
                buttons: false,
            };

            var popup = modal(options, $('#header-mpdal'));
            $("#click-header").on('click',function(){ 
                $("#header-mpdal").modal("openModal");
            });

        }
    );
</script>
<style>
.videoWrapper { position: relative;padding-bottom: 56.25%; /* 16:9 */padding-top: 25px;height: 0;}
.videoWrapper iframe {position: absolute;top: 0;left: 0;width: 100%;height: 100%;}

</style>