// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@product-name-link__color: @text__color;
@product-name-link__color__active: @text__color;
@product-name-link__color__hover: @text__color;
@product-name-link__color__visited: @text__color;

@product-name-link__text-decoration: none;
@product-name-link__text-decoration__active: @link__hover__text-decoration;
@product-name-link__text-decoration__hover: @link__hover__text-decoration;
@product-name-link__text-decoration__visited: @link__hover__text-decoration;

@product-item__hover__background-color: @color-white;
@product-item__hover__box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, .3);

@product-price__muted__color: @color-gray40;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    //  Product Lists
    .catalog-category-view{
        .page-title-wrapper{
            .page-title:after{
                display: none;
            }
        }
    }

    .item.product{
        .price-box {
            margin: 0;
            text-align: center;

            .price {
                color: @grey-text;
                font-size: 14px;
                font-weight: 300;
                font-style: italic;
                white-space: nowrap;
            }
        }
    }

    .product {
        &-items {
            &:extend(.abs-reset-list all);
        }

        &-item {
            vertical-align: top;

            .products-grid & {
                display: inline-block;
                margin-bottom: 20px;
                width: 48.5%;
            }

            .product-image-container{
                vertical-align: middle;
            }

            &:extend(.abs-add-box-sizing all);

            &-name {
                &:extend(.abs-product-link all);
                -moz-hyphens: auto;
                -ms-hyphens: auto;
                -webkit-hyphens: auto;
                display: block;
                hyphens: auto;
                font-size: 14px;
                font-weight: 500;
                margin: 10px 0 12px;
                text-align: center;
                word-wrap: break-word;
                a{
                    color: #000000 !important;
                    font-weight: 500 !important;
                }
            }

            &-actions {
                display: none;

                .actions-secondary {
                    > button.action {
                        .lib-button-reset();
                    }

                    > .action {
                        &:extend(.abs-actions-addto all);
                        &:before {
                            margin: 0;
                        }

                        span {
                            &:extend(.abs-visually-hidden all);
                        }
                    }
                }
            }

            &-description {
                margin: @indent__m 0;
            }

            .product-reviews-summary {
                .rating-summary {
                    margin: 0 4px 0 0;
                }

                .reviews-actions {
                    font-size: @font-size__s;
                    margin-top: 5px;
                    text-transform: lowercase;
                }
            }

            .price-box {
                margin: 0;
                text-align: center;

                .price {
                    color: @grey-text;
                    font-size: 14px;
                    font-weight: 300;
                    font-style: italic;
                    white-space: nowrap;
                }

                .price-label {
                    .lib-css(color, @product-price__muted__color);
                    font-size: @font-size__s;
					display: none;
                }
            }

            .old-price {
				margin-left: 5px;
				text-decoration: line-through;

                .price {
                    font-weight: normal;
                }
            }

            .regular-price {
                .price-label {
                    display: none;
                }
            }

            .minimal-price {
                .price-container {
                    display: block;
                }
            }

            .minimal-price-link {
                margin-top: @indent__xs;
            }

            .price-from,
            .price-to {
                margin: 0;
            }

            .tocompare {
                .lib-icon-font-symbol(
                @icon-compare-full
                );
            }

            .tocart {
                .lib-font-size(13px);
                border-radius: 0;
                line-height: 1;
                padding-bottom: @indent__s;
                padding-top: @indent__s;
                white-space: nowrap;
            }
        }
    }

    .price-container {
        .price {
            .lib-font-size(14);
        }

        .price-including-tax + .price-excluding-tax,
        .weee {
            margin-top: @indent__xs;
        }

        .price-including-tax + .price-excluding-tax,
        .weee,
        .price-including-tax + .price-excluding-tax .price,
        .weee .price,
        .weee + .price-excluding-tax:before,
        .weee + .price-excluding-tax .price {
            .lib-font-size(11);
        }

        .weee {
            &:before {
                content: '(' attr(data-label) ': ';
            }

            &:after {
                content: ')';
            }

            + .price-excluding-tax {
                &:before {
                    content: attr(data-label) ': ';
                }
            }
        }
    }

    .products-list {
        .product {
            &-item {
                display: table;
                width: 100%;

                &-info {
                    display: table-row;
                }

                &-photo {
                    display: table-cell;
                    padding: 0 @indent__l @indent__l 0;
                    vertical-align: top;
                    width: 1%;
                }

                &-details {
                    display: table-cell;
                    vertical-align: top;
                }
            }
        }

        .product-image-wrapper {
            &:extend(.abs-reset-image-wrapper all);
        }
    }
	.product-item-info {
		.product-item-photo {
            border: 1px solid @grey-border;
            display: block;
            padding-bottom: 30px;
			position: relative;
			&:hover {
				.hover_image {
					opacity: 1;
					overflow: hidden;
					visibility: visible;
				}
			}
			.hover_image {
				left: 0;
				opacity: 1;
				position: absolute;
				text-align: center;
				top: 0;
				visibility: hidden;
				width: 100%;
			}
		}
		.color-total {
			position: absolute;
			bottom: 0;
			z-index: 9;
			left: 0;
			right: 0;
			text-align: center;
			background: #000;
			color: #fff;
			padding: 8px;
			font-size: 12px;
		}
	}
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .catalogsearch-result-index{
        .columns{
            .sidebar-main{
                -ms-flex-order: -1;
                -webkit-order: -1;
                order: -1;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .products-list .product {
        &-item {
            table-layout: fixed;

            &-photo {
                padding: 0 @indent__s @indent__s 0;
                width: 30%;
            }
        }
    }
    .products-grid .product-item{
        &:nth-child(2n){
            margin-left: 3%;
        }
    }
	.product-item-info {
		.color-total {
			font-size: 10px;
		}
	}
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
    .product-item-actions {
        .products-grid & {
            margin: -@indent__s 0 @indent__s;
        }

        .actions-primary + .actions-secondary {
            display: table-cell;
            padding-left: 10px;
            width: 50%;
            vertical-align: middle;

            > .action {
                margin-right: 10px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        .actions-primary {
            display: table-cell;
        }
    }

    .page-products {
        .product-item-actions {
            position: relative;
            z-index: 1;
        }
    }

    .products-grid {
        .product-item {
            margin-bottom: 30px;
            margin-left: 2%;
            width: 32%;
            &:nth-child(3n + 1) {
                margin-left: 0;
            }
        }
    }

    .page-products,
    .page-layout-1column,
    .page-layout-3columns,
    .page-products.page-layout-1column,
    .page-products.page-layout-3columns {
        .products-grid {
            .product-item {
                margin-bottom: 40px;
                margin-left: 2%;
                padding: 0;
                width: 32%;

                &:nth-child(3n + 1) {
                    margin-left: 0;
                }
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .catalog-category-view{
        .page-title-wrapper{
            margin: -12px 0 10px;
        }
    }

    .page-products.page-layout-3columns {
        .products-grid {
            .product-item {
                width: 100%/2;
            }
        }
    }
    .product-item-name{
        font-size: 17px;
        margin: 15px 0 12px;
    }
    .item.product .price-box .price{
        font-size: 16px;
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {

    .products-grid {
        .product-item {
            width: 100%/5;
        }
    }

    .page-layout-1column {
        .products-grid {
            .product-item {
                margin-bottom: 0;
                margin-left: 1.5%;
                width: 23.87%;
                &:nth-child(4n + 1){
                    margin-left: 0;
                }
            }
        }
    }

    .page-layout-3columns {
        .products-grid {
            .product-item {
                width: 100%/4;
            }
        }
    }

    .page-products {
        .products-grid {
            .product-items {
                margin: 0;
            }
        }
    }

    .page-products {
        .products-grid {
            .product-item {
                margin-left: 2%;
                width: 32%;
                &:nth-child(4n + 1){
                    margin-left: 2%;
                }
                &:nth-child(3n + 1) {
                    margin-left: 0;
                }
            }
        }
        &.page-layout-3columns {
            .products-grid {
                .product-item {
                    margin-left: 1%;
                    width: 32.667%;

                    &:nth-child(3n) {
                        margin-left: 1%;
                    }

                    &:nth-child(3n + 1) {
                        margin-left: 0;
                    }
                }
            }
        }
    }
}
