// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@toolbar-mode-icon-font-size: 16px;
@toolbar-background: transparent;
@toolbar-element-background: @color-gray94;
@toolbar-element__color: @color-gray37;
@pager-action__background: @toolbar-element-background;
@pager-action__hover__background: darken(@toolbar-element-background, 7%);
@pager__font-weight: @font-weight__bold;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .page-products {
        .columns {
            position: relative;
            z-index: 1;
        }
    }

    .toolbar {
        &:extend(.abs-add-clearfix all);
        border-bottom: 1px solid @grey-border;
        margin-bottom: 15px;
        padding-bottom: 8px;
        text-align: center;

        .products.wrapper ~ & {
            border-bottom: none;
            margin-bottom: 0;
            padding-bottom: 0;
        }

        label{
            display: none;
        }

        select {
            border: none;
            height: 28px;
        }

        &-amount {
            display: none;
            font-size: 13px;
            font-weight: 300;
            line-height: 44px;
            margin: 0 10px 0 0;
            .products.wrapper ~ .toolbar & {
                display: none;
            }
        }

        .page-with-filter & {
            &-amount {
                position: static;
            }
        }

        &-products {
            .lib-css(background-color, @toolbar-background);

            .pages {
                display: none;

                .products.wrapper ~ & {
                    display: block;
                    border-top: 1px solid @grey-border;
                    padding-top: 10px;
                    padding-bottom: 15px;
                }
            }
        }
    }

    .sorter {
        float: right;

        .products.wrapper ~ .toolbar & {
            display: none;
        }

        &-options {
            width: 130px;
        }

        &-action {
            .lib-icon-font(
            @icon-arrow-up,
            @_icon-font-size: 16px,
            @_icon-font-color: @header-icons-color,
            @_icon-font-color-hover: @header-icons-color-hover
            );
            .lib-icon-text-hide();
            display: none;

            &.sort-desc:before {
                content: @icon-arrow-down;
            }
        }
    }

    .modes {
        display: none;
    }

    .limiter {
        display: none;
        float: right;
        &-options {
            width: 80px;
        }

        &-label {
            font-weight: 400;
        }

        &-text{
            display: none;
        }

        .control {
            display: inline-block;
        }
        .products.wrapper ~ .toolbar & {
            display: none;
        }
    }
}

//
//  Desktop
//  _____________________________________________


.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
	.search.results {
		.toolbarTop {
			margin-top: -44px;
		}
	}
    .toolbarTop{
        float: right;
        margin-bottom: 20px;
        position: relative;
        width: 50%;
        z-index: 1;
        .toolbar{
            border: none;
            margin: 0;
            padding: 0;
        }
        .sorter {
            width: 100%;
            select{
                border: 1px solid #000000;
                height: 44px;
                width: 100%;
            }
        }
    }
    .products-grid{
        clear: both;
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .toolbar-amount {
        display: none;
        float: right;
    }

    .toolbar{
        margin-bottom: 25px;
        padding-bottom: 10px;
        &-products{
            .pages{
                .products.wrapper ~ & {
                    padding-top: 25px;
                    padding-bottom: 15px;
                }
            }
        }
    }

    .modes {
        float: left;
        margin-right: @indent__base;

        .products.wrapper ~ .toolbar & {
            display: none;
        }
    }

    .modes-label {
        &:extend(.abs-visually-hidden-desktop all);
    }

    .modes-mode {
        .lib-css(background-color, @toolbar-element-background);
        .lib-css(box-shadow, @button__shadow);
        .lib-css(color, @toolbar-element__color);
        border: 1px solid @border-color__base;
        border-right: 0;
        float: left;
        font-weight: @font-weight__regular;
        line-height: 1;
        padding: 7px 10px;
        text-align: center;

        .modes-label + & {
            border-radius: 3px 0 0 3px;
        }

        &:hover {
            .lib-css(color, @toolbar-element__color);
            background: darken(@toolbar-element-background, 2%);
        }

        &:last-child {
            border-radius: 0 3px 3px 0;
            border-right: 1px solid @border-color__base;
        }

        &.active {
            .lib-css(box-shadow, @button__shadow-active);
            background: darken(@toolbar-element-background, 7%);
            color: @color-gray62;
        }

        .lib-icon-font(
        @icon-grid,
        @_icon-font-size: @toolbar-mode-icon-font-size,
        @_icon-font-text-hide: true,
        @_icon-font-color: @text__color__muted,
        @_icon-font-color-hover: @text__color__muted
        );
    }

    .mode-list {
        &:before {
            content: @icon-list;
        }
    }
	
}
