.setaccordion .option-image > .label  {
    background-color: #d3d3d3;
    padding: 8px 0px;
    width: 100%;
    cursor: pointer;
    border-radius: 3px 3px 0 0;
    margin-bottom: 0 !important;
	padding: 6px;
}
.setaccordion .option-image > .label > span {
    padding: 0 10px;
}
.setaccordion .option-image .control {
    overflow: hidden;
    border: 1px solid #d3d3d3;
	padding: 5px;
}
/* add css 09-01-2017 */
.setaccordion .product-add-form{
	
}
.setaccordion .product-options-wrapper .option-image > .label{
	background:#ccc;
	border: 1px solid #ccc;
}
.setaccordion .control .btnbox{
	padding: 0px 0px 0px 0px;
	float: left;
    width: 100%;
}
.setaccordion .option-image > .label{
	background-color: #ccc;
	padding:10px;
	display:block;
	width: auto;
}
.setaccordion .custom-image-box label span{
	font-size: 14px;
	color:#000;
}
.setaccordion .control .btnbox button{
	background: #1979c3;
    border: 1px solid #1979c3;
    box-shadow: none;
	color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;
	margin-right:5px;
}
.setaccordion  .control .btnbox button:hover{
	background: #006bb4;
    border: 1px solid #006bb4;
}
.setaccordion  select:not([disabled]):focus{
	box-shadow: 0 0 1px 1px #ddd;
}
.product-add-form .setaccordion .product-options-wrapper .field:not(.date) > .control{
	padding:10px;
	width:auto;
}
.setaccordion .custom-image-box{
	background:#fafafa;
	/* width: 18%;
    margin-right: 1.3%; */
	margin-bottom:0px;
	float:left;
	border:1px solid transparent;
	margin-bottom:10px !important;
}
.product-add-form .setaccordion{
	background: #f0f0f0;
	padding: 10px;
}
.setaccordion .custom-image-box.show-imgbox{
	border:1px solid #575757;
}
.setaccordion .custom-image-box.active{
	border-color:#575757;
}
.setaccordion .dependent-field.before_option .custom-image-box{
	/* min-width: 81px; */
	margin-bottom:10px;
}

.setaccordion .product-options-wrapper{
	overflow:hidden;
	padding-bottom:10px;
}
.product-add-form{
	padding-bottom:15px;
}
.product-add-form .setaccordion .option-image select{
	margin-top:0px;
	margin-bottom:10px;
}
.product-add-form .setaccordion .product-options-wrapper .below_option .custom-image-box{
	margin-top:0px;
	margin-bottom: 10px;
}
.product-add-form .setaccordion div.mage-error[generated]{
	margin-top: 0;
    margin-bottom: 10px;
}
.product-add-form .setaccordion .before_option .mage-error{
	display: block;
	max-width: 70%;
	 float: right;
    width: 100%;
}
.product-add-form .dependent-field.color_picker .custom-image-box{
	margin-top: 0;
}
@media screen and (max-width: 1024px) {
	.before_option .image-tplt{
		max-width:40%;
	}
	.before_option .right{
		max-width:60%;
	}
}
@media screen and (max-width: 767px) {
	.before_option .image-tplt{
		max-width:50%;
	}
	.before_option .right{
		max-width:50%;
	}
}