<?php $helper = $this->helper('MageArray\CustomOptions\Helper\Data'); ?>
<script data-template="magearray-co-images-tooltip" type="text/x-magento-tmpl">
	<div class="truncated">
		<a href="#" onclick="return false;" class="details" title="<%- description %>">
			<img
			src="<?php echo $this->getViewFileUrl('MageArray_CustomOptions::images/information.png'); ?>"
			alt="image-icon" />
		</a>
	</div>
</script>

<script data-template="magearray-co-images-box" type="text/x-magento-tmpl">
	<div class="image-tplt"></div>
</script>

<script data-template="magearray-co-images-thumbnail" type="text/x-magento-tmpl">
	<div class="custom-image-box hide-imgbox">
		<div class="custom-image">
			<img src="<%- image %>" id="option_image_<%- id %>" class="ma-images" 
			<% if(typeof layout!='undefined') {%>layout="<%- layout %>"<%} %> style="display: <%- display %>" />
			<?php if($helper->popupOptionImage()): ?>
				<a href="<%- dataurl %>" class="colorbox zoom-image" rel="colorbox" title="<%- descptn %>" id="full_image_<%- id %>">
					<img src="<?php echo $this->getViewFileUrl('MageArray_CustomOptions::images/search.png'); ?>" alt="image-icon"  />
				</a>
			<?php endif; ?>
		</div>
		<label style="display: <%- display %>" >
			<span id="op_title_<%- id %>"><%- title %></span>
			<?php if($helper->showOptionsTooltip()): ?>
			<div class="truncated">
				<a href="#" onclick="return false;" class="details" id="descptn_<%- id %>" title="<%- descptn %>">
					<img src="<?php echo $this->getViewFileUrl('MageArray_CustomOptions::images/information.png'); ?>" alt="image-icon" />
				</a>
			</div>
			<?php endif; ?>
		</label>
	</div>
</script>

<script data-template="magearray-button-box" type="text/x-magento-tmpl">
	<div class="btnbox">
		<button type="button" title="<?php echo __('Previous') ?>" class="action-Previous" id="prev-elm-<%- opId %>"><?php echo __('Previous') ?></button>
		<button type="button" title="<?php echo __('Next') ?>" class="action-next" id="next-elm-<%- opId %>"><?php echo __('Next') ?></button>
	</div>
</script>

<script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "optionImages": {
                "config" :  <?php echo $block->getOptionList(); ?>
            }
			<?php if($block->showAccordion()): ?>
			,"MageArray_CustomOptions/js/ma-accordion": {}
			<?php endif; ?>
        }
    }
</script>

<script type="text/javascript">
	var productConfigureMode = '<?php echo $block->getConfigureMode(); ?>';
</script>
